[2019-01-12 00:50] qvdk commented on #111
Fixed by #318

There are now dedicated updates sites for snapshots and releases.
Both are fulfilled automatically. Details on the [wiki](https://github.com/cucumber/cucumber-eclipse/wiki/Automated-builds-and-deployments).

[2019-01-12 00:50] #111 closed

[2019-01-12 00:52] #95 closed

[2019-01-12 00:55] qvdk commented on #61
Fixed by #290

[2019-01-12 00:55] #61 closed

[2019-01-12 01:09] #317 closed

[2019-01-14 16:24] gitdeep78 commented on #304
Anybody found any workaround for this, till it's fixed.

[2019-01-14 20:32] qvdk commented on #304
Hi @gitdeep78,

I just reproduce this issue with Eclipse 2018-12 and Cucumber Eclipse (v0.0.23) installation from the Eclipse Marketplace.

However, the installation works with the latest snapshot from our eclipse update site. This works too with an offline installation of the same version.

Thus, the installation of the latest snapshot version can be a workaround.

For an offline installation, yo

[2019-01-14 22:02] gitdeep78 commented on #304
Hi @qvdk,
Sorted, Cheers buddy.

[2019-01-15 00:10] qvdk opened #328 "When removing cucumber nature, the gherkin builder is still associated"
When removing the cucumber nature of a project, the step definitions builder and the gherkin builders should be removed.

But only the step definitions builder is removed.

Thus, the gherkin builders is always launched on this project.

[2019-01-15 07:12] #328 closed

[2019-01-22 10:54] jainsampada opened #330 "Error: Could not find or load main class cucumber.api.cli.Main"
Error: Could not find or load main class cucumber.api.cli.Main while running feature file in Maven

[2019-01-22 11:01] girijant commented on #330
@jainsampada
Have you tried to it from Eclipse ??? Try it from command prompt without using Eclipse.
Please share the detail exception stack trace with your eclipse and cucumebr-plugin version.

Thanks,
-Girija

[2019-01-25 22:00] qvdk commented on #232
Hello @PrasadNutalapati

This is probably due to the domain cucumber.io. However, this last is a redirection to cucumber.github.io. This one is known by the certificate used for HTTPS.

So, could you try with this update site url: https://cucumber.github.io/cucumber-eclipse/update-site
This should fix your issue. I updated our website.

[2019-01-26 07:09] girijant commented on #232
@qvdk,
I will update our eclipse market place URL accordingly.Thanks for sharing this info.

[2019-01-30 08:09] vladdu opened #334 "Builder does too much work"
When building incrementally, if a change to a file including step definitions is discovered, the a full rebuild is done because the changes could affect any part of the code.

This is cool, but the implementation just calls the fullBuild() method, meaning that if for example there are changes to five such files, the full build is done five times.

We should set a flag and do the full build just on

[2019-01-30 08:10] vladdu commented on #334
related to #325

[2019-01-30 09:44] qvdk commented on #334
There are 2 builders. One for the step definition detection and another for the gherkin step glue detection.
Only this last should always perform a full build since any change about steps definitions can affect the glue.

Can you explain how reproduce the five time build ?

[2019-01-30 12:48] #334 closed

[2019-01-30 21:44] qvdk opened #336 "Go to step definition failed from step which contains parenthesis"
In some gherkin files from the `karate-demo` project like [binary.feature](https://github.com/intuit/karate/blob/master/karate-demo/src/test/java/demo/binary/binary.feature). It is not possible to jump to step definition with <kbd>CTRL</kbd>+<kbd>click</kbd> or <kbd>F3</kbd> for some steps although the glue detection worked.

![sample](https://user-images.githubusercontent.com/6142398/52014392-b12

[2019-01-31 06:35] #336 closed

[2019-01-31 10:20] PyvesB commented on #164
@qvdk how does this new feature work? My step implementations are written in Ruby, but I am not able to access them from feature files using CTRL+click. Note that I have installed the latest snapshot of the plugin.

[2019-02-01 10:42] qvdk commented on #164
Helle @PyvesB

This is not a new feature for now. The plugin was fixed to be able to accept new implementations of the step definitions scan.
But currently, we only have an implementation to scan Java language.

So, for now you can only have the gherkin editor for Ruby projects, but without the glue detection.

Any contribution is welcome, if you would like to add a new implementation for Ruby.

[2019-02-02 11:57] PyvesB commented on #164
It would probably be beneficial to update the [contributing documentation](https://github.com/cucumber/cucumber-eclipse/wiki/Start-contributing) and/or fix the project setup, because just importing the project as an existing Maven project as suggested in the Wiki leads to something that doesn't even have the Java nature and that can't be run as an Eclipse application (which is generally how you la

[2019-02-05 00:12] qvdk commented on #164
I followed this guide and it works for me.
Does you have eclipse PDE plugin installed previously ?

[2019-02-05 00:14] qvdk commented on #304
Close since this seems resolved with the 1.0.0-SNAPSHOT.

[2019-02-11 18:54] apsys commented on #232
I am getting below error:

Unable to read repository at https://cucumber.io/cucumber-eclipse/update-site/content.xml.
sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

I'm using:
Eclipse Java EE IDE for Web Developers.

Version: 2018-09 (4.9.0)
Build id: 2018

[2019-02-20 09:33] michaelkehr opened #342 "no definition found for "..." can not be shown as error"
I'd like to have the possibility to configure cucumber warnings as errors plus I want to see them in Eclipses Problems Tab. The way it's currently implemented you easily miss "undefined" steps

[2019-02-22 22:46] mikejramsey56 commented on #303
phanikshr (or anyone else who finds there way here) check if your step definition specified

<import cucumber.api.java.en.*;>

If so, simply replace it with

<import.api.java.en.Given;>
<import cucumber.api.java.en.Then;>
<import cucumber.api.java.en.When;>

[2019-03-06 21:29] laisportugal commented on #257
Thank you! I had the same issue and it worked for me

[2019-03-12 04:18] laeubi commented on #291
A first implementation is available in the master, we should track any issues/enhancements with this in new tickets.

[2019-03-12 04:18] #291 closed

[2019-03-12 04:22] laeubi commented on #190
The main problem is, that the "core" cucumber that is used for this plugin is rather outdated. We need to rethink the whole concept of running from within eclipse feature files, so I mark this as well as bug and enhancement.

[2019-03-12 04:30] laeubi opened #344 "NPE in SameLocationFilter with current Snapshot"
java.lang.NullPointerException
	at cucumber.eclipse.steps.integration.filter.SameLocationFilter.accept(SameLocationFilter.java:16)
	at cucumber.eclipse.steps.integration.filter.SameLocationFilter.accept(SameLocationFilter.java:1)
	at cucumber.eclipse.steps.integration.filter.FilterUtil.filter(FilterUtil.java:9)
	at cucumber.eclipse.editor.builder.CucumberGherkinBuilder$MarkerFormatter.filter(Cucum

[2019-03-12 04:34] laeubi commented on #344
If a step is derived not from the current project but from a referenced clasppath-entry there might be no source avaiable. In this case getResource() might return null what seems to be the issue here.

[2019-03-12 04:37] laeubi commented on #344
Another possible problem might be that the resource is there, but the parent is null, so this should be checked also

[2019-03-12 05:49] SuperOok commented on #344
What if the source is available but in another project in the workspace? Will it be found?

[2019-03-12 05:56] laeubi commented on #344
If the project is added as a referenced project: yes.

This was fixed and is available in the snapshot now.

[2019-03-12 05:56] #344 closed

[2019-03-12 09:50] laeubi opened #346 "Invalid Object for Configuration on project"
An error occurs with the current snapshot when trying to configure a project for Eclipse Photon

[2019-03-14 20:55] PyvesB commented on #164
Yes, I do have the PDE plugin installed.

[2019-03-19 08:39] individual-it commented on #236
still happens for me with eclipse 4.10.0 and cucumber-eclipse snapshot 2019-03-12 11:00:03

[2019-03-19 10:00] laeubi commented on #346
Fixed

[2019-03-19 10:00] #346 closed

[2019-03-19 10:01] laeubi opened #349 "CucumberGherkinBuilder throws Exception"
java.lang.IndexOutOfBoundsException: Index: 1, Size: 1
        at java.util.ArrayList.rangeCheck(Unknown Source)
        at java.util.ArrayList.get(Unknown Source)
        at cucumber.eclipse.editor.builder.CucumberGherkinBuilder$MarkerFormatter.getExampleVariablesMap(CucumberGherkinBuilder.java:472)
        at cucumber.eclipse.editor.builder.CucumberGherkinBuilder$MarkerFormatter.matchScenarioOut

[2019-03-25 12:40] kingoleg opened #350 "Is there any ETA for eclipse 2019.03 aka 4.11?"
Hi,

Can we have a new version that support the latest eclipse version?

Regards,
Oleg

[2019-03-25 13:27] laeubi commented on #350
I think it would help if you describe what does not work... Do you get any error? incompatible imports? Other issues?

[2019-03-25 13:45] qvdk commented on #350
Do you install the latest version from Eclipse Marketplace or the latest snapshot ?

[2019-03-25 13:56] kingoleg commented on #350
I tried to install it from Eclipse Marketplace But it's impossible. Eclipse deny it, I think, because it's marked as incompatible with 2019.03. Should I use the latest snapshot?

[2019-03-25 14:00] qvdk commented on #350
Yes the latest snapshot should be compliant.
More, there are a dedicated eclipse update site to be kept up-to-date with the latest development version.
Instructions on how to install it are availables here : https://github.com/cucumber/cucumber-eclipse

Please let us to know if this version solves your issue.

[2019-03-25 14:08] kingoleg commented on #350
Thanks, I was able to install it.

Does it stable enough to stay on the snapshot site?

[2019-03-25 14:16] kingoleg commented on #350
Hehe.

But, I have editor support only now:
In my *.feature file I have following warning:

Multiple markers at this line
- Step definitions detection works only when the project is configured as cucumber project.
- 189 changed lines

Even after I tried to convert the project to cucumber one

[2019-03-25 15:26] laeubi commented on #350
Try to perform a clean on the project.

[2019-03-25 16:28] qvdk commented on #350
Thanks for your feedback !

You must convert your project as a cucumber project.
Right click on your project from the Project Explorer > Configure > Convert as Cucumber Project.

The snapshot comes without any warranty. It is automatically updated on each new contribution.

[2019-03-25 16:28] #350 closed

[2019-03-26 10:30] kingoleg commented on #350
Hi,

"clean on the project." - done.

Still it doesn't work as excepted. For example, in *.feature file F3 does not open related step

[2019-03-26 10:36] qvdk commented on #350
This is required to enable step definitions detection.

[2019-03-26 10:57] kingoleg commented on #350
I clicked "Convert as Cucumber Project." several times for the project.

[2019-03-26 11:12] qvdk commented on #350
Could you check if your project builds correctly ? Is it a java project ? Does you have Project > `Build automatically` enabled ?

[2019-03-26 11:18] kingoleg commented on #350
Yes, it's java maven project. The Build automatically is turned on.

.project contains

	<natures>
		<nature>org.eclipse.jdt.core.javanature</nature>
		<nature>org.eclipse.m2e.core.maven2Nature</nature>
		<nature>org.eclipse.wst.common.project.facet.core.nature</nature>
		<nature>cucumber.eclipse.nature</nature>
	</natures>

[2019-03-26 11:23] qvdk commented on #350
With `Convert as Cucumber Project`, you should have the `cucumber.eclipse.nature` with its builders `cucumber.eclipse.builder.stepdefinition` and `cucumber.eclipse.builder.gherkin`.

Do you have errors in your logs when trying to convert ?

[2019-03-26 11:42] kingoleg commented on #350
There is no error log when I tried  to convert it again.

I dropped cucumber.eclipse.nature from .project, refreshed the project in eclipse, converted the project to cucumber project and now I can see the builders you mentioned.

Now F3 works on *.feature!

Thanks!

[2019-04-10 06:39] laeubi commented on #349
@SuperOok This seems to happen when the examples table is misaligned (e.g. the number of cols does not match the number of variables like in

[code]

[2019-04-10 07:11] laeubi commented on #349
![grafik](https://user-images.githubusercontent.com/1331477/55858648-89549f80-5b70-11e9-8864-9b9983dee2c4.png)
A new error marker is now shown to inform the user about the issue

[2019-04-10 07:28] #349 closed

[2019-04-10 08:30] laeubi opened #353 "Content assist should support latest gherkin language definitions"
Currently the very old i18n style defintion (2.x) is used, this has several restrictions and suffers from bug fixes, we should update to the gherking 5.x for content assist.

[2019-04-10 13:41] #353 closed

[2019-04-15 11:55] laeubi opened #355 "NPE on Eclipse startup"
java.lang.NullPointerException
        at org.eclipse.core.runtime.Path.append(Path.java:319)
        at org.eclipse.core.internal.resources.Container.findMember(Container.java:104)
        at org.eclipse.core.internal.resources.Container.findMember(Container.java:99)
        at cucumber.eclipse.steps.integration.ResourceHelper.find(ResourceHelper.java:11)
        at cucumber.eclipse.editor.steps.

[2019-04-15 12:35] laeubi opened #357 "Strange error Message on parse errors"
If you have a feature file that has syntax errors, sometimes a strange message occurs saying "background line 0", this is very confusing for the user for the following reasons:

- if you have another language, then there is no 'background' text in the whole file
- because of no line number the use can't even see what line is affected

[2019-04-15 12:48] #357 closed

[2019-04-17 20:21] karisN opened #359 "Unable to rerun a single feature in eclipse"
Using the JUnit runner, I used to be able to right-click on a single test(.feature) and re-run, it now throws an error
![image](https://user-images.githubusercontent.com/4590565/56318208-538d5900-6124-11e9-8021-043ecd77076b.png)

`java.nio.file.InvalidPathException: Illegal char <:> at index 111: C:\......\.temp-Rerun .....CucumberRunner.Feature: About-classpath-arg-1555511782195.txt
    at sun.ni

[2019-04-21 05:59] Imspaliwal commented on #283
@wattle9 Could you please let me know, how to generate step definitions for Java projects in Eclipse.

Quick fix not work for me in eclipse.
Also Console is not generating output for me after running runner class to implement missing steps.

[2019-04-21 15:02] laeubi commented on #283
Then something is strange with your feature file... Because the plugin uses cucumber to generate the missing steps code it won't work if cucumber itself does not detect your missing steps/can generate code for it...

[2019-04-23 15:54] AlanBarrera commented on #303
@mikejramsey56 Brilliant!! That did the job for me. Thank you!

[2019-04-24 16:58] qvdk commented on #303
Could you provide a sample to reproduce your issue please ?

[2019-04-24 19:15] AlanBarrera commented on #303
@qvdk You can use my repo:

https://github.com/AlanBarrera/CucumberExercisesRepo

In the _StepDefs_Register.java_ file, change this individual imports:

import cucumber.api.java.en.Given;
import cucumber.api.java.en.Then;
import cucumber.api.java.en.When;

for:

import cucumber.api.java.en.*;

Then open the _Register.feature_ and an error window should prompt.

[2019-04-25 14:04] qvdk commented on #303
Thanks @AlanBarrera I will take a look

[2019-04-25 21:37] mikejramsey56 commented on #303
Alan,
 It took a late evening to figure that one out.  Glad that it helped.

[2019-04-27 16:43] echebbi opened #360 "StackOverflowError on circular project dependencies"
## Expected behavior

A project with the _Cucumber_ nature builds without error.

## Current behavior

A project with the _Cucumber_ nature produces `StackOverflowError` during the build.

## Context

I am using Cucumber to test Eclipse plug-ins and I got a `StackOverflowError` each time my project (which has the Cucumber nature) is built.

The stacktrace is the following:
[code]

## Origin of the

[2019-04-27 16:50] echebbi opened #361 "Provide a dedicated update site to use Cucumber in Eclipse environment"
I am currently using Cucumber to test Eclipse plug-ins.

I don't know if that depends on you but it would be really convenient to dispose of an official update site that would provide Cucumber JAR as OSGi bundles (just as [Orbit](https://download.eclipse.org/tools/orbit/downloads/) does).

Moreover, the `Cucumber` JUnit runner cannot be used as it is within an OSGi environment (mainly because it d

[2019-05-02 06:54] laeubi commented on #361
This is more an issue with cucumber-core/jvm/... this project is just for providing IDE integration.

[2019-05-02 06:56] laeubi commented on #360
What do you mean by "circular project dependencies" AFAIK Eclipse does not support circles in project dependencies.

[2019-05-02 06:59] laeubi commented on #330
I also see this problem, beside this the Run As>Cucumber-Feature is broken in recent eclipse versions, this is due to the unimplemented
`void launch(ISelection selection, String mode)`

[2019-05-02 07:07] laeubi commented on #330
The problem seems that the classpath does only contain user entries when computed by the runner and not the eclipse classpath.

[2019-05-02 07:49] echebbi commented on #361
That's what I thought. However, since you already package Cucumber's JAR and are familiar with Eclipse stuff I preferred to ask here first.

I will submit a new issue to the cucumber-jvm repo, then; maybe that the more convenient solution will be to create a dedicated repo for OSGi integration?

[2019-05-02 08:11] echebbi commented on #360
I actually discovered that calling `project.getReferencedProjects()` on a project owning the _Plug-in development_ nature will also return all the local projects that are specified as dependencies within the project's _MANIFEST.MF_ files. By "local projects" I mean the projects that are in the workspace.

I am trying things a bit tricky so there may be something wrong with my dependencies but stil

[2019-05-02 13:23] melloware opened #362 "Custom Type Registry reporting not found"
Cucumber Eclipse:   1.0.0.201904151253
Eclipse: 2019-03 (4.11.0)

**Custom Type Registry:**
[code]

**Step:**

[code]

In my Gherkin its reporting as the step is not resolving:

![image](https://user-images.githubusercontent.com/4399574/57078321-0aa8d900-6cbc-11e9-8bb3-c76a8c83b947.png)

[2019-05-03 10:33] laeubi commented on #362
You must

1. use the latest snap-shot build
2. enable java backend in the project settings
3. rebuild the project

[2019-05-03 11:38] melloware commented on #362
I am on the SNAPSHOT release  1.0.0.201904151253 as I followed the SNAPSHOT instructions.

I enabled Java Backend:
![image](https://user-images.githubusercontent.com/4399574/57135124-59b34480-6d76-11e9-9f9a-24e4d754231f.png)

I rebuilt my project and I still have the same exact results that it is not finding my custom registry.  When I run the tests the code works fine so its definitely configured

[2019-05-03 14:20] laeubi commented on #362
Where is the factory located? It must be located in the package named in the glue and in the same project as the feature file.

[2019-05-03 14:28] melloware commented on #362
Yep that is exactly the case it is located in my glue code directory listed above in the screenshot.

[2019-05-04 16:47] ouryperd commented on #275
+1 for src/test/groovy

[2019-05-06 07:11] laeubi commented on #275
In fact it does not require any folder structure, but currently only java annotated files are supported

[2019-05-06 07:14] laeubi commented on #252
Please use one of the support channel http://cucumber.io/support#slack instead of the issue tracker to ask questions.

[2019-05-06 07:14] #252 closed

[2019-05-06 07:14] laeubi commented on #253
Please use one of the support channel http://cucumber.io/support#slack instead of the issue tracker to ask questions.

[2019-05-06 07:14] #253 closed

[2019-05-06 07:38] laeubi commented on #330
Duplicate of #190

[2019-05-06 07:38] #330 closed

[2019-05-06 09:46] echebbi commented on #360
Fixed by #363.

[2019-05-06 09:46] #360 closed

[2019-05-10 10:20] ouryperd commented on #275
I mean +1 for Groovy support.

[2019-05-15 14:31] Vimal-N opened #364 "Unable to Install Cucumber for Eclipse Plugin (2019-03 R Package)"
Cucumber Eclipse Plugin not compatible with Eclipse 2019-03 R Package versions.

![2019-03 installation Error](https://user-images.githubusercontent.com/29984601/57783650-806d6580-76fc-11e9-8913-8eec78404b78.png)

[2019-05-16 07:55] cailliaud commented on #364
Same issue trying to install the plugin on Eclipse :
Version: 2019-03 (4.11.0)
Build id: 20190314-1200

[2019-05-16 14:37] cbaldan commented on #364
@cailliaud did you manage to install anything from that repo? It says

I was able to install downloading the latest Snapshot zip to my PC.

[2019-05-17 17:11] skumardgl3 commented on #364
I think cucumber can be installed in following Eclipse versions only:
Eclipse Versions:
2018-09 (4.9), Photon (4.8), Oxygen (4.7), Neon (4.6), Mars (4.5), Luna (4.4), Kepler (4.3), Juno (4.2, 3.8), Previous to Juno (<=4.1)

I have learned this in the hard way. Hope it helps

[2019-05-17 17:14] cailliaud commented on #364
@cbaldan even if you have a 404 on the website it works on eclipse :

![image](https://user-images.githubusercontent.com/19285360/57944654-f843b780-78d7-11e9-9bc0-d96f69ef44ab.png)

[2019-05-17 17:40] Vimal-N commented on #364
@cailliaud @cbaldan I tried snapshot approach but Eclipse for some reason wasn't able to get the snapshot downloaded. So, I ended up downloading 2018 version of eclipse instead to get cucumber plugin in.

[2019-05-18 17:35] skumardgl3 commented on #303
It worked for me
Please explain the reason for this

[2019-05-23 16:47] jchoate49 commented on #136
I was wondering if this was ever fixed as I have the same problem going on with Cucumber plugin and Eclipse.

[2019-05-24 08:23] laeubi commented on #136
Currently the launching does not work very well (see #190) I'm working on fixing this and probably then the debuging will work also.

[2019-06-03 09:59] xiajikaluli opened #365 "When feature file define with language zh-CN，feature file show warning message:"Step '***' does not have a matching glue code""

[2019-06-03 10:06] xiajikaluli commented on #365
The waring not display when I using English ,here is my feature file
`# creator: wx
#language:zh_CN
@test
  功能: 测试合作方控制台登录
##########################测试用例——登录##################
    场景: 登录
      假如 打开浏览器实例
      当 访问<登录>页面
      当 在<登录>页面<邮箱>元素输入<wangxuan1@zccp.com>
      当 在<登录>页面<密码>元素输入<wx861210>
      当 在<登录>页面点击<登录>元素
      那么 当前页面是<选择链>
      那么 <选择链>页面<用户信息>元素包含文本<欢迎你，wangxuan1@zccp.com>

[2019-06-04 02:22] xiajikaluli opened #366 "When open feature file, Eclipse display Problem Occured"
An internal error occurred during: "Scanning for step definitions". java.lang.NullPointerException
![image](https://user-images.githubusercontent.com/8199375/58846684-9f836580-86b2-11e9-9703-1d70293cb3e5.png)

[2019-06-04 06:55] #366 closed

[2019-06-04 06:57] xiajikaluli commented on #366
I write wrong language info，zh-CN is correct ,but mine is zh_CN

[2019-06-04 06:58] #365 closed

[2019-06-04 07:50] qvdk commented on #366
Thanks for your feedback.
This error should not be thrown and a language parsing error should be displayed in the error view.

[2019-06-04 13:56] nitind commented on #364
The **Marketplace entry itself** needs to be updated to list 2019-03 (and now 2019-06) as compatible versions.

[2019-06-05 05:19] girijant commented on #364
Updated in the Eclipse-Marketplace for the Supported Eclipse Release versions :
2019-06 (4.12) and 2019-03 (4.11).

Thanks,
Girija

[2019-06-25 15:55] bobpaige opened #367 "Eclipse doesn't find step definitions in jar files"
I understand this feature was added previously, but it is not working for me today.

I am running Spring Tool Suite 4
Version 4.2.1.RELEASE
Build Id: 201904170946

I had previously installed eclipse-cucumber via the update site, but now that it is available in the Marketplace, I uninstalled it and re-installed via the Marketplace. It was the same version anyway.

I started with the step definition

[2019-06-26 12:41] bobpaige commented on #367
I tried a few more things and the situation is getting worse.

First, I upgraded cucumber-java to the latest version (was at 2.0.1, upgraded to 4.4.0).
Second, I reinstalled STS and the eclipse-cucumber plugin.

Now my original project (where the step definitions are discreet classes in src/main/java) no longer can find the step definitions.

It is important to note that everything runs fine from

[2019-06-26 12:47] qvdk commented on #367
Hi,
Could you provide a sample projet where the bug is reproductible on GitHub please ?
Can you confirm your test project has the Cucumber project nature ?
Thank you for your feedback.

[2019-06-26 16:52] bobpaige commented on #367
I confirmed I don't have the Cucumber nature on my project. But after I
added it in Eclipse, the behavior has not changed.

[image: image.png]

.project file before:
<?xml version="1.0" encoding="UTF-8"?>
<projectDescription>
        <name>in-cucumber</name>
        <comment></comment>
        <projects/>
        <natures>
                <nature>org.eclipse.jdt.core.javanature</nature>
        </

[2019-06-27 06:00] laeubi commented on #367
please make sure to clean the project once after enable the new nature

[2019-06-27 21:32] bobpaige commented on #367
I added this sample project today: https://github.com/bobpaige/cucumber-eclipse-with-libs

The README.md explains how to reproduce what I'm seeing.

Feel free to comment/email with suggestions. I really like the plugin and appreciate you helping me through this complication.

[2019-07-01 23:32] qvdk commented on #367
I can't reproduce your case. After importing your sample as you described, I added the Cucumber nature from the contextual menu (right click on project) `Configure > Convert to Cucumber Project...`, then the steps are detected as expected. (cf. screencast)

Version: 2019-06 (4.12.0)
Build id: 20190614-1200

![with-libs gif](https://user-images.githubusercontent.com/6142398/60472397-04f25400-9c69-1

[2019-07-01 23:46] qvdk commented on #367
OK I reproduced the issue.
The version from the Eclipse Marketplace is not up-to-date.
Please install the latest snapshot of the plugin from our Eclipse update site as described here: https://github.com/cucumber/cucumber-eclipse-update-site-snapshot

This version will work.

@girijant Could you update the Eclipse Marketplace with the latest snapshot please ?

[2019-07-02 01:58] bobpaige commented on #367
Thanks for the update.

I removed the copy from Eclipse Marketplace and installed from the update site. It does indeed find the definitions now, but I'm seeing two new behaviors.

The first one seems to be innocuous. After converting to a Cucumber project and cleaning the project, it creates a new "cucumber-eclipse-with-libs" directory within my directory. I tried this a couple times with variatio

[2019-07-03 18:44] bobpaige commented on #367
I may have tracked down this latest issue, and it is in my project not the plugin.

I had some old .class files in the Eclipse /bin directory that Eclipse was *not* removing when I cleaned the project. I had to manually delete the directory (sigh).

Thanks again for your time in tracking this down.

[2019-07-04 08:49] qvdk commented on #367
You are welcome.
Thanks for your feedback.

[2019-07-04 08:49] #367 closed

[2019-07-08 15:43] kennethoys opened #368 ".feature doesn't work with import from io.cucumber but work with cucumber.api"
Eclipse 4.10.0 2018-12
Cucumber Eclipse Plugin 0.0.23.201811220126

![image](https://user-images.githubusercontent.com/17513807/60823142-79814180-a1d9-11e9-9093-2aaad3ff0be3.png)

With io.cucumber
![image](https://user-images.githubusercontent.com/17513807/60823237-ae8d9400-a1d9-11e9-9fde-8da115efb891.png)

![image](https://user-images.githubusercontent.com/17513807/60823278-c9f89f00-a1d9-11e9-8f9

[2019-07-11 11:50] timtebeek commented on #368
@qvdk The annotations were moved to `io.cucumber` in 4.5.x ahead of a 5.x release; What would be needed for the plugin to pick up these changes? Should we upgrade the library versions in https://github.com/cucumber/cucumber-eclipse/tree/master/cucumber.eclipse.backends.java/lib ? Or do you recon any other changes would be needed?

[2019-07-11 13:02] qvdk commented on #368
Hi @timtebeek

The upgrade of cucumber libraries will not solve this issue.
Unfortunatelly, the plugin does not delegate the work to the cucumber library itself. Presently, the plugin have its own implementation to resolve glue and gherkin analysis.
This is an issue.
Idealy, the plugin should delegate all works to cucumber itself. The user should be able to choose its cucumber version as the JDK a

[2019-07-12 06:33] gliang-sugarcrm commented on #303
Thanks @mikejramsey56 ! Changing the '.*' to '.Then', 'When', ... etc works for me!

[2019-07-12 06:35] gliang-sugarcrm commented on #303
I accidentally changed all the individual '.Then', '.When' ... to '.*' and hit the same issue immediately. Thanks again @mikejramsey56 .

[2019-07-16 18:21] vandanagaikwad3 commented on #198
import org.junit.runner.RunWith;
import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;
//import cucumber.api.testng.AbstractTestNGCucumberTests;

@RunWith(Cucumber.class)
@CucumberOptions(
		features="src/test/java/Feature",
		glue= {"StepDefination"}
		)

public class TestRunner {

}

[2019-07-16 18:21] vandanagaikwad3 commented on #198
Not working using maven

[2019-07-18 13:53] AdrianSchneble opened #370 "Deprecated Main class cucumber.api.cli.Main"
When launching my feature files using the plugin, I get a warning in the console stating "You are using deprecated Main class. Please use io.cucumber.core.cli.Main".

This has been changed just about a month ago (see https://github.com/cucumber/cucumber-jvm/pull/1670). The old class is currently a delegate to the new class, so this doesn't break anything (yet?), but the warning is a little annoyin

[2019-07-18 16:29] laeubi commented on #370
If we simply change this, this wil break for everyone using an older cucumber-version so it is not that easy as it seems.

[2019-07-19 19:48] RusmanCool commented on #370
@laeubi Could you release a new Major version update that uses the latest io.cucumber pacakages? It allows to start using new features without braking the code for all users of the dependency. This is how it is done industry wise.

[2019-07-19 21:17] a1dutch commented on #370
The way this is generally handled is you try to load the new class in the new package, if it fails with a class not found exception you load the old class.

[2019-07-22 15:18] mohanaraosv commented on #350
Details :
Eclipse 2019-06
cucumber version 4.7.0
Detecting glue code is working only with following deprecated annotations
[code]
and not working with the following new annotations
[code]
Please suggest what could be the problem

[2019-07-25 17:57] RusmanCool commented on #368
@timtebeek I have the latest plugin version from ZIP archive(v 1.0.0.201907020018), and the issue is still present in Eclipse Version: 2019-06 (4.12).

[2019-07-25 18:02] RusmanCool commented on #362
@laeubi , I can confirm that the issue is still present even with the plugin v1.0.0.201907020018. I had followed above steps and a step in *.feature is still marked as not found.

[2019-07-25 18:40] RusmanCool opened #371 ""Invoking 'Cucumber step definitions builder'" takes a very long time and CPU intensive"
After Building/Re-building a Maven project, "Invoking 'Cucumber step definitions builder'" it triggered. It consumes about 80% of CPU time(E5-2673 v3 Xeon with 2.40 GHz and 8 logical processors). In addition, it takes about 1-2 minutes to finish the process :(

Eclipse: Version: 2019-06 (4.12)
Cucumber plugin: V: 1.0.0.201907020018

[2019-07-26 05:10] laeubi commented on #368
@timtebeek is there a simple project I can download that uses the new annotation? I'll then take a look at this, shouldn't be a problem.
The problem with delegation to cucumber itself is, that the cucumber code is not very "IDE friendly" and clearly optimized for internal use only.
Even worse, with Gherking6 the decided to not even provide real java support but packing some large GO binaries to do

[2019-07-26 05:57] timtebeek commented on #368
@laeubi Thanks for offering to help! @qvdk mentioned he usually ust plays around with the cucumber-jvm examples in https://github.com/cucumber/cucumber-jvm/tree/master/examples .

Note that the cucumber-jvm examples were changed to use cucumber expressions rather than regular expressions over a year ago, but it's unclear whether the plugin presently supports both: https://github.com/cucumber/cucum

[2019-07-26 06:17] mpkorstanje commented on #368
@laeubi

I am aware that it is a problem. But I'm unfamiliar with the needs of an IDE to really account for it. Would you be able to create a few tickets that outline the things that need to be facilitated?

I don't expect Cucumber JVM will use Gherkin 6 until it does.

[2019-07-26 06:22] laeubi commented on #368
@mpkorstanje thanks for offering support in that area, should I file issues against https://github.com/cucumber/cucumber-jvm/issues ?

[2019-07-26 06:30] mpkorstanje commented on #368
When in doubt I'd start with Cucumber-JVM. I also think we may need to use something that isn't tied quite so strictly to a specific Cucumber implementation.

[2019-08-01 09:27] ralphkar opened #372 "cucumber-eclipse plugin does not support Cucumber 5"
I am currently using the current develop version of Cucumber 5, but the cucumber-eclipse plugin does no longer seem to be able to match the steps with the Java code.
To be honest... this is not only since Cucumber 5 but is also a problem with the latest versions of Cucumber 4 (e.g. 4.7.1)

[2019-08-01 10:45] trzimar commented on #372
Might be connected with issue #368

[2019-08-02 05:52] laeubi commented on #372
This is a duplicate of #368

Just wondering: Why do you use Cucumber 5 development, what are the new features/bugfixes that requires this?
We are currently working on a way to handle over the parsing to cucumber runtime itself, but this will take some time, because most of the people here are working in their free time for this.

If your company is specially interested in cucumber-5 support for th

[2019-08-02 06:05] ralphkar commented on #372
Ok, it's a duplicate...

Just as info: Yes, we are currently using Cucumber 5 development, because it allows us to run different tests with different DI configurations. Our app has some plugin functionality and this way we can configure differently for plugins.
AFAIK Cucumber 5 might be released in september. I have absolutely no experience in developing Eclipse plugins so I guess I'll just have t

[2019-08-02 06:05] ralphkar commented on #372
Duplicate of #368

[2019-08-02 06:05] #372 closed

[2019-08-02 07:01] laeubi commented on #372
@ralphkar 'different tests with different DI configurations' this is another feature that is not implemented yet and probably would require even more work since currently cucumber eclipse plugin works on a project level.

[2019-08-02 07:25] ralphkar commented on #372
Ok. I see. I am not aware of all the capabilities of cucumber-eclipse. We
are not running any tests through the plugin, but rather use it to support
us in the IDE. We like the syntax highlighting and the capability to find
the source code for a test step. This is about it. And for that different
DI configurations at test runtime (see: object factory) should not be
relevant.

Greetings,
Ralph

Am F

[2019-08-02 07:37] laeubi commented on #372
This depends, if you use TypeFactories, these are found through the ObjectFactory and currently the latest snapshot version of the plugin only support one per classpath as cucumber cli.

[2019-08-02 07:42] qvdk commented on #350
@mohanaraosv the annotations from the package `io.cucumber.java` comes from the next version of cucumber. This one is not yet supported by the plugin. See #368

[2019-08-02 08:50] ralphkar commented on #372
True, this could be an issue.
But not in our setup. We do not vary the DI configuration that provides the
Cucumber stuff, but only the one that varies our application.
We run it through different JUnit tests. Each of the test uses
@CucumberOptions to specify a different object factory.

Am Fr., 2. Aug. 2019 um 09:37 Uhr schrieb Christoph Läubrich <
notifications@github.com>:

[2019-08-03 12:19] AmOkeyBright commented on #303
Please can anyone be of help to me.  I have having those yellow signs in my feature file which says  Step "XXXXXXX" does not have a matching glue code, though i have the step definitions. My feature files are in src/test/resources/Features folder while my stepDefinitions class are in src/test/java/steps package.  **I am relatively new to Cucumber**
![CucumberCapture](https://user-images.githubuser

[2019-08-05 18:28] gliang-sugarcrm commented on #303
If you right click on a step with yellow sign and click on “Find step”, does it find the step for you? (assuming you are using Eclipse for your cucumber java project)

From: AmOkeyBright <notifications@github.com>
Reply-To: cucumber/cucumber-eclipse <reply@reply.github.com>
Date: Saturday, August 3, 2019 at 5:20 AM
To: cucumber/cucumber-eclipse <cucumber-eclipse@noreply.github.com>
Cc: Gang Liang

[2019-08-07 12:25] ghijsma commented on #232
Getting same error for plugin version: 0.0.23.xxxx
Unable to read repository at https://cucumber.io/cucumber-eclipse/update-site/content.xml.
sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

Using Eclipse version:
Eclipse IDE for Java Developers
Version: 201

[2019-08-10 13:36] timtebeek commented on #368
Added a comment to https://github.com/cucumber/cucumber-jvm/issues/1711#issuecomment-520132677 which might be relevant here; it's a new approach at running a plugin in cucumber-jvm itself to let it tell you which lines in .features match which lines in .java files. Hope it helps getting 5.0 support off the ground, and could remove the need for a parallel feature discovery layer in cucumber-eclipse

[2019-08-11 06:13] laeubi commented on #172
Realtes to #275

[2019-08-11 06:17] laeubi commented on #127
@ptimson Can you provide a sample file?

[2019-08-11 06:19] laeubi commented on #126
Seems to be fixed, please reopen if still an issue

[2019-08-11 06:19] #126 closed

[2019-08-11 06:20] laeubi commented on #90
Please reopen with details if there is still demand for this.

[2019-08-11 06:20] #90 closed

[2019-08-11 06:23] laeubi commented on #56
I'll see what we can do, the "problem" on this is, that we use cucumber to format the source and replace the entire editor content with this.

[2019-08-11 06:24] laeubi commented on #45
Seems to be fixed by PR please reopen if still an issue.

[2019-08-11 06:24] #45 closed

[2019-08-11 06:25] laeubi commented on #44
@selvaraj259 can you please provide more details?

[2019-08-11 06:29] laeubi commented on #9
Missing features will be tracked in separate issues.

[2019-08-11 06:29] #9 closed

[2019-08-11 06:31] laeubi commented on #6
@ilanpillemer can you provide the example please?
@mpkorstanje can you tell what "database of steps in cucumber-jvm" could be referenced here?

[2019-08-16 13:18] ilanpillemer commented on #6
@laeubi I am afraid my memory of most of what I thought, did, achieved, ate, drank, watched in 2013 is a bit sketchy. And this particular memory did not make it through.

[2019-08-16 15:13] laeubi commented on #6
Okay thanks, maybe @mpkorstanje has an idea otherwise I'll just close the ticket.

[2019-08-16 15:56] mpkorstanje commented on #6
In eclipse you have a feature to show the call hierarchy of a method. Shows all callers and the callers of callers. Since steps call methods, it would be nice if they were included.

Havent got the foggiest idea what the repository of steps could be though.

[2019-08-16 17:29] laeubi commented on #6
Okay that makes sense. Will keep this open then.

[2019-08-30 11:45] Savitapanwar commented on #204
Hi  girijant

I have intalled plugin suggested by you here -

 but F3 dosent seem to be working.

Is there something i am missing?

[2019-09-02 11:52] DhavalSonejiQA commented on #274
@Hugale12  I found the same error, Can you please help me out ?

[2019-09-03 05:38] DhavalSonejiQA commented on #274
I have found the solution, The Query is resolved.

[2019-09-04 14:20] Shiridish-BK opened #373 "Cucumber-eclipse plugin does not identify step definitions when io.cucumber.java.en annotations are used"
I have a maven project with cucumber dependencies (v4.6.0) and I have installed cucumber-eclipse plugin v0.0.23.2018 in my Eclipse (v2019-06 (4.12.0)).

I see that the step definitions are not identified by the plugin in this project. I am not sure what I have done wrong.

FYI, I have downloaded the cucumber-java-skeleton project and I see that the step definitions are identified there by the plug

[2019-09-04 14:53] mpkorstanje commented on #373
Check https://github.com/cucumber/cucumber-eclipse/pull/369 you'll have to use the snapshot update site until this has been released.

[2019-09-04 15:01] Shiridish-BK commented on #373
Oh OK. It would have been nice if the cucumber version that the officially released plugin supports/uses is mentioned in the documentation to avoid this confusion. In case if this is already there, kindly point me to URL.

[2019-09-05 07:42] mpkorstanje commented on #373
It most certainly would be! However Cucumber is an open source project and moves at the speed of its mostly unpaid volunteer contributors. But that does mean you can easily make improvements where necessary.

Feel free to add a brief note to the release notes for 4.5.0 to inform people how to get the most recent snapshot. You can find Cucumber-JVMs change log here: https://github.com/cucumber/cucu

[2019-09-05 15:24] qvdk commented on #373
For more information on how to automatically update eclipse with the latest snapshot of the cucumber eclipse plugin see : https://github.com/cucumber/cucumber-eclipse#follow-the-latest-snapshot

[2019-09-06 09:37] qvdk commented on #373
@Shiridish-BK can you confirm if the latest snapshot solves your issue ?

[2019-09-07 14:32] Shiridish-BK commented on #373
@mpkorstanje I added a note to the release notes for 4.5.0 and created a pull request.

[2019-09-07 14:34] Shiridish-BK commented on #373
@qvdk Yes, I tested the latest snapshot and it works fine. Thank you.

[2019-09-07 14:34] #373 closed

[2019-09-10 16:05] DraxDomax commented on #370
I am sorry, I am quite the newbie (probably shouldn't be commenting here), but if I understand correctly:
The cucumber plugin for eclipse calls the old main method (which still works).
In that case, what is the point to change the main method? (since the plugin is calling the old one anyway).
Is it in order to facilitate modernisation within other IDEs (so, for example, IntelliJ wouldn't have this

[2019-09-13 14:06] dvarshney86 commented on #257
I tried doing all the provided suggestions, but still facing the same problem. Please see the attached screenshot...
![image](https://user-images.githubusercontent.com/21123194/64868835-67d87200-d640-11e9-98fa-3428512eaf74.png)

[2019-09-13 14:08] dvarshney86 commented on #207
I am still facing the problem despite doing all the suggested mods.
![image](https://user-images.githubusercontent.com/21123194/64868981-aff79480-d640-11e9-8638-49f79c3d60f9.png)

[2019-09-13 15:53] qvdk commented on #257
@codermvn please could your provide more information: Eclipse version, Cucumber plugin version, and your project description. Maybe a simple project where the issue is reproductible ?

[2019-09-13 16:54] carlduranleau commented on #302
Using the latest Cucumber plugin `0.0.23.201811220126` and I can't use multiple package names in the configuration. And maybe I don't understand how it works, but to make the text field `Only match steps from specific package and sub-packages` work, I need to keep the checkbox `Only match steps from package and sub-packages` unchecked. I really don't get the point here.

If I don't check the box a

[2019-09-13 18:09] bryanjb9 commented on #207
Can I see the structure of your project, where are the features, the
runners and the steps?

On Fri, 13 Sep 2019 at 10:08, coder <notifications@github.com> wrote:

[2019-09-13 20:49] qvdk commented on #302
@carlduranleau This feature is available since the 1.0.0-SNAPSHOT.
Please try the latest build: https://github.com/cucumber/cucumber-eclipse#follow-the-latest-snapshot

[2019-09-13 20:55] qvdk commented on #207
@codermvn do you convert your project as cucumber project ?
This feature is available from the contextual menu on the project folder.

[2019-09-16 12:53] codermvn commented on #257
@girijant @qvdk
Code is attached for you to review.

[2019-09-17 08:14] codermvn commented on #207
@girijant @qvdk
Code uploaded on thread https://github.com/cucumber/cucumber-eclipse/issues/257

[2019-09-17 08:23] codermvn commented on #207
@qvdk : Yes converted it to Cucumber Project, but still facing the same problem. Thanks.

[2019-09-17 11:44] qvdk commented on #207
@codermvn Sorry, I did not find any attachment on the thread #257.
Could you post a link to a GitHub repository where we can find the project which reproduce your issue ?

[2019-09-17 15:16] codermvn commented on #207
@qvdk  Repo link is below for Sample Project
https://github.com/codermvn/CucumberSampleProject.git

[2019-09-18 12:42] codermvn commented on #207
@qvdk Repo link is below for Sample Project
https://github.com/codermvn/CucumberSampleProject.git
Kindly let me know if you are unable to look at code.. thanks

[2019-09-20 05:41] codermvn commented on #207
Any help guys?

[2019-09-20 08:50] mehtakovid commented on #207
Facing the Same issue, reinstalled cucumber plugin after uninstalling. Project is converted to a Cucumber project as well. Nothing happens on click of recalculate steps. Went through multiple solutions here at GitHub as well as StackOverflow but nothing helps. It would be great to have a permanent solution to this.

[2019-09-20 14:12] codermvn commented on #257
@qvdk @girijant You can check the link pls on issue #207

[2019-09-23 16:05] codermvn opened #376 "Getting warning in the feature file -"Step does not have a matching glue code""
Hi ,

I have tried using cucumber with latest jars but getting a warning message in my feature file that matching steps cannot be found. The sample project for review is present on
https://github.com/codermvn/CucumberSampleProject.git

![image](https://user-images.githubusercontent.com/21123194/65442588-bc43d480-de2c-11e9-9c7a-03bfc1c91a69.png)

[2019-09-23 16:06] codermvn commented on #376
@qvdk @girijant ..Created new issue as the now getting response on existing issues #207 #257

[2019-09-24 08:22] qvdk commented on #376
@codermvn Can you confirm you have solved your issue please ?

[2019-09-24 10:38] codermvn commented on #376
@qvdk .. I did change everything as per suggestions and this works fine now..

[2019-09-24 11:42] qvdk commented on #376
@codermvn Thanks for your feedback.

[2019-09-26 01:16] LeoHeidji commented on #376
Thanks so much, it solved my problem too 🥇

[2019-09-30 22:51] chandra-mummidi commented on #204
Neither F3 nor ctrl+click working for me. It used to work few weeks back, but stopped working without making any updates. I installed this plugin again through offline mode, but not luck.

[2019-10-01 08:37] codermvn commented on #376
@qvdk : I have additional problem regarding PicoContainer. When I use Pico Container JAR, my page webelements are not loading. Do you know any solution to this or place where I can raise it. The dependency of Pico container is as following:
		<dependency>
			<groupId>io.cucumber</groupId>
			<artifactId>cucumber-picocontainer</artifactId>
			<version>4.7.1</version>
			<scope>test</scope>
		</depe

[2019-10-01 15:01] qvdk commented on #371
You can reduce the search time by adding filters on the packages or classes where your step definitions are.
![Screenshot from 2019-10-01 17-00-36](https://user-images.githubusercontent.com/6142398/65974368-23850880-e46d-11e9-91e5-3c68eebb5780.png)

[2019-10-03 00:19] shaneperrydc commented on #232
Why has this issue been closed? I do not see a resolution listed.

[2019-10-03 08:44] giri-gonzai commented on #257
Just close the feature file after saving and reopen. Works fine for me.

[2019-10-03 12:44] qvdk commented on #232
Hi @shaneperrydc

The Eclipse Marketplace was updated the last june, and new updates sites are available without the certificate issue.

Do you still encountered an issue during the installation from the Eclipse Marketplace ?

[2019-10-03 15:09] shaneperrydc commented on #232
Hello and thank you for getting back to me. Yes, I am still having a
problem installing Cucumber in the Eclipse Marketplace. When I attempt to,
I get the following error:

Unable to read repository at
https://cucumber.io/cucumber-eclipse/update-site/content.xml.
sun.security.validator.ValidatorException: PKIX path building failed:
sun.security.provider.certpath.SunCertPathBuilderException: unable

[2019-10-03 18:00] lakshmi2121 commented on #232
Hi,

I am facing the same issue.

Kindly Assist.

[2019-10-06 06:43] girijant commented on #232
What's the issue are you facing ?

[2019-10-06 06:46] girijant commented on #204
@Savitapanwar and @chandra-mummidi,
ctrl+click into Step Definition file has been fixed into the latest version of Cucumber-Eclipse plugin.

[2019-10-07 14:36] lakshmi2121 commented on #232
Hi

I am getting the below error when trying to install Cucumber Eclipse Plugin

Unable to read repository at https://cucumber.github.io/cucumber-eclipse-update-site/content.xml.

sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

Thanks

[2019-10-07 16:20] shaneperrydc commented on #232
Yes, that is exactly my experience, too.

-Shane

On Mon, Oct 7, 2019, 10:36 AM lakshmi2121 <notifications@github.com> wrote:

[2019-10-07 19:08] andyblum commented on #232
I want to add me too to this chorus.  I am trying to install the eclipse plug-in for SolarLint.

[2019-10-07 23:44] qvdk commented on #232
@lakshmi2121 @shaneperrydc Could you provide your Eclipse version, your JDK version and your operation system please?

[2019-10-08 14:50] lakshmi2121 commented on #232
Hi qvdk,

My eclipse version is 4.10.0
JDK version : 1.8.0_191
Operating system: windows 10

[2019-10-08 16:20] shaneperrydc commented on #232
and my versions are the same as Lakshmi except for the JDK version, which
is 1.8.0_144.

-Shane

On Tue, Oct 8, 2019 at 10:51 AM lakshmi2121 <notifications@github.com>
wrote:

[2019-10-09 09:50] qvdk commented on #232
@lakshmi2121 @shaneperrydc

`sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target`

This error indicates your JVM doesn't find the certificat authority used to sign the one of `https://cucumber.github.io`.

The certificate used by this Github Page is signed by Di

[2019-10-09 10:07] vladdu commented on #232
Check if you have JCE Unlimited Strength Policy installed. https://www.oracle.com/technetwork/java/javase/downloads/jce8-download-2133166.html

It is also recommended to have JDK 180_u161 or later

[2019-10-10 06:18] girijant commented on #232
@lakshmi2121, @shaneperrydc, @qvdk,
I am able to install the plugin-version 1.0.0 from my Eclipse-IDE by hitting to the Eclipse-Marketplace(https://marketplace.eclipse.org/content/cucumber-eclipse-plugin). Here is my environment details:
- Eclipe Version:2019-09-R
- JDK-Version:1.8.0_152
- Os:Windows10

[2019-10-10 20:09] lakshmi2121 commented on #232
@girijant thank you for your reply but  it did not worked for me.
I managed to find some other way.
@shaneperrydc try the below. It worked for me hope it will work for you as well

install this plugin from eclipse : -- Run Help → Install new software → Here uncheck “Contact all update sites during install to find required software”, use Eclipse-Update-Site url : http://cucumber.github.io/cucumber-

[2019-10-10 20:15] qvdk commented on #232
@lakshmi2121 can you provide the list of certificate authorities in cacerts file of your JDK please ?

[2019-10-10 20:30] shaneperrydc commented on #232
That absolutely worked! Thank you so much for your help.

-Shane

On Thu, Oct 10, 2019 at 4:09 PM lakshmi2121 <notifications@github.com>
wrote:

[2019-10-10 20:32] lakshmi2121 commented on #232
@qvdk I am not sure how to get that list for you

On Thu., Oct. 10, 2019, 4:15 p.m. Quentin Vandekerckhove, <
notifications@github.com> wrote:

[2019-10-10 20:36] qvdk commented on #232
@lakshmi2121  You need to find the cacerts of your JRE used by Eclipse. This one is usually under the folder jre/lib/security.

Then, find DigiCert with the following command (don't forget to change the path)

    keytool -list -v -keystore /opt/jdk1.8.0_221/jre/lib/security/cacerts | grep digicert

[2019-10-22 09:19] raghu7892 commented on #207
Hi all, even i am facing the same issues even after flowing all the above steps

[2019-10-22 09:45] qvdk commented on #207
Hi @raghu7892

Do you try the solution describe in #376 please ?

[2019-10-22 11:23] raghu7892 commented on #376
i am still facing this problem i am not able solve this glue code error. can anybody please let me know the fix

[2019-10-22 11:28] qvdk commented on #376
Hi @raghu7892

Please keep the discussion in the same issue, or prefer create a new one. Otherwise, it is hard for other to participate.

Can you give a more detail information about our configuration please ?

- cucumber-eclipse version
- eclipse version
- jdk version

[2019-10-22 18:49] JoryAnderson commented on #376
I did not want to necro an old issue, but I was experiencing issues yesterday evening similar to @raghu7892. I followed the instructions #376  and #257.

Features: src/test/resources/
Glue: src/test/java/<StepDefinitions Package>
TestRunner: src/test/java/<TestRunner Package>

When I had used the cucumber-eclipse snapshot (#376), it worked for a short amount of time, until I started updating and a

[2019-10-23 06:05] raghu7892 commented on #207
Ya tried but still i am facing the same issue can u please tell me the steps

[2019-10-23 06:47] raghu7892 commented on #376
cucumber-eclipse version : 1.0.0
eclipse version :2019-06 (4.12.0)
jdk version : 1.8.0_202

[2019-11-08 08:16] palashjain71 opened #377 "Unable to install cucumber plugin offline"
Version used -- cucumber-eclipse-plugin-0.0.23.zip.

Steps:
From Eclipse, Open 'Help' -> 'Install New Software...' -- Hit 'Add' (top right) -- In the Add Repository dialog that is shown Hit 'Archive...' and select the zip file(i.e. cucumber-eclipse-plugin-0.0.19-SNAPSHOT.zip) you downloaded. Also give the Repository a name. -- Hit 'OK'.

Eclipse Version:
eclipse-java-oxygen-3a-win32-x86_64

![Erro

[2019-11-08 08:20] sseenivasan89 commented on #204
ctrl+click is not working with Cucumber-Eclipse plugin

[2019-11-08 13:50] qvdk commented on #204
@sseenivasan89 could you describe your configuration and how to reproduce please ?
 <kbd>CTRL</kbd>+<kbd>click</kbd> and <kbd>F3</kbd> can be used to jump from step to its definition.

[2019-11-08 13:58] qvdk commented on #377
Version 0.0.23 and 0.0.19 are very old versions. Please use a more up-to-date ones.
You can download zip for offline installation from the [release page](https://github.com/cucumber/cucumber-eclipse/releases) (under assets).
![Screenshot from 2019-11-08 14-54-57](https://user-images.githubusercontent.com/6142398/68481697-34792480-0238-11ea-8f68-a5b6096ca8d6.png)

[2019-11-13 03:50] paiamrutha88 commented on #257
I have followed all options mentioned above but warning are not just doing away from .feature file

[2019-11-13 08:49] qvdk commented on #257
@paiamrutha88 can you provide eclipse version and cucumber eclipse plugin version you are using please ?

[2019-11-13 08:57] paiamrutha88 commented on #257
Eclipse Mylyn 4.9.0
Cucumber eclipse Plugin  0.0.23.201811220126

[2019-11-13 09:12] qvdk commented on #257
@paiamrutha88 Please use the latest version: https://github.com/cucumber/cucumber-eclipse#follow-the-latest-snapshot

[2019-11-13 09:25] paiamrutha88 commented on #257
Not sure why the one I installed is not latest as I installed it couple of days ago  using eclipse marketplace.
I will try updating it with the link you gave and check

thanks!

[2019-11-15 17:59] chandra-mummidi commented on #204
Thank you. ctrl+click is working if I install only Cucumber-Eclipse plugin. But, if I install Natural plugin along with it, then ctrl+click doesn't work. So, the problem is with Natural plugin.

[2019-11-18 07:22] palashjain71 commented on #377
Hi I tried with the suggested one but still facing same issue.
![Error](https://user-images.githubusercontent.com/43492276/69032367-4ca02f00-0a02-11ea-8236-60733f61effb.PNG)

[2019-11-20 00:09] sjazayerli216 commented on #232
Unable to read repository at https://cucumber.github.io/cucumber-eclipse/update-site/content.xml.
PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

[2019-11-20 00:09] sjazayerli216 commented on #232
can some one help me please
thank you

[2019-11-20 08:30] csdano2 commented on #164
As I see working with Behave (PyDev, Python) is not supported by this plugin. Am I right or do you see possibility to use this plugin fully with behave (e.g.: with code completion, matching python glue code)?

[2019-11-20 09:11] laeubi commented on #164
This is currently not supported there are two options:

1. Provide an initial implementation for python parsing so we can integrate this in the plugin
2. try to pay people so they do it for you

[2019-11-20 10:28] csdano2 commented on #164
Dear Christoph,

Thank you for your quick answer! It was very important for me!

Regards,
Dániel

Mobilról küldve

[2019-11-20 12:28] qvdk commented on #377
Do you uninstall the previous version first ?

[2019-11-25 16:57] PyvesB opened #378 "Gherkin syntax highlighting does not recognise leading strings"
Hello there!

When a string is used as the first element in a step, syntax highlighting does not work. For example:
![Screenshot 2019-11-25 at 16 54 15](https://user-images.githubusercontent.com/10694593/69560840-47b02200-0fa4-11ea-8fd6-1811c6c07fbf.png)

Other built-in types such as integers don't seem to be affected.

Thanks in advance for looking into this!

[2019-11-26 11:57] w2a commented on #257
Here are couple of things you need to do:

1. Install this plugin (Go to Eclipse market place and install the same):

https://cucumber.github.io/cucumber-eclipse-update-site-snapshot

2. Right click on your project --> configure --> convert to Cucumber project

And finally it will work

Thanks,
Rahul Arora
Director & Trainer - http://www.way2automation.com

[2019-11-26 22:03] #378 closed

[2019-11-26 22:17] qvdk commented on #378
Please can you check the latest [snapshot 1.0.0-20191126220948.102](https://github.com/cucumber/cucumber-eclipse/releases/tag/1.0.0-20191126220948.102)
If you installed the plugin thanks to the snapshot update site, Eclipse will suggest you the update automatically.

[2019-11-27 09:20] PyvesB commented on #378
Just installed the latest snapshot: I confirm this is now working!

[2019-11-28 22:39] PyvesB opened #380 "Some commands are missing a category"
Hey there!

Some commands are missing a `categoryId`, for instance:
https://github.com/cucumber/cucumber-eclipse/blob/092cfc1a76553a78352b844a00206fa1ca984134/cucumber.eclipse.editor/plugin.xml#L89

According to the [documentation](https://help.eclipse.org/2019-09/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Forg_eclipse_ui_commands.html):

Indeed, when I search

[2019-11-28 23:19] qvdk commented on #380
Thanks for your feedback and your advices @PyvesB !

[2019-12-06 07:47] Shebeok opened #381 "java.lang.ClassNotFoundException: org.springframework.core.annotation.MergedAnnotations$SearchStrategy while triggering tests"
When I am trying to run the feature file with cucumber file facing the below issue and same runs fine via maven. I am using cucumber version 4.8.0.

Dec 05, 2019 5:46:32 AM cucumber.api.cli.Main run
WARNING: You are using deprecated Main class. Please use io.cucumber.core.cli.Main
Dec 05, 2019 5:46:33 AM cucumber.runtime.java.ObjectFactoryLoader loadSingleObjectFactory
INFO: Loading ObjectFactory

[2019-12-13 16:51] sgrillon14 opened #382 "this plugin not fund all java step"
I use cucumber-jvm 4.7.1 and Spring Tool Suite 4-4.0.1

My java class:

[code]

My feature file:

[code]

In feature file, all my steps are yellow color.

[2019-12-18 07:21] rakeshbg005 opened #383 ".feature file is not linked to step definition in eclipse"
HI Team,

As shown in the screen shot cucumber test scripts are running, but .feature file is not linked to step definition in eclipse when I try to do CTRL+click and F3, day by day step definition class files are going increasing in development and we need to navigate from .feature file to step definition methods

Please help me in resolving this issue

![Eclipse Marketplace 2019-12-18 12-46-46](

[2019-12-20 16:04] Akhilkr96 commented on #224
plz share offline cucmber pulgin link for eclipse

[2019-12-20 16:06] Akhilkr96 opened #384 "eclipse cucumber offline plugin link not found"
plz share latest version offline link

[2019-12-20 16:49] Akhilkr96 commented on #377
from offline  zip I cant install it, its an isolated environment

[2019-12-20 22:30] qvdk commented on #377
@Akhilkr96 After try an installation, could you provide the `<your_workspace_directory>/.metadata/.log` file please ?

[2019-12-20 22:32] qvdk commented on #384
Offline installations are provided for each version in the [release section](https://github.com/cucumber/cucumber-eclipse/releases).
Assets > cucumber-eclipse-plugin-1.0.0-SNAPSHOT.zip

[2019-12-20 22:32] #384 closed

[2019-12-23 09:30] Akhilkr96 commented on #384
Thanks for the reply. When I tried to add this in environment , which wont have network access , offline version not installing ,plz help.

Cannot complete the install because one or more required items could not be found.
  Software being installed: Cucumber Eclipse 1.0.0.201911262209 (cucumber.eclipse.feature.feature.group 1.0.0.201911262209)
  Missing requirement: Cucumber Editor 1.0.0.20191126

[2019-12-23 09:38] Akhilkr96 opened #385 "Cucumber plug in not installed in offline mode which have no internet access"
When I tried to add  cucumber plug in restricted , which wont have network access , offline version not installing and throwing error given below ,plz help.

Cannot complete the install because one or more required items could not be found.
Software being installed: Cucumber Eclipse 1.0.0.201911262209 (cucumber.eclipse.feature.feature.group 1.0.0.201911262209)
Missing requirement: Cucumber Editor

[2019-12-23 13:36] Akhilkr96 commented on #377
[my.log](https://github.com/cucumber/cucumber-eclipse/files/3995124/my.log)
please find log

!SESSION 2019-12-22 06:17:34.662 -----------------------------------------------
eclipse.buildId=4.8.0.I20180611-0500
java.version=1.8.0_171
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.java.product
Com

[2019-12-23 13:39] Akhilkr96 commented on #385
[my.log](https://github.com/cucumber/cucumber-eclipse/files/3995134/my.log)
please find local eclipse log while trying to install

[2020-01-04 23:53] mohanaraosv commented on #383
I'm not sure which Eclipse version you are using but try as specified in the [https://github.com/cucumber/cucumber-eclipse/issues/364#issuecomment-493530025](here)

[2020-01-05 00:09] mohanaraosv opened #386 "Unable to Install Cucumber for Eclipse Plugin (2019-12)"
Cucumber Eclipse Plugin not compatible with Eclipse 2019-12 Package versions.

![image](https://user-images.githubusercontent.com/1470114/71773147-8fe83a00-2f7d-11ea-8dc9-4bd095fb5133.png)

![image](https://user-images.githubusercontent.com/1470114/71773141-5a435100-2f7d-11ea-9b26-b44fd047fc79.png)

Please upgrade the plugin compatible with Eclipse latest version

[2020-01-07 09:21] qvdk commented on #383
Hello,
First, I hope you an happy new year :)
To solve your issue, [install the latest snapshot](https://github.com/cucumber/cucumber-eclipse#follow-the-latest-snapshot).

[2020-01-07 09:37] qvdk commented on #386
Hello,

As workaround, follow the instruction to install the latest snapshot from the dedicated update site : https://github.com/cucumber/cucumber-eclipse-update-site-snapshot

@girijant could you share access to setup the eclipse marketplace please ?

[2020-01-07 09:50] qvdk commented on #382
Hello,

Could you provide your version of cucumber eclipse plugin ?

[2020-01-07 12:47] mohanaraosv commented on #386
Yes, I'm able to install now and I'm not able to use to the feature

Go to step definition from a feature - not working.

**cucumber** version - 4.7.2

[2020-01-07 16:25] qvdk commented on #386
Did you convert your project as Cucumber project ? This function is available in the contextual menu from your project (right click) > `Configure` > `Convert as Cucumber project...`

[2020-01-07 16:46] sgrillon14 commented on #382
Cucumber Eclipse Plugin 0.0.23.201811220126

[2020-01-08 21:12] qvdk commented on #382
Could you retry with the latest version of the plugin thanks to the dedicated update site please : https://github.com/cucumber/cucumber-eclipse-update-site-snapshot

[2020-01-08 21:53] qvdk commented on #382
They are a bug with the Scneario Outline.
The bug affects the latest 1.0.0-SNAPSHOT too.

[2020-01-08 23:06] #382 closed

[2020-01-09 07:31] mohanaraosv commented on #386
Perfect!! It worked I will close the issue thanks for your prompt replies.
1) Please add these step up steps in FAQ (I'm not sure these steps already exists)
2) Could you please make it installable in [Eclipse Market Place ](https://marketplace.eclipse.org/content/cucumber-eclipse-plugin)

[2020-01-09 08:39] qvdk commented on #386
You're right. I will update the documentation.

@girijant could you share the access to the Eclipse Market Place, I would like to fix the compatibility list and deploy the latest build.

[2020-01-09 09:14] AlyyMagdy commented on #303
If you're sure you include your step def file correct , just try to close the .feature file from your open tabs in eclipse and then open it again , you will notice the down in eclipse that there's a new scanning for step defs. Hope it will work with you!

[2020-01-09 13:35] rakeshgo commented on #383
Eclipse Version: 2018-09(4.9.0)  
Build Id: 20180917 -1800

Cucumber plug-in version :
![image](https://user-images.githubusercontent.com/19202009/72071326-89f1b080-3311-11ea-960b-b969ad6b9fd5.png)

Maven dependency :

<dependency>
			<groupId>io.cucumber</groupId>
			<artifactId>cucumber-java</artifactId>
			<version>4.7.1</version>
		</dependency>
		<dependency>
		    <groupId>io.cucumber</group

[2020-01-09 13:37] rakeshgo commented on #383
belated wishes wish you a happy new year bro

[2020-01-09 13:40] rakeshgo commented on #383
![image](https://user-images.githubusercontent.com/19202009/72072306-a8f14200-3313-11ea-8241-8bd64a4ad08a.png)

[2020-01-09 13:50] qvdk commented on #383
So I confirm you issue will be solved by [installing the latest snapshot](https://github.com/cucumber/cucumber-eclipse-update-site-snapshot).

You should obtain the version 1.0.0-SNAPSHOT

When installed, convert your project as Cucumber project : Right click on your project to open the contextual menu > `Configure` > `Convert as Cucumber project...`

[2020-01-09 14:37] rakeshgo commented on #383
I have installed latest snapshot after that Convert as Cucumber project... option is not displaying
![image](https://user-images.githubusercontent.com/19202009/72076508-a1359b80-331b-11ea-8516-f8998fde6128.png)

[2020-01-09 14:41] rakeshgo commented on #383
Thanks, bro it's working now

[2020-01-09 14:42] rakeshgo commented on #383
I guess we can close this ticket

[2020-01-10 05:40] rakeshbg005 commented on #303
HI,

you can refer this discussion to solve this issue
https://github.com/cucumber/cucumber-eclipse/issues/383

Thanks
Rakesh

On Thu, Jan 9, 2020 at 2:44 PM Aly Magdy <notifications@github.com> wrote:

[2020-01-10 09:17] #383 closed

[2020-01-10 09:19] qvdk commented on #381
Hello
Could you provide a sample to reproduce this issue please ?

[2020-01-13 08:38] vinayakthakar commented on #207
I am also facing the same issue, I have gone through the tickets mentioned above like #207, #223 etc but still the same issue.
![image](https://user-images.githubusercontent.com/59821554/72241780-bd805380-360d-11ea-8f90-86f1cdb7370a.png)
I am using Eclipse 2019-06 and downloaded all the latest plugins. Still the same error.

Feature file
Feature: Copy source file

Scenario: verify the copied file

[2020-01-13 15:14] qvdk commented on #207
Hello @vinayakthakar

1. check your are using the latest version 1.0.0-SNAPSHOT. See https://github.com/cucumber/cucumber-eclipse-update-site-snapshot
2. Configure your project as cucumber project. Right clic on your project > Configure > Convert as Cucumber project.

This will solve your issue.

[2020-01-14 04:55] vinayakthakar commented on #207
Thanks for the help. Its done

[2020-01-23 13:26] stephenws opened #388 "Not able to navigate from feature file step to stepdefination"
I am using Eclipse Oxygen.3a Release (4.7.3a) and installed Eclipse-cucumber plugin.
I have written step definition wrt to feature file scenario
but still in I am not able to navigate from feature file to step definition.
also steps are highlighted with yellow colour

Step def path : src/test/java/com/test/stepDefinations/test.java
Feature File Path : src/test/resources/Features/test.feature
Cucum

[2020-01-23 14:42] qvdk commented on #388
Hello,

Could you check you are using the latest version of the plugin ?
See https://github.com/cucumber/cucumber-eclipse-update-site-snapshot

Then, ensure you configure the project to use cucumber plugin. From the contextual menu from your project (right clic on your project) > `Configure` > `Convert as cucumber...`

Does it solve your issue ?

[2020-01-24 08:34] stephenws commented on #388
Yeah thats work for me, Thank you..

[2020-01-24 08:34] #388 closed

[2020-01-25 00:04] RaphaelStark commented on #257
Hi Guys, this problem too occur in my project but, already resolved with flow steps:
1. go to site https://github.com/cucumber/cucumber-eclipse#follow-the-latest-snapshot
2. or copy this link and click an Help > Install new sotfware
3. if already install old verssion he will do update.
4. select new version display on screen
5. re-start your IDE

Done this problem resolved

[2020-01-25 20:17] mann-ed commented on #371
This is still an issue. I added the filter as suggested, however i still am having issues with eclipse taking a long time to run the tests. What i had to do is disable the Builder for Cucumber gherkins builder via RIght Click project -> Properties -> Builders -> uncheck Cucumber gherkins builder. I left cucumber step definitions builder checked.
I have only been working on this for a few hours, so

[2020-01-27 08:53] qvdk commented on #371
The `CucumberStepDefinitionsBuilder` creates a repository of step definitions. It lists the implementation of your steps (it searches `@Given`, `@When`, `@Then`, etc).

While the `CucumberGherkinBuilder` validates gherkin syntax, creates a repository of gherkin steps and makes glue between the gherkin steps and a compliant step definitions from the repository populated by the `CucumberStepDefiniti

[2020-02-03 17:14] JeremyAlosio commented on #236
Still happening for me on 4.13.0 and Cucumber-Eclipse Snapshot v1.0.0.202001082311

[2020-02-04 12:07] srikant-mvs opened #389 "Getting warning in the feature file -"Step does not have a matching glue code"
I am using SpringToolSuite version 3.9.8 and have installed the latest cucumber eclipse plugin today.
I am seeing warnings messages in my feature file.
Below are the setup of my path
1. Feature file : /src/test/resources/
2. Runner file : src/test/java with @CucumberOptions(features="src/test/resources/features")
3. Step file : src/test/java

Step 'I want to do operation "/Operation"' does not hav

[2020-02-04 13:35] qvdk commented on #389
Hello @srikant-mvs ,

Could you try the solution suggested in the FAQ please ?
https://github.com/cucumber/cucumber-eclipse/wiki/FAQ#my-step-definitions-are-not-detected-and-my-steps-from-my-feature-file-is-highlight-in-yellow

Does it solve your issue ?

[2020-02-04 15:21] srikant-mvs commented on #389
Thanks, that fixed the issue. I am also able to navigate to the step method.

[2020-02-04 15:21] #389 closed

[2020-02-07 03:58] badigeranand007 commented on #381
I am facing the same issue. I have upgraded Springboot 2.2.4 and I started gettin gmy Junits failing
INFO] -------------------------------------------------------
[INFO]  T E S T S
[INFO] -------------------------------------------------------
[INFO] Running ManifestUtilsTest
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.017 s <<< FAILURE! - in ManifestUtilsTest
[ERROR]

[2020-02-07 03:59] badigeranand007 commented on #381
Please help here is the my parent and child pom.xml

Parent.pom
![image](https://user-images.githubusercontent.com/60767277/73999938-5320b180-4934-11ea-9358-bdfa72cd71e9.png)
CHild.pom
![image](https://user-images.githubusercontent.com/60767277/73999962-65025480-4934-11ea-8149-52384cb858fb.png)

[2020-02-08 19:03] PyvesB commented on #386
Would indeed be great to fix the marketplace listing, it's a simple box to tick to add 2019-12 (and whilst you're at it 2020-03). 😉

[2020-02-09 18:33] girijant commented on #386
Hi All,
Currently I am facing an issue with login to my Eclipse-Acount. I will update the Eclipse-Market place tomorrow. And will udpate the marketplace with the latest snapshot from the dedicated update site : https://github.com/cucumber/cucumber-eclipse-update-site-snapshot.

[2020-02-14 13:15] girijant commented on #386
@mohanaraosv @qvdk @PyvesB @olleolleolle

I recently updated our [**Eclipse-Marketplace**](https://marketplace.eclipse.org/content/cucumber-eclipse-plugin) based on the Plugin's Snapshot version-1.0.0 as below:
- Updated Marketplace with the plugin's installation site with **https://cucumber.github.io/cucumber-eclipse-update-site-snapshot/** for installing the most stable **SNAPSHOT** version '1.0

[2020-02-14 13:15] #386 closed

[2020-02-14 13:19] girijant commented on #364
@Vimal-N @cailliaud @cbaldan @nitind
I recently updated our [**Eclipse-Marketplace**](https://marketplace.eclipse.org/content/cucumber-eclipse-plugin) based on the Plugin's Snapshot version-1.0.0 as below:
- Updated Marketplace with the plugin's installation site with **https://cucumber.github.io/cucumber-eclipse-update-site-snapshot/** for installing the most stable **SNAPSHOT** version '1.0.0.20

[2020-02-14 13:19] #364 closed

[2020-02-19 05:39] ShivakumarRH commented on #224
**For offline installation, please refer wiki link:**  is no active any more..
Please share active link..

[2020-02-20 15:42] lolotoms commented on #232
Hi,
Did you try with http instaead of https?

[2020-02-27 17:12] jeevan1987cool commented on #350
This worked for me!!

[2020-03-01 03:59] alan-denight opened #390 "Cucumber Building(sleeping) thread will block other tasks to startup"
Hi Cucumber plugin team,

thanks for this great plugin, it helped a lot to simply the BBD development process.

I have a issue when editing the feature file, when I change some context in the feature file, then  Cucumber Building(sleeping) thread will block other tasks to startup, if I removed the Cucumber builder from the project, then all the functions work properly.  could you please have a loo

[2020-03-02 15:50] manalilrafeeq commented on #381
just try  <spring-cloud.version>Hoxton.SR1</spring-cloud.version>

<dependency>
	<groupId>org.springframework.cloud</groupId>
	<artifactId>spring-cloud-starter-parent</artifactId>
	<version>${spring-cloud.version}</version>							</dependency>

[2020-03-02 15:55] manalilrafeeq commented on #381
@badigeranand007  @Shebeok

just try with <spring-cloud.version>Hoxton.SR1</spring-cloud.version> in your pom.xml file like below :

``

<dependency>
	<groupId>org.springframework.cloud</groupId>
	<artifactId>spring-cloud-starter-parent</artifactId>
	<version>${spring-cloud.version}</version>
</dependency>

[2020-03-05 14:31] YogeshBathri commented on #371
Any update on this??? When we can expect the solution for this? :)

[2020-03-05 15:01] mpkorstanje commented on #371
Cucumber Eclipse is mostly developed by volunteers in their spare time. You can not and should not expect anything. If you are interested in contributing a fix you'd be most welcome.

[2020-03-05 15:04] YogeshBathri commented on #371
thanks for reply :)

[2020-03-07 16:19] BhagyaJan commented on #257
I got this issue and After clean and build the project in eclipse issue has been resolved.

[2020-03-11 14:10] qvdk opened #391 "The step definition using annotations from `io.cucumber` located in the classpath are not detected"
it's already better, the plugin finds the steps that are in the project. I still have a problem, **it can't find the steps that are in a dependency (Maven)** that contains generic steps.

**Reproduce my problem:**

* run this Maven command: `mvn archetype:generate -B -DarchetypeGroupId=com.github.noraui -DarchetypeArtifactId=noraui-archetype -DarchetypeVersion=4.0.0.0 -DgroupId=com.your.company -D

[2020-03-11 14:32] #391 closed

[2020-03-12 17:37] htrost opened #393 "Whens, Thens ... are marked with no matching glue code"
When we are using the multiple annotations _Whens__, _Thens_, _Givens_ and so on the plugin marks them as "does not have a matching glue code" in the fetaure files. It looks like that the plugin is not able to handle the "multiple" annotations.

For example

@Given("Logged into app")

works fine and is recognized by the plugin within the feature files. But this one

@Givens({
@Given("Logged into a

[2020-03-14 18:17] arifi-iqbal opened #394 "cumcumber"
i am unable to run the cucumber feature file..though i am using the latest version

[2020-03-20 13:13] sgrillon14 commented on #391
bug fix, :)

[2020-03-22 02:50] PIYUSHJAIN1984 opened #395 "Step Defination is coming up in cucumber on press Ctrl+ in step defination and cannot navigate to methods"
Step Defination is coming up in cucumber on press Ctrl+ in feature file  and cannot navigate to methods

[2020-03-22 02:54] PIYUSHJAIN1984 commented on #395
<img width="576" alt="cucumber" src="https://user-images.githubusercontent.com/38496131/77241323-68b51680-6c16-11ea-9c98-f5ed99d53e32.png">
<img width="576" alt="cucumber" src="https://user-images.githubusercontent.com/38496131/77241330-808c9a80-6c16-11ea-8f9f-89a3071da2ea.png">
![Uploading eclipse.PNG…]()

[2020-03-22 02:54] PIYUSHJAIN1984 commented on #395
<img width="455" alt="eclipse" src="https://user-images.githubusercontent.com/38496131/77241332-94380100-6c16-11ea-8eef-9dd42811d1c9.PNG">

[2020-03-24 15:20] rakeshbg005 commented on #395
HI Piush,

install the latest snap shot

*cucumber-eclipse-update-site-snapshot
<https://github.com/cucumber/cucumber-eclipse-update-site-snapshot>- From
Eclipse, go to menu Help > Install New software - Work with:
https://cucumber.github.io/cucumber-eclipse-update-site-snapshot
<https://cucumber.github.io/cucumber-eclipse-update-site-snapshot> - Select
the check-box for Cucumber Eclipse Plugin -

[2020-03-27 13:56] PIYUSHJAIN1984 commented on #395
ISSUE RESOLVED. iNSTALLED THROUGH HELP IN ECLIPSE - CUCUMBER PLUGIN

[2020-03-27 13:56] #395 closed

[2020-03-28 10:08] LorenzoBettini opened #396 "Which update site to use?"
Hi

on the website, http://cucumber.github.io/cucumber-eclipse/, the update site for stable release is https://cucumber.github.io/cucumber-eclipse/update-site, which contains "Cucumber Eclipse Feature", "cucumber.eclipse.feature.feature.group", version 0.0.23.201811220126. Then, on the Market Place, https://marketplace.eclipse.org/comment/6536#comment-6536, the update site https://cucumber.github.

[2020-04-05 17:09] qvdk commented on #396
Hi,

The Eclipse marketplace is linked with https://cucumber.github.io/cucumber-eclipse-update-site
So, with the Eclipse Marketplace or this previous update site, you will have the same version.

If you want to use the latest snapshot, you can use https://cucumber.github.io/cucumber-eclipse-update-site-snapshot

[2020-04-05 17:11] qvdk commented on #394
Hello

Can you provide more information please ?
- versions of cucumber eclipse plugin and eclipse
- how to reproduce and what you expected ?

Thanks

[2020-04-06 09:05] LorenzoBettini commented on #396
Sorry in my original issue report I made a mistake. The update site reported on the web site is https://cucumber.github.io/cucumber-eclipse/update-site which is not the correct one.
That's what I meant

[2020-04-18 03:41] Sulbh opened #397 "Cucumber 5 Navigation to step definition does not work with Cucumber JVM spring boot project"
I have a spring boot project which has 2.2.6, and cucumber version 5.6
after updating plugin navigation to step definition still do not work.

[2020-04-18 03:45] Sulbh commented on #397
Sprig boot version 2.2.6 and Cucumber version 5.6 all other dependencies are using these two versions

[2020-04-20 12:39] acooper267 opened #398 "Error when installing cucumber-eclipse-1.0.0.202003111437"
How do i resolve this error?

Software being installed: Cucumber Eclipse 1.0.0.202003111437 (cucumber.eclipse.feature.feature.group 1.0.0.202003111437)
  Missing requirement: Cucumber Java Backend 1.0.0.202003111437 (cucumber.eclipse.backends.java 1.0.0.202003111437) requires 'bundle org.eclipse.jdt.core 3.11.2' but it could not be found
  Cannot satisfy dependency:
    From: Cucumber Eclipse 1.0.

[2020-04-21 14:20] nddipiazza opened #399 "Eclipse cucumber plugin is not able to find step definitions from another project"
I have an eclipse workspace with 2 projects:

`shared-step-defs`
`main-test-project`

The `main-test-project` has a cucumber test with:

[code]

where `main.project.stepdefs` is in the `main-test-project`, and `shared.project.stepdefs` is in the `shared-step-defs` project.

The feature files are all in `main-test-project`.

Cucumber eclipse plugin is unable to resolve step definitions from the `sh

[2020-04-23 11:59] acooper267 commented on #398
I install Spring Tool Suite 4 and this issue went away, but the plugin "find steps" feature doesn't work.
Version: 4.5.1.RELEASE
Build Id: 202001211336

[2020-04-23 12:11] acooper267 commented on #397
For cucumber 5 I'm using spring 5. I saw issues when using a old spring version. I'm using Cucumber Eclipse plugin version 1.0.0.202003111437
What version of cucumber-eclipse plugin are you using?

<dependency>
			<groupId>org.springframework</groupId>
			<artifactId>spring-test</artifactId>
			<version>5.2.2.RELEASE</version>
		</dependency>
		<dependency>
			<groupId>org.springframework</groupId

[2020-04-25 12:17] sujith1994 commented on #274
@Hugale12 Could you help to fix this?Documentation link is 404. How you fix this

[2020-04-26 18:32] Tumkass opened #400 "French keyword not recognized as a whole"
The gerkhin:
[code]

The step definition:
`@Etantdonnéque("j'ai inséré {int} centime(s) d'euros")
	public void j_ai_inséré(Integer int1) {
	    paye	= int1;
	}`

Warning : `Step 'que j'ai inséré <payé> centimes d'euros' does not have a matching glue code`

It seems the "que" part of the "Etant donné que" keyword is not taken into account.

[2020-04-28 06:35] Ashkm77 opened #401 "Unable to install the Cucumber Eclipse Plugin 1.0.0.202003111437 for Eclipse 4.15"
Getting error as:
Cannot complete the install because one or more required items could not be found.   Software being installed: Cucumber Eclipse 1.0.0.202003111437 (cucumber.eclipse.feature.feature.group 1.0.0.202003111437)   Missing requirement: Cucumber Editor 1.0.0.202003111437 (cucumber.eclipse.editor 1.0.0.202003111437) requires 'osgi.bundle; org.eclipse.pde.ui 3.5.0' but it could not be fou

[2020-04-28 21:36] Abdallah-Aleies opened #402 "Eclipse does not find step defs that are in external jars/imported by a maven."
I have a problem with my project at work where I have step defs that are in a different project. I imported them as jars using maven. I can see them listed in the dependency section in eclipse so they are definitely imported. However, In the feature file, it says the step defs are not found. And when I run the runner, it tells me to implement the missing steps which should be in the external jars

[2020-04-28 21:59] Abdallah-Aleies commented on #399
I am going through the same issue, Have you found a solution by any chance?

[2020-04-30 22:56] Sulbh commented on #397
I am using a spring boot and below is the latest available version

<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.2.6.RELEASE</version>

 for other dependencies I am not specifying any version for ex
cucumber.version=5.6
Sprig boot version 2.2.6

<dependency>
			<groupId>io.cucumber</groupId>
			<artifactId>cucumber-junit</artifactId

[2020-05-01 18:31] acooper267 commented on #401
This sounds like my error https://github.com/cucumber/cucumber-eclipse/issues/398

[2020-05-02 03:11] Ashkm77 commented on #401
Yes, it is kind of similar. However, it is fixed for me now. So closing.
When I searched, it shown me the result as "Cucumber Eclipse Plugin 1.0.0.202001082311" and while accepting the license, it shown the version as "Cucumber Eclipse 1.0.0.202003111437", however the older version "Cucumber Eclipse Plugin 1.0.0.202001082311" got installed and it is working fine for me!
I'm also able to use the "F

[2020-05-02 03:11] #401 closed

[2020-05-02 03:15] Ashkm77 commented on #398
The older "Cucumber Eclipse Plugin 1.0.0.202001082311" got installed instead of "1.0.0.202003111437" and it is working fine for me!
I'm also able to use the "Find step definition" feature. I'm using Cucumber version 5.5.0.

[2020-05-07 12:54] bberto opened #403 "Words starting with GWT keywords are highligthed too"
See the attached screenshot. It happens only if the keyword starts with uppercase.
![image](https://user-images.githubusercontent.com/3389771/81296632-7b729600-9072-11ea-823a-3f29f13e74f6.png)

[2020-05-09 20:24] mandheer007 commented on #232
Issue fixed 100%

This worked for me.. !!!

http://cucumber.github.io/cucumber-eclipse/update-site/

Use above link from "Install new Software" in eclipse

[2020-05-09 20:28] SnehasishMukherjee commented on #204
I have installed Natural 0.7.6 plug-in from eclipse marketplace and I have Windows 10. Eclipse version: Eclipse IDE for Java Developers Version: 2020-03 (4.15.0) Build id: 20200313-1211
maven dependencies:
	<dependency>
	    <groupId>io.cucumber</groupId>
	    <artifactId>cucumber-java</artifactId>
	    <version>5.7.0</version>
	</dependency>

	<dependency>
	    <groupId>io.cucumber</groupId>

[2020-05-10 01:36] chandra-mummidi commented on #204
@SnehasishMukherjee Have you installed Cucumber-Eclipse plugin on your eclipse IDE? I'm using 2019-06 build of Eclipse, and I have installed only Cucumber-Eclipse plugin, but no other cucumber related plugins. You can try installing 2019-06 build version of Eclipse, because cucumber-eclipse plugin may not support latest versions of Eclipse at some times.

[2020-05-10 19:34] qvdk commented on #204
Hi

The Natural 0.7.6 plug-in is not this one.
If you want to install the ours, install `Cucumber Eclipse Plugin`from the Marketplace. Or use the [eclipse update site](https://github.com/cucumber/cucumber-eclipse-update-site-snapshot).

@girijant could you check the Eclipse Marketplace to ensure the 2020-03 is checked as supported please ?

[2020-05-11 00:06] SnehasishMukherjee commented on #204
@qvdk Thanks. As 2020-03 is not compatible with Natural 0.7.6(hopefully it will be supported in near future), I did this(as per other user who had success back in Nov last year):
Uninstall 2020-03
Install 2019-06
(had a hickup with TestNG install along with eclipse as the TestNG archive was removed. Thanks to some great testing help avaiable in the link  https://www.ishandevshukl.com/2020/02/solve

[2020-05-11 19:17] mandheer007 commented on #52
True.. It really worked .. !!!

[2020-05-12 06:02] girijant commented on #204
@qvk,
From Eclipse Marketplace, the supported version(2020-03 and 2020-06) is already checked for our stable cucumber-plugin version. Here is the snapshot from Cucumber-Eclipse market place: https://marketplace.eclipse.org/content/cucumber-eclipse-plugin/

![image](https://user-images.githubusercontent.com/17194046/81643835-21901880-9444-11ea-96b4-0303a351d71d.png)

[2020-05-12 06:12] girijant commented on #402
@Abdallah-Aleies,
I developed this feature and was worked perfectly with older-plugin version (0.0.23). Few changes are made on this feature with our latest plugin version.

@qvdk,
Could you please add some suggestions on this feature and it's configuration details supported with the latest plugin version?

Thanks,
~Girija

[2020-05-12 06:16] girijant commented on #399
@nddipiazza,
Could you please share your project details with the required steps and example, so that  I can look into the issue...

[2020-05-12 06:19] girijant commented on #396
@LorenzoBettini,
Here is the Eclipse-Market place link of cucumber-eclipse plugin:
https://marketplace.eclipse.org/content/cucumber-eclipse-plugin

[2020-05-12 07:36] qvdk commented on #402
Hello everybody,

This is probably due to the issue #391

A fix was released in march in the version 1.0.0-20200311143818.110.

Could you update your plugin with our snapshot update site https://github.com/cucumber/cucumber-eclipse-update-site-snapshot

@girijant how works the Eclipse Marketplace ? Is it synchronized automatically with one of our update site ?

[2020-05-12 07:53] qvdk commented on #204
@SnehasishMukherjee Could you check if the `*.feature` file extension is setup with the Cucumber editor in  `Window > Preferences > General > Editor > File associations`  ?

![Screenshot from 2020-05-12 09-50-31](https://user-images.githubusercontent.com/6142398/81655042-41b8db00-9436-11ea-9413-d79309fa4cc5.png)

[2020-05-12 08:11] girijant commented on #402
@qvdk ,
The snapshot-update site is automatically synchronized in market-place with the https://github.com/cucumber/cucumber-eclipse-update-site-snapshot. But I've to check the version details from market-place. I will update once the version part is fixed.

[2020-05-12 14:24] nddipiazza commented on #399
@girijant  https://github.com/nddipiazza/cucumber-java-skeleton

[2020-05-12 16:06] SnehasishMukherjee commented on #204
@qvdk Awesome! That worked. Thanks a ton!

[2020-05-12 16:12] SnehasishMukherjee commented on #204
@qvdk Thanks a ton! File association with Cucumber editor worked.

[2020-05-14 19:11] cowang opened #404 "illegal reflective access operation"
I have been getting the following error message for over a year. Use Windows 10 on a Surface. Just updated Eclipse to

    Version: 2020-03 (4.15.0)
    Build id: 20200313-1211

and Cucumber

    Version: 1.0.0.202003111437

And still get the warning. The problem doesn't seem to affect output in any other way, but the message gives dire warnings:

[code]

[2020-05-15 06:11] laeubi opened #405 "StorageHelper incorectly assumes IJavaProject.getOutputLocation() returns a project relative path"
IJavaProject.getOutputLocation() returns ([according to the javadoc](https://help.eclipse.org/photon/index.jsp?topic=%2Forg.eclipse.jdt.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fjdt%2Fcore%2FIJavaProject.html)) 'the default output location for this project as a workspace- relative absolute path' currently cucumber-eclipse assumes it is relative to the project and thus creating a wrong folder (e.

[2020-05-15 06:19] #405 closed

[2020-05-17 00:50] ckctan commented on #204
You must convert your project as a cucumber project. This is required to enable step definitions detection so that your Cucumber Feature file scenario steps can take you to corresponding step definition Java file when you clicked F3 or Ctrl + mouse click.

In Eclipse, right click on your project from the Project Explorer > Configure > Convert as Cucumber Project. Once done, you may need to do a cl

[2020-05-17 06:49] girijant commented on #402
@qvdk,
I have fixed the plugin-version from Eclipse-marketplace.
Each time I used to **recreate** **below files** from the 'cucumber-eclipse-update-site-snapshot/gh-pages' branch for every release of a newer plugin version(ex. 1.0.0.202005150629):
**1. index.html**
**2. site.xml**: Manually updated the Feature 'url' and 'version' for every release of a newer plugin version.

Requesting you to foll

[2020-05-17 06:57] girijant opened #406 "Both index.html and site.xml mandatory files needs to be kept always under 'cucumber-eclipse-update-site-snapshot/gh-pages' branch to automatically synchronized the newer plugin version with our Eclipse-Marketplace"
@qvdk,
Raising an improvement ticket for this
Each time I used to **recreate** **below files** from the 'cucumber-eclipse-update-site-snapshot/gh-pages' branch for every release of a newer plugin version(ex. 1.0.0.202005150629):
**1. index.html**
**2. site.xml**: Manually updated the Feature 'url' and 'version' for every release of a newer plugin version.

So requesting you to follow below tasks f

[2020-05-17 13:06] LorenzoBettini commented on #396
@girijant the issue is about update site, not market place

[2020-05-17 20:55] SnehasishMukherjee commented on #204
@ckctan Yes Craig, that's necessary step. However @qvdk suggestion for file association with .feature was needed in addition. So that I have added in my notes.

[2020-05-18 07:43] qvdk commented on #402
Hello @girijant

The cucumber-eclipse-update-site-snapshot is fully automated and deploy by [Travis-CI](https://github.com/cucumber/cucumber-eclipse/blob/master/.travis.yml). This update site is automatically updated each time a contribution is merged on master if the version ended by `-SNAPSHOT`.
I never update it manually. I think it should not have manual step to deploy. If the files are requir

[2020-05-18 07:46] qvdk commented on #204
The file association setup is required only if you uninstalled the natural plugin. Else, the Cucumber plugin will setup it for you.

[2020-05-18 08:24] girijant commented on #402
@qvk,

Thanks for your clarifications.
As both of these files(index.html and site.xml) are required on the eclipse-update, so these files need be auto-generated during the every build of the eclipse update site.
Please add those files in the required branch which can be auto-generated during the every build of the eclipse update site. If you can suggest the branch details then I may add those file

[2020-05-20 11:55] TomasMorton commented on #303
Why on earth is it necessary to import each keyword separately?
Thanks for the fix @mikejramsey56

[2020-05-20 12:35] PyvesB opened #407 "Unable to create part when showing revision information"
Hello hello!

I've got a Cucumber feature file version controlled using Git. I've enabled revision information by right clicking in the file, _Team_ -> _Show Revision Information_. The editor ruler then displays commit information for every single line when you hover over the lines number, and in the hover popup you can click on "show revision information" again to open a new editor corresponding

[2020-05-22 10:54] ddama09 opened #408 "Feature file showing No defination found for Given, When, Then"
Hi,
I am new to the cucumber and practicing on creating cucumber framework. I created Feature file and Step Definition file. On feature file it is showing No definition found but the methods are mentioned in Step definition file.
![image](https://user-images.githubusercontent.com/65765369/82660497-1d37dc80-9c48-11ea-9bfa-a60048bcb47b.png)
![image](https://user-images.githubusercontent.com/65765369

[2020-05-23 20:05] Safi101 opened #409 "Class not found"
Hello,
Environment: Eclipse, cucumber and maven.

When I run as jUnit and I get the below error. Please advise.

**Feature:**
`Feature: Free_CRM_LOGIN_FEATURE
Scenario: Free crm login scenario

Given User is already on login page
When title is crom
Then user enters user name and password
Then User clicks login button
And User is on home page
`

Runner:
[code]
Error:

[code]
![d1](https://user-imag

[2020-05-28 17:40] ragininagireddy opened #410 "I am trying to install Natural for Eclipse IDE 2020-03,But it says No repository found"

[2020-05-29 01:29] cowang commented on #404
I found the following note at
<https://github.com/cucumber/cucumber-jvm/blob/40657a683bfe922a02d745a3b8fba4a54c1b4d05/CHANGELOG.md>

1.0.0.RC15 (2012-02-07)
[Java] You must use **cucumber.runtime.xstream** instead of com.thoughtworks.xstream for custom converters.

I'm not qualified to say if that is the problem.

[2020-05-29 22:57] mpkorstanje commented on #404
You may want to consider upgrading your version of Cucumber. Note that the groupId has changed to `io.cucumber`.

[2020-06-01 18:20] manishthackray commented on #257
https://github.com/cucumber/cucumber-eclipse/wiki/Uninstall-the-older-version-of-cucumber-eclipse-plugin

- If you have updated cucumber eclipse plugin then
- just uninstall (eclipse will restart)and reinstall cucumber eclipse plugin again(eclipse again restarts)
- try now

[2020-06-02 08:38] Mina05 commented on #136
I'm facing this issue, too. Is there any solution coming for the next time?

[2020-06-05 18:57] nddipiazza commented on #399
@girijant  @Abdallah-Aleies  I fixed it here https://github.com/cucumber/cucumber-eclipse/pull/411/files

Also, do not forget to Right click project and click `Configure -> Convert to cucumber project` for all projects that you want to be involved.

[2020-06-05 22:53] Abdallah-Aleies commented on #402
@girijant @qvdk Was this fix pushed to Eclipse Market place version? Because I have the latest update installed and it still does not work.

Also I found this [documentation](https://cucumber.github.io/cucumber-eclipse//2017/03/16/ReusingStepDefinitionFromClassPathDependency.htmll). However I do not see this as an option in eclipse when I follow directions.

[2020-06-09 12:49] qvdk commented on #402
Hello @Abdallah-Aleies

The fix is available in the version 1.0.0-20200515062956.

An issue #406 need to be solved to update automatically the Eclipse Marketplace. But you can install the latest version from our Eclipse update site. See [instructions](https://github.com/cucumber/cucumber-eclipse-update-site-snapshot).

In the latest version, you only need to convert your project as cucumber projec

[2020-06-10 08:04] ramyanthn commented on #204
@qvdk @girijant
Hi, I have ensured all the requried plugins are available.
Converted the project to cucumber project.
Having the Cucumber Eclipse Feature 0.0.23.201811220126 installed.

Still unable to use the control-click feature in my project.
Please help!
Thanks,
Ramyanth

[2020-06-10 09:43] qvdk commented on #204
Hello @ramyanthn

Please uninstall the plugin and install the latest one with this instructions https://github.com/cucumber/cucumber-eclipse-update-site-snapshot

[2020-06-10 11:27] ramyanthn commented on #204
Thank you @qvdk . It worked.

[2020-06-10 19:34] osuser2018 opened #412 "Scanning for step definitions is causing an error - Unable to CTRL-Click/F3 to Step Defs"
VERSION INFO:
Eclipse Version: 2018-09 (4.9.0)
Build id: 20180917-1800
Cucumber Eclipse Feature version:  0.0.23.201811220126
Cucumber Editor version:  0.7.6.201505100000
JBehave Editor version:  0.3.0.201212080341

Preface:
My project has been running fine and the CTRL-click has been working as well for about 18 months...until now.

The Problem:
When I open a feature file I see the gherkin gettin

[2020-06-13 10:45] bssindiana commented on #257
I have just installed the following Eclipse Version in my Windoes 64 desktop:
Details:
Eclipse IDE for Java Developers
Version: 2020-03 (4.15.0)
Build id: 20200313-1211

I have also installed the Cucumber Plugin:
Cucumber Eclipse Plugin 1.0.0.202005150629

Now, I have imported my existing project that has all setups configured properly and we ran and tested earlier on Intellij. When, we did same f

[2020-06-14 17:00] bssindiana opened #413 "Eclipse Plugin "Cucumber" is not highlighting the Step Definition and hence Step Navigation/ Glue Code detection"
I have just installed the following Eclipse Version in my Windoes 64 desktop:
Details:
Eclipse IDE for Java Developers
Version: 2020-03 (4.15.0)
Build id: 20200313-1211

I have also installed the Cucumber Plugin:
Cucumber Eclipse Plugin 1.0.0.202005150629

Now, I have imported my existing project that has all setups configured properly and we ran and tested earlier on Intellij. When, we did same f

[2020-06-15 16:57] rive91 commented on #136
Found this too, is there any ETA for the fix?

[2020-06-16 10:25] laeubi opened #414 "Provide an option to ignore parameter type"
IntelliJ offers an option to the user to match steps regardless of type. This could be useful if custom types are used but not registered with the system.

We could simply add a checkbox in the project options to account for this.

[2020-06-16 12:56] #414 closed

[2020-06-24 18:50] nukul25 opened #415 "deprecated Main class warning while using Cucumber 6.1.1"
I have installed Cucumber plugin in latest eclipse version and added dependencies for cucumber 6.1.1 via maven pom.xml

I have added all the necessary dependencies from the Github location :https://github.com/cucumber/cucumber-java-skeleton/blob/master/pom.xml

Now when I am trying to run my feature file which contains a scenario ,I am getting the warning as

Jun 23, 2020 7:03:00 PM cucumber.api.c

[2020-06-24 19:52] mpkorstanje commented on #415
The eclipse plugin launches Cucumber via the cli runner and is using the old main method.

https://github.com/cucumber/cucumber-eclipse/blob/606905b84cd31eeb588434b52cb29dd0740cb630/cucumber.eclipse.editor/src/main/java/cucumber/eclipse/launching/CucumberFeatureLaunchConstants.java#L9

[2020-06-25 07:09] nukul25 commented on #415
If we uninstall Cucumber eclipse plugin then obviously we will not get the option of running Feature File only.

[2020-06-25 07:12] nukul25 commented on #415
Hello
If i understood correctly,running the command mvn test from the command line(which is opened from the locaion of pom) will result in success sincewe have default test class called App.test which contains prin HELLO WORLD.
My concern is when I am running feature file only ,i got the issue as mentioned above.
Thanks

[2020-06-26 02:22] manishbarthwal2410 commented on #415
I am also getting similar issue with 4.7.4 version

[2020-06-30 08:07] nukul25 commented on #415
Hello Team

Any updates on the issue.?I tried with different version such as 5.6.0 and also faced the same issue.
Can you please help

[2020-07-03 13:29] vincent-maioranaAL commented on #413
Hello @bssindiana

I also see similar behavior.
- I believe that I have a repeatable test in Eclipse to show the behavior.
- I believe that I have a klunky, temporary workaround, that works for me.
       At the very least, the repeatable test steps will show the problem reliably, and that may help the dev team.

**### Here are the details:**

Cucumber Eclipse Feature 0.0.23.201811220126
Eclipse P

[2020-07-06 04:59] SakthiIsaiBharathi opened #416 "Eclipse IDE 2020‑06 doesnt highlight yellow missing step definitions and hover link is not coming"
I have installed Eclipse IDE 2020‑06 and latest cucumber plugin from snapshot URL.

- It doesnt highlight yellow color for missing step definitions.
- Hover link is not coming for feature files to navigate to respective step definitions.

[2020-07-07 16:18] simonezampinistud commented on #257
Is it possible to "glue code" that is in a different project?
(JUnit Eclipse plugin runs correctly)

[2020-07-08 07:45] PyvesB opened #417 "Feature file in dark theme"
Hello!

When switching to the dark theme, feature files become very hard to read:
<img width="380" alt="Screenshot 2020-07-08 at 09 38 47" src="https://user-images.githubusercontent.com/10694593/86891322-ee45cf00-c0fe-11ea-91b8-1bda747d5cac.png">

Users have to find and manually edit all the colour preferences to make the plugin usable. More and more users are using the default Dark theme nowadays

[2020-07-08 08:28] simonezampinistud commented on #145
Could you please help me with latest version of the plugin?
Right now I can execute tests (Eclipse JUnit or Maven, both works), I can see all steps in white, Cucumber assistance (CTRL+space) works 100% but "Find step definition (F3)" (CRTL+mouse left button) works only for steps declared in the project.

[2020-07-08 12:44] qvdk commented on #257
Hello @simonezampinistud

The plugin supports step definitions from dependencies, be sure to use the latest version.

If you need to update follow the [instruction](https://github.com/cucumber/cucumber-eclipse/issues/257#issuecomment-578349189) from the previous comment of @RaphaelStark in this thread.

[2020-07-09 06:48] thangabalan43 commented on #257
erer

[2020-07-09 16:36] SakthiIsaiBharathi commented on #416
Can someone respond ?

[2020-07-15 23:50] Abdallah-Aleies commented on #402
@qvdk I have installed the newest version manually from the [instructions.](https://github.com/cucumber/cucumber-eclipse-update-site-snapshot). However the same problem still exists.

[2020-08-02 08:00] shilpijoshi22 commented on #330
@girijant I am using command promt to run this. But I am unable to understand the syntax and use. Can you please help

[2020-08-11 04:46] mehtakovid commented on #371
Hi , Did anyone found a workaround for this issue. I have started to observe it recently. The whole process take about 1-2 minutes after saving one line of code. I have tried to uninstall and re-install but in vain.

[2020-08-11 15:39] mohamedelgaml commented on #370
i think this may work for you
https://stackoverflow.com/questions/57177823/exception-in-thread-main-after-updating-cucumber-version
or if you solve it can you share the solution?

[2020-08-14 17:05] zulfikarayub commented on #416
hi even i am also facing same issue in the eclipse now , can anyone respond to it

[2020-08-24 10:06] SukantBhatia commented on #204
Hi,
Command + Click still not working for me in the latest version of cucumber.Can anyone please tell me the latest stable cucmber plugin for eclipse with latest cucumber maven dependicies.
I downloaded the stable version of cucmber eclipse from this site : https://github.com/cucumber/cucumber-eclipse-update-site-snapshot, but it works only with info.cucumber old dependancy  but if i update to io.

[2020-08-24 10:26] laeubi commented on #204
There is no "latest stable version", you can only install a development snapshot that might (or might not depending on you configuration) fix the issue see @qvdk comment above.

[2020-08-24 11:17] qvdk commented on #204
Hi @SukantBhatia

The plugin works with both packages.
Do you convert your project as Cucumber project ?

[2020-08-24 14:58] SukantBhatia commented on #204
Yes @qvdk I convert the project as cucumber project.Exactly I am facing two issues:
1. If i use latest version of both cucumber eclipse plugin and latest cucumber dependency then i am not able to use command +click.
2. If i use stable cucumber plugin with latest cucumber dependency then on feature file.. i am getting the error as “not find any matching glue”.

[2020-08-24 15:08] srushti-maladkar commented on #204
This worked for me. thanks

[2020-08-24 16:10] qvdk commented on #204
@SukantBhatia The step definition scan is launched on the project build. Do you have already build the project once with eclipse ?

[2020-08-25 06:11] SukantBhatia commented on #204
Yes @qvdk I did the same.But still no luck.
And if i use the plugin version 0.0.23.201811220126 with the info.cucumber dependency, everything works fine.

[2020-08-25 08:57] qvdk commented on #416
Hello,

- Could you check your plugin version ? Do you use the latest version from the snapshot eclipse update site ?
- Do you convert you project as Cucumber project ?
- Do you build your project, or have the build automatically activated ?
- Do you have the version of the cucumber eclipse plugin 0.23 installed before ?

[2020-08-25 12:46] qvdk commented on #204
@SukantBhatia I think you have an issue due to the old plugin version setup on your projet.
Could you provide the `.project` file of your project ?

[2020-08-25 14:30] zulfikarayub commented on #416
@qvdk

yeah i did everything which you mentioned ,but still no luck

[2020-08-25 14:44] SukantBhatia commented on #204
@qvdk
Now , i am facing the error as "Errors occurred during the build.
Errors running builder 'Cucumber step definitions builder' on project 'bbb-automation-framework-mobile-newapp'.
Dangling meta character '*' near index 0
*.feature
^"   on building the project.

[2020-08-25 15:43] qvdk commented on #416
@zulfikarayub  Did you use an old version of the plugin  (ie 0.0.23) ?

In this case,  I think you have the issue #376. I describe how to clean your project setup in this [comment](https://github.com/cucumber/cucumber-eclipse/issues/376#issuecomment-534345741).

[2020-08-25 18:43] zulfikarayub commented on #416
@qvdk

No i was using both eclipse natural and cucumber plugin ,now i removed eclipse natural and changed the .project file as mentioned in the issue #376

Thanks a lot it work fine now

[2020-09-01 10:49] peter-cpx opened #418 ""Toggle Comment" not shown in any menu"
Hi,

the menu entity "Toggle Comment" is missing when I editing a .feature file with the cucumber editor.
Is there a way to solve this or to toggle comment via shortcut?

Edit Menu
![4F0720E9-0966-4F14-9B39-3661049D8E0A](https://user-images.githubusercontent.com/70577425/91840725-70f79000-ec51-11ea-91dd-26abce1594c7.png)

Context Menu
![6EA43790-22A2-4F1F-9DED-204A217F6954](https://user-images.git

[2020-09-03 01:46] nitind commented on #410
I think that belongs at https://github.com/rlogiacco/Natural/

[2020-09-15 14:59] shahnawazm786 commented on #370
Feature: features to test login functionality

  Scenario : Check login is successful with valid credential

  Given user is on login page
  When user enters username and password
  And clicks on login button
  Then user is navigated to the home page

Above is mu content of feature file and i am getting following message.

**Sep 15, 2020 8:27:02 PM cucumber.api.cli.Main run
WARNING: You are using

[2020-09-17 04:27] mohan19978121 opened #419 "error in installing cucumber plugin"
how do i resolve this,when am dowloading its showing this
  Cannot complete the install because one or more required items could not be found.
  Software being installed: Cucumber Eclipse 1.0.0.202007280542 (cucumber.eclipse.feature.feature.group 1.0.0.202007280542)
  Missing requirement: Cucumber Editor 1.0.0.202007280542 (cucumber.eclipse.editor 1.0.0.202007280542) requires 'bundle org.eclipse.p

[2020-09-24 16:28] ramyanthn commented on #204
Hi @qvdk @girijant
I see the control-click on the step definition, is not working again. Screenshot attached. Please help!

![image](https://user-images.githubusercontent.com/64693036/94173085-fcf78300-feb0-11ea-8bc4-dd0e10eb5d38.png)

[2020-09-26 11:26] qvdk commented on #204
Hello @ramyanthn

It is probably a configuration error. Please check :
 - if you have the latest version of the plugin, and you don't have the natural plugin installed ( choose one but the both seems to create instability )
 - check if your project is converted as Cucumber project
 - check if the build automatically is activated, or build the projet since the detection is done during the build

[2020-09-29 10:36] #416 closed

[2020-09-29 10:36] SakthiIsaiBharathi commented on #416
It is working as fine

[2020-10-01 05:14] manzspark opened #420 ".feature file not recognized by plugin in Eclipse 4.16.0"
1. I installed the plugin's latest version in Eclipse 2020-06 (4.16.0).
2. Restarted Eclipse.
3. Created a .feature file in my project.
4. I see a popup from eclipse that suggests to install editors from marketplace that can open this file type. See screenshot.
5. On choosing the marketplace option it open the marketplace window and I see this plugin already installed.
6. No matter what I cannot s

[2020-10-01 07:10] Abhilasha99 opened #421 "how to install cucumber plugin manually?Install new software and Eclipse marketplace method is restricted in my organization.I downloaded the cucumber eclipse plugin manually and kept it in dropins folder of eclipse.But there is no success"

[2020-10-05 14:58] PyvesB commented on #420
Hello @MANZOOR-WIPRO , have you tried right-clicking on the file, _Open With -> Other..._ and selecting the Cucumber editor in that list?

[2020-10-06 11:21] priyansh90 commented on #364
Hi @girijant - I'm using Eclipse Mars.2, Build id: 20160218-0600
Not able to install cucumber eclipse plugin, it throws an error - Unable to read repository at https://cucumber.github.io/cucumber-
Attaching the screenshot for your reference -
![cucumber_plugin](https://user-images.githubusercontent.com/17599282/95195467-335bc900-07f4-11eb-96fd-b6270274b086.png)

[2020-10-07 09:14] nitind commented on #364
@priyansh90 GitHub now requires the TLS v1.2 protocol be used when connecting to it by https. Older Java runtimes may not support that properly, so you will have to use a newer one. Your release of Eclipse is also more than 4 years old and has been
unsupported for a long time. Please update it as well.

[2020-10-09 10:37] #417 closed

[2020-10-13 06:48] sisihaha commented on #420
FYI. I hit the similar issue, and it gets resolved by installing Eclipse PDE plugin.

[2020-10-17 00:57] Davidj361 commented on #415
Getting the same problem with the plugin.
I am using this dependency:
[code]

[2020-10-19 18:40] AjayKedarisetty commented on #420
I am also facing the same issue. I tried multiple time still .feature file is not highlighting

[2020-10-19 19:03] PyvesB commented on #420
@AjayKedarisetty did you try my above suggestion?

[2020-10-21 11:04] PyvesB opened #423 "NullPointerException when opening Properties of working set"
Hello! 👋🏻

When I select a working set in the Package/Project Explorer, right click and press _Properties_, the following NullPointerException is thrown:
[code]

This error is quite impactful, as the entire _Properties_ window completely fails to render because of this.

[2020-10-26 18:54] lux-coder commented on #420
I have same problem and there is no Cucumber editor in that list.
![cucumberEditor](https://user-images.githubusercontent.com/54817145/97215603-f49eaa80-17c4-11eb-90a6-a9e9081aad93.jpg)

[2020-10-26 19:22] PyvesB commented on #420
Does it work with Eclipse 4.17? Does it work with older 4.15? Would be useful to narrow down the bug a bit!

[2020-10-26 19:28] AjayKedarisetty commented on #420
Hi. It’s worked when I upgrade my eclipse from 4.16 to 4.17

On Tue, 27 Oct 2020 at 12:52 AM, Pierre-Yves B. <notifications@github.com>
wrote:

--
Ajay kedarisetty |Jr Software Engineer
T: (970) 185 7573 <+9701857573>
W: https://www.amzur.com
<https://www.facebook.com/amzurtech> <http://www.twitter.com/amzurtech>
<https://www.linkedin.com/company/amzur-technologies-inc/>
<https://www.instagram.com

[2020-10-26 19:38] #410 closed

[2020-10-26 20:54] lux-coder commented on #420
I tried on 4.15. as I can't use 4.17 because it doesn't support JDK8.
Problem persists. Plugin installed and no editor options,

[2020-10-26 21:51] PyvesB commented on #420
Has this ever worked for you at all in any older Eclipse version?

[2020-10-27 08:56] DerMozartJBA commented on #136
I can confirm this problem. The issue rises, when directly running a cucumber feature. It is not happening when running via JUnit context. Unfortunately we use one single JUnit-Test to run all our 150 feature files. Therefore it would be much nicer to directly debug a feature.

[2020-10-27 12:52] nitind commented on #413
@vincent-maioranaAL Your installation of the Cucumber plug-in seems very old. It has a datestamp from 2018.

[2020-10-30 16:28] daniloesk commented on #402
This (as well as #391) still persists on the latest marketplace version ( 1.0.0.202010091040 ). Changing used classes for the deprecated cucumber.api package makes steps recognized by the plugin.

[2020-11-04 04:11] brianle19 opened #425 "Cannot run .feature files directly from ECLIPSE"
I upgraded my project to the latest version of serenity+cucumber (serenity core 2.3.4) and have a problem when running .feature file from eclipse. I have spend more time on research but it just get a solution for IntelliJ (https://johnfergusonsmart.com/running-cucumber-serenity-feature-files-directly-intellij). Please help me with that.

[code]
<img width="697" alt="1" src="https://user-images.git

[2020-11-05 04:09] brianle19 commented on #415
Any update? I have the same problem when upgraded project to cucumber 6.x

[2020-11-22 21:39] muthu2490 commented on #415
Having the same issue Anyone found any solution for this?

[2020-12-13 12:56] #423 closed

[2020-12-16 19:53] CHANDUGOUD229 commented on #415
Having the same issue Anyone found any solution for this pls update

[2021-01-13 08:08] tstthoughts commented on #204
Hi friends,
below steps worked for me:
*Install **Cucumber Eclipse Plugin** have only this plugin. restart the IDE
*In Eclipse, right click on your project from the Project Explorer > Configure > Convert as Cucumber Project. Once done, you may need to do a clean build.
*Wait for the Green icon on the feature file to appear like below... then Ctrl Click will work on the steps.
![image](https://user

[2021-01-16 07:22] Ilkhomdzhon commented on #415
Jan 16, 2021 2:17:50 AM cucumber.api.cli.Main run
WARNING: You are using deprecated Main class. Please use io.cucumber.core.cli.Main

VERSION OF CUCUMBER IS 6.9.0

SAME HERE , GETTING ERROR

[2021-01-21 20:28] swethayellanuru commented on #231
Hi Lavanya,

I couldn't find anything here: https://github.com/cucumber/cucumber-eclipse/wiki/Eclipse-Market-For-Cucumber-Eclipse-Plugin . Could you please share the right link if possible. I appreciate your help.

Thanks
Swetha

[2021-01-31 22:15] ross-perston commented on #371
I have a project with a very large number of Cucumber tests (2000 features containing total of about 10,000 scenarios) and experience this issue saving. The incremenatal feature file save is not too bad, but the Step code save is unusable, the builder takes at least 5 minutes to complete.

I've been profiling a bit with Flight Recorder and VisualVM to get a feel for the issue and it seems that `Cu

[2021-02-01 04:24] laeubi commented on #371
@ross-perston I'm currently completely redesign the whole cucumber-eclipse plugin. One Problem is that I don't have access to such very large projects. Do you think it is possible to share the project (e.g. its open source or you can give access to a private repository)?

Alternatively it would help if you perform the following steps:

1. choose one out of your 2000 features you think that's one o

[2021-02-19 15:57] lmilton-ithaka commented on #420
This was working in the older version. Neon I believe. I didn't have any problems. Now, the feature file is getting opened only with the text editor

[2021-03-01 13:14] timhunt commented on #415
I think this is a duplicate of #370.

[2021-03-10 12:16] gotama32 commented on #420
Hi, i had the same issue and i solved with reinstalling eclipse but now i did not choose: "Eclipse IDE for Java Developers "
instead i choosed : "Eclipse IDE for Enterprise Java Developers" and afterward it worked. Don´t know if it also works for you.

BR

[2021-03-17 19:13] allanpfreitas commented on #370
This will be fixed ?

[2021-03-22 10:12] shraddhabhalsing commented on #415
Any update on deprecated Main class warning while using Cucumber 6.0 onwards version

[2021-03-23 08:42] YenikeRaghuRam opened #427 "Eclipse : Cucumber - No repository found at https://cucumber.github.io/cucumber-eclipse-update-site-snapshot/. In Eclipse"
Eclipse : Cucumber - No repository found at https://cucumber.github.io/cucumber-eclipse-update-site-snapshot/. In Eclipse
Refer screenshots
![cucumbereclipse](https://user-images.githubusercontent.com/81166452/112117859-cee5c800-8be1-11eb-84e1-6612584c9cc4.PNG)
![CucumberEclipseUpdate](https://user-images.githubusercontent.com/81166452/112117864-d016f500-8be1-11eb-957d-072ee9671235.PNG)

[2021-03-25 17:37] maeichris commented on #393
You did not mention the version you were running.

The latest official version was 0.0.23 from 2018-11.  It is available at this update site:

https://cucumber.github.io/cucumber-eclipse/update-site

You can get an unreleased snapshot version (1.0.0.202012131300) from 2020-12 from this update site:

https://cucumber.github.io/cucumber-eclipse-update-site-snapshot

[2021-03-26 04:19] chetanSrajiv commented on #415
it worked for me when i downgraded my testng dependency version from 7.4.0 to 7.1.0. try adding this dependency to your pom.xml

		<dependency>
			<groupId>org.testng</groupId>
			<artifactId>testng</artifactId>
			<version>7.1.0</version>
		</dependency>

[2021-03-26 04:19] chetanSrajiv commented on #370
it worked for me when i downgraded my testng dependency version from 7.4.0 to 7.1.0. try adding this dependency to your pom.xml

		<dependency>
			<groupId>org.testng</groupId>
			<artifactId>testng</artifactId>
			<version>7.1.0</version>
		</dependency>

[2021-03-28 05:59] rinky3211 opened #428 "While Launching feature file in Cucumber getting error:You are using deprecated Main class. Please use io.cucumber.core.cli.Main"
Mar 28, 2021 11:24:33 AM cucumber.api.cli.Main run
WARNING: You are using deprecated Main class. Please use io.cucumber.core.cli.Main
Mar 28, 2021 11:24:33 AM io.cucumber.core.runtime.FeaturePathFeatureSupplier get
WARNING: No features found at file:/E:/Selenium%20Demo/Cucumber_Practice/src/test/java/appFeatures/search.Feature

0 Scenarios
0 Steps
0m0.052s

┌───────────────────────────────────────

[2021-03-28 06:04] laeubi commented on #415
This is a duplicate of #370

[2021-03-28 06:04] laeubi commented on #428
This is a duplicate of #370

[2021-03-28 06:04] #428 closed

[2021-03-28 06:08] laeubi commented on #370
No, at least not in the "current" version, as this is only a warning it also does not harm much.

Beside that, there is currently a major refactoring going on for a next generation plugin that will fix this and many other issues in a more convenient way that it is done today.

If one likes to help with testing/feedback check out the https://github.com/cucumber/cucumber-eclipse/tree/cucumber6 branc

[2021-04-09 09:05] SubbaraoJCI opened #429 "unable to navigate step definitions from feature file in eclipse 2021-03 version even though I have added natural plugin"

[2021-04-23 18:17] Galphat commented on #428
How to resolve it?

[2021-04-25 14:45] Neetish1607 commented on #420
yes re-installing "Eclipse IDE for Enterprise Java Developers" worked for me as well !!
Thanks

[2021-04-28 02:35] ramom01 commented on #420
yes re-installing "Eclipse IDE for Enterprise Java Developers" worked for me as well !!
Thanks

[2021-04-28 06:58] laeubi commented on #11
Can you given an example where a "gray" method appears in Eclipse? I suspect this is using an additional plugin and not using the default eclipse.

[2021-04-28 07:00] laeubi commented on #35
Color Console will be supported in the 2.x release already

[2021-04-28 07:00] #35 closed

[2021-04-28 07:01] laeubi commented on #14
Can you give an example where we can see results in JUint tree?

[2021-04-28 07:04] laeubi commented on #44
No feedback until now, please reopen with further details if this is still relevant for you.

[2021-04-28 07:04] #44 closed

[2021-04-28 07:05] laeubi commented on #62
This is supported in the 2.x version

[2021-04-28 07:05] #62 closed

[2021-04-28 07:06] laeubi commented on #76
In 2.x the generic eclipse editor is used, please test if your issue is resolved there.

[2021-04-28 07:06] #76 closed

[2021-04-28 07:10] laeubi commented on #136
Debugging will be reworked in 2.x providing an example that fails would help us to verify/develop/improve this feature,

[2021-04-28 07:10] laeubi commented on #167
Seems everyone else also runs out of time, please reopen if you plan to further work on this.

[2021-04-28 07:10] #167 closed

[2021-04-28 07:11] laeubi commented on #168
the 2.x version uses cucumber-jvm to parse steps, please retest if you are still seeng the issue there

[2021-04-28 07:11] #168 closed

[2021-04-28 07:12] laeubi commented on #171
The new 2.x version uses cucumber to parse the steps and will support constants

[2021-04-28 07:12] #171 closed

[2021-04-28 07:13] laeubi commented on #190
The runner was improved in the 2.x line

[2021-04-28 07:13] #190 closed

[2021-04-28 07:13] laeubi commented on #236
The editor was rewritten in the 2.x line please retest there if the issue still persits.

[2021-04-28 07:13] #236 closed

[2021-04-28 07:14] laeubi commented on #237
cucumber8-lamdas are deprecated and we do not plan to support them anymore as well

[2021-04-28 07:14] #237 closed

[2021-04-28 07:15] laeubi commented on #268
In 2.x it will be possible to configure the java versionu used to run a feature

[2021-04-28 07:15] #268 closed

[2021-04-28 07:16] laeubi commented on #271
This is supported in the 2.x line now

[2021-04-28 07:16] #271 closed

[2021-04-28 07:16] #355 closed

[2021-04-28 07:18] laeubi commented on #359
@karisN this is a duplicate of #14 please attach your case there or any further information (examples) that could help in resolving this issue.

[2021-04-28 07:18] #359 closed

[2021-04-28 07:19] laeubi commented on #361
See https://läubisoft.gmbh/en/articles/using-maven-artifacts-in-pde-rcp-and-tycho-builds/ how to use maven artifacts in eclipse. This will also be the way the 2.x. line will consume the cucumber releases.

[2021-04-28 07:19] #361 closed

[2021-04-28 07:21] laeubi commented on #385
Your eclipse is not properly configured for offline/proxy access.

[2021-04-28 07:21] #385 closed

[2021-04-28 07:21] laeubi commented on #390
Cucumber builder won't be needed anymore in the 2.x line

[2021-04-28 07:21] #390 closed

[2021-04-28 07:24] laeubi commented on #393
the parsing is done using cucumber-jvm in 2.x line please retest and report if the issue persits.

[2021-04-28 07:24] #393 closed

[2021-04-28 07:24] laeubi commented on #394
No feedback until now, please reopen with further details if this is still relevant for you.

[2021-04-28 07:24] #394 closed

[2021-04-28 07:26] laeubi commented on #397
We have reworked the whole parsing/navigation in the 2.x line please retest there and report if the issue persits.

[2021-04-28 07:26] #397 closed

[2021-04-28 07:26] laeubi commented on #398
Please try the new 2.x version and report if the issue persits.

[2021-04-28 07:26] #398 closed

[2021-04-28 07:30] laeubi commented on #381
No feedback until now, please reopen with further details if this is still relevant for you.

[2021-04-28 07:30] #381 closed

[2021-04-28 07:31] laeubi commented on #403
Can you provide an example project?

[2021-04-28 07:32] laeubi commented on #404
No feedback until now, please reopen with further details if this is still relevant for you.

[2021-04-28 07:32] #404 closed

[2021-04-28 07:33] laeubi commented on #407
You should report the issue to the [EGit project](https://bugs.eclipse.org/bugs/enter_bug.cgi?product=EGit)

[2021-04-28 07:34] laeubi commented on #408
THis was improved in the 2.x line please test there and report if the issue remains

[2021-04-28 07:34] #408 closed

[2021-04-28 07:35] laeubi commented on #409
This happens if there are build path problems please check your project setup or provide a reporducer.

[2021-04-28 07:35] #409 closed

[2021-04-28 07:36] laeubi commented on #412
Can you provide an eclipse log output or reproducer?

[2021-04-28 07:36] laeubi commented on #413
No feedback until now, please reopen with further details if this is still relevant for you.

[2021-04-28 07:36] #413 closed

[2021-04-28 07:37] laeubi commented on #419
Your Eclipse installation is not compatible with the cucumber plugin

[2021-04-28 07:37] #419 closed

[2021-04-28 07:38] laeubi commented on #420
thanks for verification, closing this then.

[2021-04-28 07:38] #420 closed

[2021-04-28 07:38] laeubi commented on #421
please reopen with further details if this is still relevant for you.

[2021-04-28 07:38] #421 closed

[2021-04-28 07:40] laeubi commented on #429
Please reopen with further details if this is still relevant for you and elaborate what 'natural plugin' has to do with it?

[2021-04-28 07:40] #429 closed

[2021-04-28 07:55] PyvesB commented on #407
I disagree. The faulty line of code is in the Cucumber project:
https://github.com/cucumber/cucumber-eclipse/blob/fe9cff7944f58614d3051ecf611d5e3695c01681/cucumber.eclipse.editor/src/main/java/cucumber/eclipse/editor/editors/Editor.java#L166

Assuming that the editor input is necessarily a file is wrong from the point of view of the Eclipse Platform API. EGit is perfectly allowed to launch a text

[2021-04-28 07:58] PyvesB commented on #236
What do you mean by "2.x line"? I'm using the latest snapshot from https://github.com/cucumber/cucumber-eclipse-update-site-snapshot with the Eclipse 2021-03 and can still reproduce the problem.

[2021-04-28 08:14] laeubi commented on #236
@PyvesB See the cucumber6 branch, I'm currently working on preparing a dedicated update-site for this,

[2021-04-28 08:19] PyvesB commented on #236
Okay, will happily test again when the new site is available. :)

[2021-04-28 12:08] qvdk commented on #427
The update site is available.

Even if you obtain a 404 in your browser, this one will works if you use it directly in the eclipse installation wizard.

![Screenshot from 2021-04-28 13-59-37](https://user-images.githubusercontent.com/6142398/116401148-2c95b180-a82b-11eb-91dc-6d31f82f9893.png)

[2021-04-29 07:01] YenikeRaghuRam commented on #427
I did offline installation it worked

[2021-05-13 07:36] GDAWAR8648 opened #430 "Cucumber - Feature File - nothing shows up in editor"
Cucumber eclipse not opening feature files.

using Photon Release (4.8.0)
Build ID: 20180619-1200

Eclipse Cucumber eclipse plugin version 1.0.0.202005150629
JAVA Version 11

[2021-05-17 18:38] psrko opened #431 "Cucumber gherkins builder"
Errors occurred during the build.
Errors running builder 'Cucumber gherkins builder' on project '<ProjectName>'.
Project is closed

[2021-05-20 16:51] NagaGanjala opened #432 "Cucumber Eclipse Plugin: Unable to navigate to the steps implementation"
I have 3 maven projects in my workspace  and I'm able navigate cucumber steps implementation for 2 Projects.
But for my  3rd project steps navigation is not working .

I did maven clean, project clean ,maven update  and converted as cucumber project---but no luck
I did  >elipse.exe clean as well but still no luck.

In my Org we are using Eclipse Oxygen.

[2021-05-21 21:23] mattwynne opened #433 "Rename master branch to main"
We've made a decision to do this on an organisation-wide basis, as we think that leaving the trunk branch as `master` could give the impression that racism isn't something we care about, which we do. See https://github.com/cucumber/common/issues/1507 for more details.

I can see there are some intricacies in the build pipeline for this project, so a simple rename of the branch would probably break

[2021-05-22 04:11] laeubi commented on #433
I think only here we need to rename the names as well: https://github.com/cucumber/cucumber-eclipse/blob/master/.travis.yml

[2021-05-29 04:38] utkarssh01 opened #434 "Test class not found in selected project"
Issue:
Test class not found in selected project

Steps to recreate:
1. Create a cucumber feature file.
2. Create a Step Definitions file
3. Create a Runner test file using Junit

But when I run the Runner file , it shows all tests are passed but when I click on any of the test it shows the error "Test class not found in selected project".
![image](https://user-images.githubusercontent.com/75351740

[2021-05-30 07:44] hpavan commented on #412
I faced the same problem. After  some analysis, I have figured out the problem. The issue is that, when you install cucumber plugin via eclipse market place or  download site [https://cucumber.github.io/cucumber-eclipse/update-site/](url), it installs quite an older version of that plugin.
What you have to do is, install the cucumber plugin manually as done by @osuser2018 . However just by uninsta

[2021-06-09 14:30] titan1978 commented on #274
Funny how people write "I found the solution" and dont bother actually writing it leaving the actual problem statement open.

[2021-06-09 14:40] Hugale12 commented on #274
Sorry but this issue was closed 3 years ago...

I don't remember exactly the problem, but you can open a new issue ! =)

[2021-06-18 17:30] mattwynne commented on #433
OK @laeubi thanks for the feedback. Are you comfortable with me renaming the branch and making those changes to the travis manifest? I guess we can always revert if I break something...

[2021-06-19 05:32] laeubi commented on #433
Just go ahead, if something breaks we should simply fix/adjust it no need for reverting it.

[2021-06-21 18:33] mattwynne opened #435 "Fix the build"
Travis has turned off travis-ci.org and we're all supposed to use travis-ci.com now. See [blog post](https://blog.travis-ci.com/2021-05-07-orgshutdown) and [migration instructions](https://docs.travis-ci.com/user/migrate/open-source-repository-migration#migrating-a-repository).

I've signed up for an account on there and done my best to migrate over, but it doesn't work.

You can see an error here

[2021-06-21 18:34] mattwynne commented on #433
This should be done, but until #435 is complete we can't know for sure if it worked.

[2021-06-22 05:08] laeubi commented on #435
@mattwynne I think @qvdk can help here, for me it looks like there is some kind of authorization issue...

[2021-06-24 05:24] mattwynne commented on #435
OK I think it's fixed. They had a bug letting us set our plan. We're now on their free plan. I'm still waiting to hear how suitable that is for our needs.

<img width="1087" alt="Screenshot 2021-06-23 at 10 24 01 PM" src="https://user-images.githubusercontent.com/19260/123207125-bb146100-d471-11eb-9c49-995803c5d9b1.png">

[2021-06-24 05:56] #435 closed

[2021-06-24 05:57] mattwynne commented on #433
🤞 the release stuff in CI still works after the travis-ci.org -> travis-ci.com migration.

[2021-06-24 05:57] #433 closed

[2021-06-27 21:52] namrathaPhenoTips commented on #386
@girijant I am unable to install cucumber plugin in eclipse, I tried in all the possible ways

1.Eclipse Market place, 2.Instal New software, 3. By downloading from GIT.

My eclipse version is 2020-12 (4.18.0) , it is supported by cucumber and I am using MAC

The errors I am getting :

An error occurred while collecting items to be installed session context was:(profile=Users*********_eclipse_java

[2021-06-27 21:55] Nprasad28 commented on #386
@girijant I am unable to install cucumber plugin in eclipse, I tried in all the possible ways

1.Eclipse Market place, 2.Instal New software, 3. By downloading from GIT.

My eclipse version is 2020-12 (4.18.0) , it is supported by cucumber and I am using MAC

The errors I am getting :

An error occurred while collecting items to be installed session context was:(profile=Users*********_eclipse_java

[2021-06-28 06:01] girijant commented on #386
Hi All, Thanks for sharing the issue. I've fixed the issue with latest
cucumber-plugin version of *1.0.0.202106240526*, which you can install
from  by searching 'cucumber' from Eclipse-marketplace like below:
[image: Cucumber_version1.PNG]

*Installation Steps:*

   - Freshly open the Eclipse IDE
   - From Eclipse, go to menu Help > Eclipse Marketplace..
   - Work with:
   https://cucumber.github.

[2021-06-28 10:51] Lokesh-524 commented on #206
Hi Pyves,
Could you please share how to download the plugin. As when I navigated to the link you shared its taking to Directory contents, but not able to download the plugin zip file as I need to install offline. Could you please help if you have any idea.

Thanks,
Lokesh
![Screenshot 2021-06-28 115052](https://user-images.githubusercontent.com/68646050/123624963-2316ce80-d807-11eb-973a-8945767e02

[2021-06-28 12:28] girijant commented on #206
Hi All, Thanks for sharing the issue. I've fixed the issue with latest
cucumber-plugin version of *1.0.0.202106240526*, which you can install
from  by searching 'cucumber' from Eclipse-marketplace like below:
[image: Cucumber_version1.PNG]

*Installation Steps:*

   - Freshly open the Eclipse IDE
   - From Eclipse, go to menu Help > Eclipse Marketplace..
   - Work with:
   https://cucumber.github.

[2021-06-29 17:06] Lokesh-524 commented on #206
Hi Girija ,

Thanks for your solution. Its doesn't work for me.
I project server will be offline (No internet access), so I can't add it from marketplace.

Do you know any other solution?

Thanks.

[2021-07-08 06:24] vivekbhardwaj0788 commented on #206
It works for me...Thanks

[2021-07-15 07:28] laeubi opened #436 "Migrate to gh-actions / deploy updatesite to different folders in gh-pages"
We are currently using Travis CI, but the goal would be to migrate this to gtihub actions.

As part of this migration, the deployment should be changed so that different branches are deployed to different folders (instead of different gh-pages) so we can have a better user-experience.

The structure should be as follows:

- rootfolder (contains some arbitratry files)
 - branchA
- branchB
- branchC

[2021-07-15 07:31] laeubi commented on #436
I have created a basic action now: https://github.com/cucumber/cucumber-eclipse/actions

I think the first steps would be:

- only one branch/action should be run/build concurrently
- the following branches should be build sucessfull: v0.x, 1.x, main

[2021-07-15 07:46] laeubi commented on #436
@mattwynne I have tried to setup multiple branches in https://github.com/cucumber/cucumber-eclipse/blob/main/.github/workflows/maven.yml is this the right way or should I place a maven.yml in each branch that should be build?

[2021-07-15 07:51] laeubi commented on #436
@qvdk FYI, another action required would be to disable the travis-ci jobs for this, is this simply deleting the [.travis.yml](https://github.com/cucumber/cucumber-eclipse/blob/main/.travis.yml) file?

[2021-07-15 10:57] qvdk commented on #436
Yes I confirm

[2021-07-19 19:03] mattwynne commented on #436
As I understand it, if you have a workflow like this in your `main` branch, it will run the workflow if you push to any of the branches listed in the `on.push.branches` array.

[2021-08-05 06:23] ranabhavin commented on #204
Hi @qvdk ,
I have written steps for matching features but still the glue symbol is not displayed on the features.
Environment :
Eclipse : **Version: 2021-03 (4.19.0),Build id: 20210312-0638**
Cucumber Snap Shot Version Taken  : **Snapshot branch main - 2021-07-15 07:47:36**
Screenshot :
<img width="726" alt="Screenshot 2021-08-05 at 11 52 13 AM" src="https://user-images.githubusercontent.com/22128

[2021-08-05 07:17] qvdk commented on #204
Hi @ranabhavin

You can try this : https://github.com/cucumber/cucumber-eclipse/wiki/FAQ#my-step-definitions-are-not-detected-and-my-steps-from-my-feature-file-is-highlight-in-yellow

[2021-08-05 08:42] ranabhavin commented on #204
From Eclipse, go to menu Help > Install New software
Work with: https://cucumber.github.io/cucumber-eclipse-update-site-snapshot
This link is not working in eclipse

[2021-08-05 10:06] laeubi commented on #436
@mattwynne I have created:

1. A folder for branch https://github.com/cucumber/cucumber-eclipse/tree/gh-pages/update-site/v1.x
2. a Workflow for the 1.x branch: https://github.com/cucumber/cucumber-eclipse/blob/1.x/.github/workflows/maven.yml
3. The workflow produces an update-site under `cucumber.eclipse.p2updatesite/target/repository/` that should be placed in the gh-pages directory

can you giv

[2021-08-06 15:55] brunpoern commented on #399
Hi,
in our setup the plugin doesn't find step definitions in other projects even if this other project is on the classpath. So we have a project 'foo-test' which depends on 'foo-test-util' (Eclipse project dependency). Both projects contain step definitions but only the once in foo-test are found, i.e. in the same project as the feature files.

Actually, I can see in the feature file that it has f

[2021-08-16 05:12] blueskysagar commented on #198
I tried everything but I am having same problem. My test runner class is not found what to do?

[2021-08-25 07:30] sourabhsharma23 opened #437 "unable to install natural plugin for Eclipse Oxygen Version: 2021-06 (4.20.0)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-09-13 22:43] mattwynne commented on #436
@laeubi do you mean that, once the `mvn -B` command has run, there's a directory `cucumber.eclipse.p2updatesite/target/repository/` that you want copied to the right folder in the `gh-pages` branch?

If so, we're on the right lines. I think you need an action something like this:

[code]

Can you give that a try?

[2021-09-13 22:45] mattwynne commented on #436
You might need to change the `- uses: actions/checkout@v2` step to make sure you've pulled down the `gh-actions` branch as well as the current branch. Or maybe you just need a `git fetch` before the `git checkout gh-pages` line.

[2021-09-14 04:42] laeubi commented on #436
@mattwynne thanks, thats correct the directory contains the data of the update-site. I'll give it a try.

[2021-09-14 06:00] laeubi commented on #436
@mattwynne I have [updated the code](https://github.com/cucumber/cucumber-eclipse/actions/runs/1232399384/workflow) but it seems the [add does not work](https://github.com/cucumber/cucumber-eclipse/runs/3595157027?check_suite_focus=true) and complains about nothing was added. Can you take a look if I'm missing something?

I have just modfied your aproach a bit by checkout both branches in differen

[2021-09-14 06:32] laeubi commented on #436
I think I found the issue, I simply removed the `--update` flag from the git add as it seems to only work if there is already a versioned file with this name (and new files are thus never added..)

[2021-09-14 06:48] laeubi commented on #436
For the v.0 and v1. the update site is there and automatically updated:

- https://github.com/cucumber/cucumber-eclipse/tree/gh-pages/update-site/v0.x
- https://github.com/cucumber/cucumber-eclipse/tree/gh-pages/update-site/v1.x

[2021-09-14 07:12] laeubi commented on #436
The new update-site hosting containing all versions will be https://cucumber.github.io/cucumber-eclipse/update-site/

Currently there are

- https://github.com/cucumber/cucumber-eclipse-update-site-snapshot
- https://github.com/cucumber/cucumber-eclipse-update-site

that looks a bit nicer, @qvdk @mattwynne can anyone help migrating the more modern design to the https://cucumber.github.io/cucumber-

[2021-09-14 07:56] laeubi commented on #436
This is how the update-site currently looks like:
![grafik](https://user-images.githubusercontent.com/1331477/133218546-09ba04b9-a921-4093-a5b1-f873ccd7ba0f.png)

[2021-09-14 08:43] laeubi commented on #436
The current main branch is deployed now to https://github.com/cucumber/cucumber-eclipse/tree/gh-pages/update-site/main and available as https://cucumber.github.io/cucumber-eclipse/update-site/main/ for usage inside eclipse.

[2021-09-14 08:47] #427 closed

[2021-09-14 08:51] laeubi commented on #432
You are seem to using a very old setup (Oxygen was released in June **2017**), please consider upgrading to a more recent version of eclipse and cucumber. If you still need support for your case please open a PR for the old `v0.x` release line that fixes your issue.

[2021-09-14 08:51] #432 closed

[2021-09-14 08:52] laeubi commented on #431
Please provide a PR or more error details (logs, steps to reproduce, ...)

[2021-09-14 08:53] laeubi commented on #430
Photon is very old (Relesed in June 2018) please upgrade to a more recent version and report back if the problem persits with a more detailed error report (e.g. logs, steps to reproduce, ...)

[2021-09-14 08:53] #430 closed

[2021-09-14 08:54] laeubi commented on #425
Can you provide steps to reproduce the issue?

[2021-09-14 08:56] laeubi commented on #412
@osuser2018 please report back if the issue persist with latest version.

[2021-09-14 08:56] #412 closed

[2021-09-14 09:02] laeubi commented on #400
@Tumkass We are currently developing a new version of the cucumber-plugin with improved support for more recent cucumber versions, if you like try out the following update-site (please uninstall the old plugin before):
https://cucumber.github.io/cucumber-eclipse/update-site/main/

[2021-09-14 09:02] laeubi commented on #399
We are currently developing a new version of the cucumber-plugin with improved support for more recent cucumber versions, if you like try out the following update-site (please uninstall the old plugin before):
https://cucumber.github.io/cucumber-eclipse/update-site/main/

[2021-09-14 09:04] laeubi commented on #396
@LorenzoBettini this are the current update-sites:

Unstable-Latest: https://cucumber.github.io/cucumber-eclipse/update-site/main/
Releases: https://cucumber.github.io/cucumber-eclipse/update-site/

If you find any inconsistencies please open a PR to fix/update.

[2021-09-14 09:04] #396 closed

[2021-09-14 09:05] laeubi commented on #380
@PyvesB  can you provide a PR for this?

[2021-09-14 09:05] #377 closed

[2021-09-14 09:06] laeubi commented on #371
We are currently developing a new version of the cucumber-plugin with improved support for more recent cucumber versions, if you like try out the following update-site (please uninstall the old plugin before):
https://cucumber.github.io/cucumber-eclipse/update-site/main/

[2021-09-14 09:06] laeubi commented on #370
We are currently developing a new version of the cucumber-plugin with improved support for more recent cucumber versions, if you like try out the following update-site (please uninstall the old plugin before):
https://cucumber.github.io/cucumber-eclipse/update-site/main/

[2021-09-14 09:06] #370 closed

[2021-09-14 09:07] laeubi commented on #368
We are currently developing a new version of the cucumber-plugin with improved support for more recent cucumber versions, if you like try out the following update-site (please uninstall the old plugin before):
https://cucumber.github.io/cucumber-eclipse/update-site/main/

[2021-09-14 09:08] laeubi commented on #362
We are currently developing a new version of the cucumber-plugin with improved support for more recent cucumber versions, if you like try out the following update-site (please uninstall the old plugin before):
https://cucumber.github.io/cucumber-eclipse/update-site/main/

[2021-09-14 09:08] laeubi commented on #362
There will be no more work on this for v1.x unless someone opens a PR to fix this.

[2021-09-14 09:08] #362 closed

[2021-09-14 09:10] laeubi commented on #324
Can this be closed or do you plan any work on this?

[2021-09-14 09:11] laeubi commented on #275
See https://github.com/cucumber/cucumber-eclipse/issues/275

[2021-09-14 09:11] #275 closed

[2021-09-14 09:13] laeubi commented on #136
We are currently developing a new version of the cucumber-plugin with improved support for more recent cucumber versions, if you like try out the following update-site (please uninstall the old plugin before):
https://cucumber.github.io/cucumber-eclipse/update-site/main/

There will be no more work on this for v1.x unless someone opens a PR to fix this.

[2021-09-14 09:13] #136 closed

[2021-09-14 09:14] #11 closed

[2021-09-14 14:58] nddipiazza commented on #399
Sorry we have migrated to IntelliJ so we are no longer using this plugin.

[2021-09-14 15:25] #399 closed

[2021-09-14 19:11] ryanh007 commented on #368
Does this require a minimum version of eclipse? Getting the errors below using 2020-06 (4.16) even after uninstalling the old cucumber version
thx!

[code]

[2021-09-15 04:23] laeubi commented on #368
You should at least use 2021-03 as this release contains an important fix / API improvement.

[2021-09-15 06:56] LeGrosWinnie commented on #202
Closed but still present...

Cannot open version from git history.

`java.lang.ClassCastException: class org.eclipse.egit.ui.internal.revision.FileRevisionEditorInput cannot be cast to class org.eclipse.ui.IFileEditorInput (org.eclipse.egit.ui.internal.revision.FileRevisionEditorInput is in unnamed module of loader org.eclipse.osgi.internal.loader.EquinoxClassLoader @2acbd6ac; org.eclipse.ui.IFile

[2021-09-15 07:08] anileapen commented on #415
I have the sane problem . My pom.xml is below:
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>com.aspectproject</groupId>
  <artifactId>CucumberAspectProject</artifactId>
  <version>0.0.1-SNAPS

[2021-09-15 07:22] laeubi commented on #415
This is not a problem but a warning, there will be no "fix" unless someone opens a PR for this to the `v1.x` branch.

We are currently developing a new version of the cucumber-plugin with improved support for more recent cucumber versions, if you like try out the following update-site (please uninstall the old plugin before):
https://cucumber.github.io/cucumber-eclipse/update-site/main/

[2021-09-16 13:54] laeubi opened #442 "Format feature files using pure java"
Currently v1 uses a (very old) cucumber plugin to format the source, we should replace this by a more recent aproach that is configurable.

There is a current approach to bring this in here:
- https://github.com/cucumber/common/pull/1725

The following report show the problem with current approach:
- https://github.com/cucumber/cucumber-eclipse/issues/127
- https://github.com/cucumber/cucumber-ecl

[2021-09-16 13:54] laeubi commented on #43
See https://github.com/cucumber/cucumber-eclipse/issues/442 for further work on this.

[2021-09-16 13:54] #43 closed

[2021-09-16 13:54] laeubi commented on #47
See https://github.com/cucumber/cucumber-eclipse/issues/442 for further work on this.

[2021-09-16 13:54] #47 closed

[2021-09-16 13:54] laeubi commented on #56
See https://github.com/cucumber/cucumber-eclipse/issues/442 for further work on this.

[2021-09-16 13:54] #56 closed

[2021-09-16 13:55] laeubi commented on #127
See https://github.com/cucumber/cucumber-eclipse/issues/442 for further work on this.

[2021-09-16 13:55] #127 closed

[2021-09-27 16:14] omprakashchavan01 commented on #370
@laeubi getting "Page not found" for the update-site link.

[2021-09-28 14:49] PyvesB commented on #380
@laeubi how do I go about contributing to this project? I remember struggling with this in the past and somehow miraculously managed to get it working; however, no luck on a fresh install.

I downloaded the latest [Eclipse IDE for RCP and RAP Developers](https://www.eclipse.org/downloads/packages/release/2021-09/r/eclipse-ide-rcp-and-rap-developers), created a brand new workspace, and followed the

[2021-10-02 11:30] laeubi commented on #370
@omprakashchavan01 the updatesite can only be used in eclipse (`Help>Install new Software`)

[2021-10-02 11:31] laeubi commented on #380
You should be able to rightclick a project and choose "Import as Eclipse Project". Or you can choose "search for nested projects" when you import the projects into your workspace.

[2021-10-21 12:22] Stratehm opened #443 "Infinite build loop when Step definitions glue detection enabled"
**Describe the bug**
In our team, we have an Eclipse workspace containing multiple Cucumber projets. All is running fine until an infinite build loop is starting. This loop does not starts at the Eclipse launch but only after a while (we have not identified a specific moment or action which triggers this infinite build loop). Until this infinite loop starts, the workspace is running fine. The inif

[2021-10-22 18:59] sruby617 opened #445 "Eclipse error"
**just updated eclipse to new  Eclipse IDE 2021-09 and error produced**
Editor could not be initialized.

java.lang.NoClassDefFoundError: org/eclipse/jface/text/Assert
	at org.cfeclipse.cfml.editors.partitioner.scanners.rules.CFScriptComponentRule.<init>(CFScriptComponentRule.java:70)
	at org.cfeclipse.cfml.editors.partitioner.scanners.CFPartitionScanner.<init>(CFPartitionScanner.java:193)
	at org

[2021-11-17 00:16] ayoung012 commented on #371
I have tried this new version of the cucumber plugin (on branch main). Unfortunately I could not get it to link any gherkin steps to step definitions.

I did notice some things while looking at the source code:
- the target environment for this plugin is eclipse 2021-09, and there are many additional dependencies compared to v1.x What is the reason for targeting a specific release of eclipse? Do t

[2021-11-17 05:47] laeubi commented on #371
Thanks for the feedback.

-  As Eclipse does not offer any backporting (mainly due to lack of developer resources/contributors) we constantly need to upgrade the eclipse version to get bugfixes and new features.
- Everyone that is willing to support the old approach can contribute to the v1.x line, but as cucumber evolves more and more with new features it becomes much harder to catch up given tha

[2021-12-04 17:24] spierepf commented on #371
Is it possible to disable the "Cucumber steps definition builder"? I haven't written any steps yet, and my eclipse installation is unusable.

[2021-12-19 12:26] ayoung012 commented on #371
Hi @laeubi
Thanks for your detailed response. I have generated a large cucumber project that can be used to profile cucumber and associated cucumber tools such as this plugin.

https://github.com/ayoung012/large-cucumber-java-stub

Some very interesting things can be seen by profiling this plugin on this stub project with VisualVM, for example, it becomes obvious that adding Java8 lambda step defi

[2021-12-19 16:44] laeubi commented on #371
@ayoung012 thanks for the example, I'll try to take a look at it.

I think the best that one could do in such situation is to try to narrow down the scope of a feature. I suspect not all step definitions are relevant for one feature.

lamdas are especially slow as the require the java code to be executed instead of only reading the class metadata. Also lamdas are hard to manage (e.g. get reliable

[2021-12-21 12:23] YogeshGIT90 commented on #420
Hello, I also faced same issue but it is resolved by updating eclipse version from 4.15 to 4.22. Thanks for the solution. Help> check for updates> add latest url for updating eclipse. It will download latest version of eclipse and does restart.

[2021-12-23 11:32] MahatmaFatalError opened #449 "[FEATURE-REQUEST] Find references of java step definitions in feature files"
**Is your feature request related to a problem? Please describe.**
In a java file that implements the various io.cucumber.java.en.Given/When/Then/... steps I want to use the Eclipse built-in function to search for references of a particular method (Referecnes -> Project).

**Describe the solution you'd like**
The FInd References function should include findings in cucumber feature files.

[2021-12-26 05:17] akshayshinde19 commented on #388
Thanks it worked for me as well

[2022-01-26 21:30] ratelz opened #450 "Test runner class not found in selected project in Cucumber"
Issue:
Test class not found in selected project

Steps to recreate:

Create a cucumber feature file.
Create a Step Definitions file
Create a Runner test file using Junit
But when I run the Runner file , it shows all tests are passed but when I click on any of the test it shows the error "Test class not found in selected project".

![Screenshot 2022-01-26 162724](https://user-images.githubuserconte

[2022-01-26 22:59] mpkorstanje commented on #450
You're using `cucumber-junit` which integrates Cucumber with JUnit 4. This means that you are using the JUnit Plugin for Eclipse, not the Cucumber plugin.

While JUnit 4 no longer requires tests to be classes but most tools still assume this is the case because JUnit 4 does not provide a way for Cucumber to specify what the test file is. So I would consider it unlikely that this bug will be fixed

[2022-02-12 11:01] RusmanCool commented on #371
What is a point of your reply?!
Are you suggesting that EVERYONE who has an issue with ANY open source projects they are using to just fix the ALL by THEMSELF? That is a very stupid suggestion. Look, I have created this ticket to see if someone knows how that can be resolved. If you have nothing to contribute - just keep you know what shut, as that is not helpful at all.

[2022-02-17 19:21] namrathaPhenoTips commented on #360
Hi there, while I am running my cucumber feature files I am getting these errors : java.lang.StackOverflowError
	at org.openqa.selenium.By$ByXPath.findElement(By.java:279)
	at org.openqa.selenium.remote.RemoteWebDriver.findElement(RemoteWebDriver.java:314)
	at org.openqa.selenium.By$BaseW3CLocator.findElement(By.java:399)

The tests runs file with Junit Runner and through Maven, but running a cucu

[2022-02-26 13:10] ChPrasath commented on #428
how to solve it..?

[2022-03-02 07:47] himeros49 commented on #420
I got it ....

It isn't opening into default Cucumber Editor

Goto ----> Window ---->  Preferences ------>  drop-down  General option

then Goto Editors-----> File Associate

![image](https://user-images.githubusercontent.com/100756093/156317303-f7c1b35f-0469-4619-8021-4bd3c99eaeae.png)

click on features
and make sure default editor must me "Editor(with cucumber logo)"

![image](https://user-imag

[2022-03-10 03:20] ryanh007 commented on #368
Not sure if  my setup is wrong, but still cant get steps to match glue code. Also when I right click on the feature file I see no Cucumber options (Pretty format, Find Step, Scan  etc) and the keyboard shortcut to create the  step is not recognized.
Java 11, Eclipse 2021-12, Cucumber plugin 2.0.0.202110241342,  Cucumber v6.11.0

[2022-04-25 11:54] nramu33 commented on #368
@ryanh007 could you please share me the link to get Cucumber plugin 2.0.0.202110241342.

[2022-05-24 12:13] GayanSandaruwan opened #451 "Maven Build Failure - API incompatibility in tycho-p2-director-plugin:2.7.3:materialize-products"
### 👓 What did you see?

Maven Build Fails when running `maven clean install` attempting to build locally

### ✅ What did you expect to see?

Maven Build should run successfully and create the local updatesite

### 📦 Which tool/library version are you using?
Java 11
maven 3.6.3

### 🔬 How could we reproduce it?

Clone the repository
Run `maven clean install`

See the error log
``
[INFO] Reactor Su

[2022-05-24 12:29] #451 closed

[2022-05-27 09:14] filippor opened #454 "Support dark theme in gerkin ewditor"
### 👓 What did you see?

When I use dark theme I see black text on black background

### ✅ What did you expect to see?
Use color from theme

### 📦 Which tool/library version are you using?

  Cucumber Eclipse	2.0.0.202205250851	cucumber.eclipse.feature.feature.group	null

Eclipse
Version: 2022-03 (4.23.0)
Build id: 20220310-1457
### 🔬 How could we reproduce it?
Set dark theme on Eclipse preference

[2022-05-27 12:07] filippor opened #455 "Support Cucumber 7"
### 👓 What did you see?
When run test
Exception in thread "main" java.lang.NoClassDefFoundError: io/cucumber/messages/Messages$Envelope
	at io.cucumber.eclipse.java.plugins.CucumberEclipsePlugin.setEventPublisher(CucumberEclipsePlugin.java:39)
	at io.cucumber.core.plugin.Plugins.setEventBusOnEventListenerPlugins(Plugins.java:71)
	at io.cucumber.core.runtime.Runtime$Builder.build(Runtime.java:201)

[2022-06-13 21:05] maioni opened #458 "Gherkin: .feature can't find a .step definition when it uses a parametertype on it"
### 👓 What did you see?

The .feature file (the gherkin) cant find the step definition when it's using a @parametertype value on it.

### Files content

.feature
![image](https://user-images.githubusercontent.com/6604846/173433670-bf2b34a2-5a67-4c99-9c2d-30359936faf1.png)
Feature: Pages
  I want to use the menu page

  Scenario: Click on menu
    Given I click on menu

.step
![image](https://user-

[2022-06-14 04:26] laeubi commented on #458
this is only supported on the current developed 2.x version of cucumber.

[2022-06-14 04:29] maioni commented on #458
How do I install this 2.0 version?

[2022-06-14 04:29] maioni commented on #458
How install the 2.0 version?

[2022-06-14 04:37] laeubi commented on #458
See https://github.com/cucumber/cucumber-eclipse#follow-the-latest-snapshot

[2022-06-14 04:43] maioni commented on #458
404 > https://cucumber.github.io/cucumber-eclipse/update-site/main/

[2022-06-14 21:03] maioni commented on #458
at Eclipse: `Help > Install New Software`
![image](https://user-images.githubusercontent.com/6604846/173682320-b2d4d5f9-7492-49f2-aaaa-0a2b214513e3.png)

`Add`
`Name`: Cucumber Eclipse Plugin 2.0
`Location`: https://cucumber.github.io/cucumber-eclipse/update-site/main/
![image](https://user-images.githubusercontent.com/6604846/173682103-c42e4ed1-106f-433a-b482-aedef908e6ce.png)
`Add`

Select `Cucu

[2022-06-15 09:42] laeubi commented on #458
2.0 do not use/require a special project type anymore. Please make sure that 1.0 is uninstalled and there are no conflicting editor assignments that take precedence.

[2022-06-15 09:43] laeubi commented on #458
Also make sure to use a recent eclipse version.

[2022-06-15 13:40] maioni commented on #458
@laeubi Could you give me some directions? Anything I need more to do to make 2.0 works as designed?

[2022-06-15 13:41] maioni commented on #458
Using the last version, and already installed 2.0 alone, the issue remains.

[2022-06-15 14:13] laeubi commented on #458
There is an example project here:

https://github.com/cucumber/cucumber-eclipse/tree/main/examples/java-calculator

this requires m2eclipse to be imported and then should work at least last time i tested, if not please open an issue with the steps to reproduce the problem.

[2022-06-15 16:19] maioni opened #459 "After install Cucumber Plugin 2.0, the Eclipse does not associate the .feature files, does not enable the option Convert to Cucumber Project. This way the plugin can't be used."
### 👓 What did you see?

After install plugin 2.0, the .feature files are not associated, and the Convert to Cucumber Project is not available. This way the .feature can't glue to step definitions.

### ✅ What did you expect to see?

After install plugin 2.0, the .feature files are associated, and the Convert to Cucumber Project is available. So the .feature will glue to step definitions correctly

[2022-06-15 17:56] laeubi commented on #458
Sorry I don't understand, your screenshot shows the green cucumber icon for the feature and it open a gherking / cucumber editor with highligts and instant run actions so what exactly are you missing?

[2022-06-15 17:58] laeubi commented on #459
As already mentioned, converting to cucumber project is no longer a required and not offered.

There is no longer an icon for glued steps, so from your screenshot everything looks fine and as expsected...

[2022-06-15 18:14] maioni commented on #459
Thank you!

Thank you! I can see that CTRL+CLICK is working too!
![image](https://user-images.githubusercontent.com/6604846/173896459-b0289539-eb54-4fcf-af14-0daf4d1dabee.png)

[2022-06-15 18:18] maioni commented on #459
How about the file association? Why it's not displayed into Windows > Preferences > Editors > File Association?
![image](https://user-images.githubusercontent.com/6604846/173897203-b26899a8-8195-435c-aceb-9d3eed59779e.png)

[2022-06-15 18:19] laeubi commented on #459
Cucumber-eclipse uses the "generic editor" maybe it is listed under "content types".

[2022-06-15 18:31] maioni commented on #459
Found it! Thank you again!
![image](https://user-images.githubusercontent.com/6604846/173899552-7058237a-4f92-44d9-b31a-97a3d513d970.png)

I hope this issue could help others to make sure it's installed and working!

[2022-06-15 21:34] #459 closed

[2022-06-16 01:00] maioni commented on #458
Resolution details at: https://github.com/cucumber/cucumber-eclipse/issues/459

[2022-06-16 01:00] maioni commented on #459
Closed!

[2022-06-16 02:08] maioni commented on #458
After know how to install Cucumber Eclipse Plugin 2.0, and now able to test a cucumber project that uses **Parameter type**, the feature remains unable to find the step definition:

**Updating the example calculator code to support parametertype:**
Original code: https://github.com/cucumber/cucumber-eclipse/tree/main/examples/java-calculator
Updated code with parametertype implemented: [java-calcu

[2022-06-16 03:34] laeubi commented on #458
According to your screenshot you have not saved the RnpCalculatorStep file...

Beside that its best to enhance the example (or copy it, provide an own, ...) open a PR and a separate issue.

[2022-06-16 14:50] maioni opened #460 "Error: No source found for step; when we CTRL+CLICK a feature to go to the step definition (Cucumber Eclipse Plugin 2.0)"
### 👓 What did you see?

After CTRL+CLICK a feature to redirects to a step definition, it shows a error: No source found for step

### ✅ What did you expect to see?

Eclipse open and highlight the step definition for the feature line

### 📦 Which tool/library version are you using?

- Eclipse with already m2 installed: https://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/r

[2022-06-16 14:50] maioni commented on #458
New issue opened: https://github.com/cucumber/cucumber-eclipse/issues/460

[2022-06-16 14:51] #458 closed

[2022-07-03 01:05] natrajan0409 opened #461 "io.cucumber.core.exception.CompositeCucumberException"
While executing my code From the Junit runner class  and same code can able to execute from  Run as Cucumber.io file
But  I'm getting the warning code  " Jul 03, 2022, 6:31:19 AM cucumber.api.cli.Main run
WARNING: You are using deprecated Main class. Please use io.cucumber.core.cli.Main"

 io.cucumber.core.exception.CompositeCucumberException: There were 2 exceptions. The details are in the stackt

[2022-07-11 12:03] dineshvy commented on #415
I am still facing this issue and not getting resolution for this. Can anyone please help me.

[2022-07-25 08:35] Vyom1107 opened #462 "Unable to install cucumber eclipse snapshot 1.0.0 version offline. Throwing error as missing editor requirement."
![B65FA927-2BEC-42BF-B92F-6AB997EA78C1](https://user-images.githubusercontent.com/109950559/180735360-6c75210d-7458-4903-9a28-34b54c2f1a5f.jpeg)

### 👓 What did you see?

### ✅ What did you expect to see?

### 📦 Which tool/library version are you using?

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install '...' version '...'
2. Create a file called '....'
3. Run command '

[2022-07-25 10:29] girijant commented on #462
@Vyom1107,
Instaed of trying with ofline intalation, I would suggest,pleae try to install from eclipe-marketplace: https://marketplace.eclipse.org/content/cucumber-eclipse-plugin/
Could you please specify the Eclipse version details?
Regards,
-Girija

[2022-07-25 12:11] Vyom1107 commented on #462
Hello Girija,
 Thank you for your revert. At present we can’t install through Market place due to firewall and proxy restrictions.

currently I am using IDE-2022-06 version

[2022-07-25 12:38] Vyom1107 commented on #462
In addition, I believe due to missing cucumber eclipse plug-in , while running test runner class as Junit, eclipse is throwing error as *Test class not found to run etc.*

I guess this will be fixed once we successfully install cucumber plugin.

[2022-07-26 02:13] GVEBhaskar opened #463 "Cucumber feature file issue"
Hi,
I am new to using Cucumber. I have tried creating the feature file and executing but it was not with the below error and I have created TestRunner and StepDefinition also and executed but still I am not winning here. Please see the screen attached here so that you can understand clearly. And also please suggest the best versions of Java, Eclipse for the cucumber framework. Currently I am using

[2022-07-27 06:00] Vyom1107 commented on #462
Kindly help on above issue.

[2022-07-27 07:31] girijant commented on #462
@Vyom1107
You may directly download & install the 2.0.0 or 1.0.0 SNAPSHOT version of plugin ofline from: https://github.com/cucumber/cucumber-eclipse/releases
![image](https://user-images.githubusercontent.com/17194046/181187820-df92deb0-c59a-42ad-8b90-da6b8ab21414.png)

[2022-07-28 03:17] Vyom1107 commented on #462
Hello Girija, thank you for revert.

will try this and let you know. Thank you!!!

[2022-07-28 09:50] Vyom1107 commented on #462
Hi Girija ,

Below link is showing only 1.0.0 release, there is no 2.0.0 snapshot available. Could you please check. It seems in draft status.
https://github.com/cucumber/cucumber-eclipse/releases

[2022-07-28 17:33] laeubi commented on #463
Please try out the latest snapshot https://github.com/cucumber/cucumber-eclipse#follow-the-latest-snapshot

[2022-07-28 17:33] #463 closed

[2022-07-28 17:34] laeubi commented on #462
Please see https://github.com/cucumber/cucumber-eclipse#follow-the-latest-snapshot for snapshots release, the 1.0 is most likley incompatible with recent eclipse versions

[2022-07-28 17:34] #462 closed

[2022-08-01 09:35] Vyom1107 opened #464 "Test class not found for selected project error while running cucumber Junit test runner"
### 👓 What did you see?

### ✅ What did you expect to see?

### 📦 Which tool/library version are you using?

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install '...' version '...'
2. Create a file called '....'
3. Run command '....'
4. See error '....'

### 📚 Any additional context?

----

*This text was originally generated from a [template](https://docs.github.com/en/c

[2022-08-01 09:40] Vyom1107 commented on #464
![Uploading 5159D49F-E829-41E1-AF5A-1629BFBB7E53.jpeg…]()
![Uploading 049F4B2D-6825-4274-AAAA-AD3ED5CE897D.jpeg…]()

[2022-08-01 09:41] Vyom1107 commented on #464
Below is the error and project snapshot
![Uploading 87218CAD-B54B-4C1A-853A-1EE01AD01EC0.jpeg…]()

[2022-08-01 10:23] Vyom1107 commented on #464
![Uploading 9DB1BCB5-9219-4303-B1B8-2438D3589E59.jpeg…]()

[2022-08-04 15:26] AddisonSnyder opened #465 "Allow Step Definitions from Maven Dependencies"
### 🤔 What's the problem you're trying to solve?
I'm writing a cucumber framework for Selenium related steps, which is then used as a dependency for many CI projects. When they try to use cucumber plugin, the steps aren't detected in autofill, considered "missing step definition", etc. Often testers can't even build the project from the IDE/plugin 'run scenario/feature' button. However, in command

[2022-08-04 16:30] AddisonSnyder commented on #465
Nevermind, I'm an idiot. Spent hours trying to resolve this, and I can semi-fix it by having the project A) referenced by the implementing project and B) (the part I forgot) converting all pertinent projects to Cucumber projects.
Gonna confirm on a second machine and close this issue. :disappointed:

[2022-08-04 17:48] #465 closed

[2022-08-05 00:18] mpkorstanje commented on #465
That's cool. And don't be so hard on yourself! We've all been there, and often go back too.

[2022-08-08 17:28] maioni commented on #460
@laeubi any updates?

[2022-08-09 16:15] laeubi commented on #460
@maioni sorry have not yet had the time to look at this, but maybe you want to try debugging this and proposing a patch?

[2022-08-18 11:21] bharadwaj92-qa commented on #415
I see this issue has been closed but no where I see the solution.
 @laeubi could you please help me ?

[2022-08-21 01:36] ChinmoyJana14 commented on #204
Recently I fixed that problem by changing the default editor light greener to dark greener. Before I installed the plugins and converted to cucumber project
![image](https://user-images.githubusercontent.com/26435511/185771664-7f6e2be5-37c2-4140-9ccd-ce144f0f9817.png)

[2022-08-21 13:42] ChinmoyJana14 opened #466 "Same name feature file referring to different project feature if any"
Same name feature file referring to different project feature if any.
I was expecting to have the message in the console
You can implement missing steps with the snippets below:
instead it is reffering to some different project in my eclipse having same name feature file and executing those steps

<dependency>
    <groupId>io.cucumber</groupId>
    <artifactId>cucumber-java</artifactId>
    <versi

[2022-09-14 06:55] reena112556 commented on #415
Hi,
I am facing the same issue.

Sep 14, 2022 12:20:02 PM cucumber.api.cli.Main run
WARNING: You are using deprecated Main class. Please use io.cucumber.core.cli.Main
Sep 14, 2022 12:20:03 PM io.cucumber.core.runtime.FeaturePathFeatureSupplier get
WARNING: No features found at file:/C:/Users/REENA/OneDrive%20-%20Capgemini/Desktop/Eclipse/OCEtest/src/test/resources/Features/offercreation.Feature

I

[2022-09-16 04:34] suprithad commented on #415
Can someone provide the solution for this issue please.

[2022-09-16 05:43] laeubi commented on #415
Please see https://github.com/cucumber/cucumber-eclipse/issues/415#issuecomment-919766422

[2022-09-16 07:13] #415 closed

[2022-09-28 15:01] Automationsindu commented on #461
Is the issue resolved? Facing same issue.

[2022-09-28 18:08] laeubi commented on #461
Duplicate of #428

[2022-09-28 18:08] #461 closed

[2022-10-17 07:19] appusenthu21 commented on #251
dgfd

[2022-10-20 15:08] sabirmulla007 commented on #415
yes. same issue of deprecated class but my browser is not opening.

[2022-10-20 15:08] sabirmulla007 commented on #415
same issue of deprecated class but my browser is not opening.

[2022-10-23 16:36] sunil-samuel opened #467 "404 for eclipse https://cucumber.github.io/cucumber-eclipse/update-site/main/"
### 👓 What did you see?

### ✅ What did you expect to see?

### 📦 Which tool/library version are you using?

### 🔬 How could we reproduce it?

Steps to reproduce the behavior:
1. Install '...' version '...'
2. Create a file called '....'
3. Run command '....'
4. See error '....'

### 📚 Any additional context?

----

*This text was originally generated from a [template](https://docs.github.com/en/c

[2022-10-24 06:21] laeubi commented on #467
https://cucumber.github.io/cucumber-eclipse/update-site/main/ is an update-site not a web-site that delivers user content.

Simply ad the URL in the eclipse install dialog and it will work, as eclipse checks some "magic files" like https://cucumber.github.io/cucumber-eclipse/update-site/main/p2.index

[2022-10-24 06:21] #467 closed

[2022-10-24 14:12] sunil-samuel commented on #467
Thank you.  I was using this URL to "Install New Software ..." via eclipse and eclipse was giving me a 404.  But it is working today.  Maybe I had something extra.  BTW, the URL, without the `p2.index` works.   Thank you again.

[2022-10-26 17:05] mattwynne opened #470 "Fix the build"
### 🤔 What's the problem you've observed?

Checks on two new PRs are failing for reasons that I think are unrelated to the change in the PR.

The error looks like this:
[code]

### ✨ Do you have a proposal for making it better?

Investigate the cause and fix it!

### 📚 Any additional context?

https://github.com/cucumber/cucumber-eclipse/pull/468
https://github.com/cucumber/cucumber-eclipse/pull/4

[2022-10-26 17:17] mpkorstanje commented on #470
@mattwynne the first line in the error is a bit long, but it says we need to upgrade the Java version to 17.

[2022-10-26 21:22] mattwynne commented on #470
Thanks @mpkorstanje, [let's see if that works](https://github.com/cucumber/cucumber-eclipse/actions/runs/3332625374/jobs/5513708902).

[2022-10-26 21:27] mattwynne commented on #470
OK, I've updated to Java 17 but we have a new error:

[code]

Any suggestions?

[2022-10-28 05:51] laeubi commented on #470
Sorry I missed this issue but it is now fixed with:
- https://github.com/cucumber/cucumber-eclipse/pull/472

[2022-10-28 05:51] #470 closed

[2022-10-28 09:21] laeubi commented on #467
@sunil-samuel yes the one with p2.index just was to show that there is actually content at that site (but none useful to a regular web-browser/user).

We currently use GH-pages and there might even be outages, I hope to get some time to change this to deploy to maven-central, but sadly I'm all doing this in my free time now so please be patient (or offer a funding :-) )

[2022-10-28 11:21] sunil-samuel commented on #467
Thank you so much.  Very much appreciate you @laeubi

[2022-10-30 16:37] renovate[bot] opened #475 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/cucumber/cucumber-eclipse).

## Pending Branch Automerge

The following updates await pending status checks before automerging. To abort the branch

[2022-11-02 15:21] sgrillon14 opened #478 "Ctrl+Shift+F do not work"
I want use pretty formater (2 spaces for 1 tab)

### 👓 What did you see?

Pretty formatter work by click right but not by short cut Ctrl+Shift+F

### 📚 Any additional context?

I use Karate Framework on STS (Spring Tool Suite)

[2022-11-08 14:20] ryanh007 commented on #368
@nramu33 It used to be on https://cucumber.github.io/cucumber-eclipse/update-site/main/ but looks like that got pulled down. Not seeing any other way to get 2.X. Is the support for this plugin End of Life at this point?

[2022-11-10 09:16] goxselenium opened #479 "Error with FilterViewerComparator"
### 👓 What did you see?

Cucumber is not working with the latest versions of eclipse
FilterViewerComparator has problems

### ✅ What did you expect to see?

eclipse.buildId=4.25.0.I20220831-1800
java.version=17.0.4.1
java.vendor=Eclipse Adoptium
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=es_AR
Framework arguments:  -product org.eclipse.epp.package.jee.product -product org.eclipse.ep

[2022-11-10 10:52] laeubi commented on #479
What cucumber-eclipse version do you use?

[2022-11-11 17:26] 11nidhi commented on #330
Can you suggest any solutions?
Like i didn't get what to do exactly to resolve this

[2022-11-22 10:31] Rkharat2312 commented on #409
@softwaredev999 how you resolve this issue?
I am getting same issue