[2012-11-07 08:52] mrpotes opened #1 "Access please :)"

[2012-11-13 13:05] #1 closed, assigned to nobody

[2012-12-12 12:51] matthewpietal opened #2 "Requesting access"

[2013-01-06 17:51] ilanpillemer opened #3 "Add Gherkin Syntax Highlighting - should work from version 3.5+"
Add syntax highlighting for .feature files.

[2013-01-07 13:30] ilanpillemer opened #4 "Highlight unmatched steps"
If there is no matching step definition, mark it yellow or something.

[2013-01-07 13:31] ilanpillemer opened #5 "Go to Stepdef from Step"
Just like you can go to a method definition in Java, you should be able to go to a step definition from a Gherkin step (CTRL-B in IDEA). I think its F3 or F4 in Eclipse, also control click.

[2013-01-07 13:32] ilanpillemer opened #6 "Find references for stepdefinitions"
"Just like you can find usages of a method in Java, you should be able to find (Gherkin step) usages of a step definition. Cucumber-JVM already has the ability to create a ""database"" of steps, step definitions and their usages. See this example.

This can be used as the basis for such a feature."

[2013-01-07 13:32] ilanpillemer opened #7 "Render results in the gherkin source"
"When a scenario or feature is run in an IDE, results could be displayed simply by colouring gherkin rows red (failed), green (passed), yellow (pending or undefined) or cyan (skipped). For failed steps there will also be a stack trace, and this could be displayed when the mouse hovers the line - and/or by hitting a keystroke.

"

[2013-01-07 13:33] ilanpillemer opened #8 "Code completion based on stepdefs or stepdefs.json"
When a user edits a gherkin scenario, writing a step should pop up a code completion widget based on the available step definitions (CTRL-SPACE in IDEA). Selecting one should fill it in, and the Capture groups should be tabbable, just like they are when doing the same for java methods and their arguments.

[2013-01-07 13:33] ilanpillemer opened #9 "Run selected feature files/feature/scenario"
Should use the file.feature:line cmd line option

[2013-01-07 13:34] ilanpillemer opened #10 "Autoformatting"
The Gherkin library's pretty formatter should be able to do this consistently

[2013-01-07 13:34] ilanpillemer opened #11 "Don't mark step definitions as "unused""
A method that isn't explicitly called from anywhere turns up gray in most IDEs. The exception is JUnit test methods, which the IDE understands are "special" since they are called by reflection by JUnit. Step definitions should be treated the same way.

[2013-01-07 13:35] ilanpillemer opened #12 "Stack trace support"
When a step fails with an exception, Cucumber-JVM will add a stack trace frame pointing to the failing gherkin step. It should be possible to click on this frame in the IDE and go to the source line.

[2013-01-07 13:35] ilanpillemer opened #13 "Choose what to re-run"
It should be possible to select a few scenarios from the previous run's output widget, and rerun only those. Sort of like JUnit's test tree in many IDEs.

[2013-01-07 13:35] ilanpillemer opened #14 "Rerun with JUnit"
Even if an IDE has native support for running a feature/scenario with a keystroke, it is still practical to have a single JUnit class to run everything. When all scenarios are run and displayed in the JUnit result tree, it should be possible to rerun the failing ones (or perhaps just one of them) by clicking on the failed scenario and choose "run again".

[2013-01-07 13:36] ilanpillemer opened #15 "Create Snippets"
"If a Gherkin step is undefined (no matching step definition), it should be possible to create a step definition with a keystroke (`ALT-ENTER` in IDEA). This should use Cucumber-JVM's [internal](https://github.com/cucumber/cucumber-jvm/tree/master/core/src/main/java/cucumber/runtime/snippets) [utilities](https://github.com/cucumber/cucumber-jvm/blob/master/java/src/main/java/cucumber/runtime/java/

[2013-01-07 20:43] mrpotes opened #16 "Release version 0.0.1"

[2013-01-07 20:45] #3 closed, assigned to ilanpillemer

[2013-01-07 20:53] #16 closed, assigned to nobody

[2013-01-07 21:11] mrpotes opened #17 "Create an API for finding steps"

[2013-01-07 21:14] mrpotes opened #18 "Release 0.0.2"

[2013-01-07 21:15] #2 closed, assigned to nobody

[2013-01-08 18:42] ilanpillemer opened #19 "make colours used in syntax highlighting editable via preferences"

[2013-01-08 20:50] #19 closed, assigned to ilanpillemer

[2013-01-09 18:06] ilanpillemer opened #20 "Add syntax highlighting for number literals"

[2013-01-09 20:00] ilanpillemer opened #21 "update gherkin jar in eclipse editor plugin to 11.6"

[2013-01-11 22:07] ilanpillemer opened #22 "Indicate if feature file has parse errors"
Indicate visually if a feature file has parse errors, highlighting line etc and providing error message. Follow eclipse conventions to do this.

[2013-01-12 20:44] #20 closed, assigned to ilanpillemer

[2013-01-12 20:45] #10 closed, assigned to ilanpillemer

[2013-01-13 22:30] mrpotes opened #23 "Runner for .feature files"

[2013-01-14 19:12] ilanpillemer opened #24 "refactored, fixed fault and added keybinding for pretty formatting"

[2013-01-14 19:14] #24 closed, assigned to ilanpillemer

[2013-01-14 21:12] ilanpillemer opened #25 "0.0.2"

[2013-01-15 20:02] #25 closed, assigned to nobody

[2013-01-28 17:59] randomcoder opened #26 "Add Syntax Highlight for Scenario Outline"
It would be nice if a `Scenario Outline:` was given the same highlight as `Scenario` without having to write `Scenario _Outline:`

[2013-01-29 18:34] ilanpillemer opened #27 "Release 0.0.3"

[2013-01-29 18:36] #26 closed, assigned to ilanpillemer

[2013-01-29 18:40] ilanpillemer opened #28 "For syntax highlighting the keywords needed to be ordered so that those with most spaces as delimiters are at the top"

[2013-01-29 18:47] #27 closed, assigned to ilanpillemer

[2013-02-12 19:46] ilanpillemer opened #29 "Release Version 0.0.4"

[2013-02-12 20:27] #21 closed, assigned to nobody

[2013-02-20 12:20] RyoYamamotoJP opened #30 "Pretty format command removes significant whitespace after 前提(Given)"
Consider the following feature written in Japanese.

<pre>
# language: ja
フィーチャ: 除算
  バカな間違いを避けるために
  有理数も計算できること

  シナリオ: ふつうの数値
    前提 3 を入力
    かつ 2 を入力
    もし divide を押した
    ならば 1.5 を表示
</pre>

Note that there is significant whitespace between _前提_(Given) and _3_.

Now run the Pretty Format command. The result is:

<pre>
# language: ja
フィーチャ: 除算
  バカな間違いを避けるために
  有理数も計算できること

  シナリオ: ふつうの数値

[2013-04-07 13:47] aparkinson opened #32 "What is the current License for the project?"
I'm assuming this projects license is MIT to match other Cucumber projects?

[2013-04-07 16:28] #32 closed, assigned to nobody

[2013-04-09 22:36] maggiezhou opened #35 "Colored html report output in Console"
Better to the colored output in console of Eclipse when has @Cucumber.Options(format = { "pretty", "html:target/cucumber-html-report" }) in RunCukesTest

[2013-04-17 13:20] rafalima opened #36 "Cucumber eclipse plugin dependecy error"
When I try to install the cucumber plugin in Aptana Studio, I get an error message:

Cannot complete the install because one or more required items could not be found.
  Software being installed: Cucumber Eclipse Feature 0.0.3.alpha (cucumber.eclipse.feature.feature.group 0.0.3.alpha)
  Missing requirement: Cucumber Editor 0.0.3.alpha (cucumber.eclipse.editor 0.0.3.alpha) requires 'bundle org.juni

[2013-04-18 19:58] #30 closed, assigned to nobody

[2013-04-23 05:53] amosshapira opened #37 "Installation instructions?"
Hello,

Are there any instructions available about how to install this plugin?

Thanks.

[2013-04-26 20:11] #37 closed, assigned to nobody

[2013-04-27 06:13] #29 closed, assigned to nobody

[2013-05-29 15:01] chiavegatto opened #39 "Improvements that don't ever are prioritized"
I'm looking for a plugin that is useful for the use of the technique of bdd, I'm using the natural, saw this plugin and I was trying to use it, now don't understand how simple things that make life of who is using the plugin is not developed, it is as open to improvement more than 5 months. To use the project would be ideal, it would be ideal of auto-complete feature by clicking or f3 go to step i

[2013-05-30 10:57] #39 closed, assigned to nobody

[2013-07-05 12:50] #28 closed, assigned to nobody

[2013-07-16 15:45] chrisbrinkman opened #40 "Cucumber Eclipse Update Site HTTP 404"
This:
http://cucumber.github.com/cucumber-eclipse/update-site

Redirects to:
http://cukes.info/cucumber-eclipse/update-site

Which results in HTTP 404

[2013-08-12 05:38] #40 closed, assigned to nobody

[2013-08-21 14:26] farrukh635 opened #42 "Class Not Found Exception when opening .feature file in MyEclipse 10"
I dont know why i am getting "java.lang.ClassNotFoundException: cucumber.eclipse.editor.editors.Editor" exception when i run eclipse. i downloaded the zip file and extracted it to dropin folder in myeclipse. Please let me know what i am doing wrong. Thanks

java.lang.ClassNotFoundException: cucumber.eclipse.editor.editors.Editor
    at org.eclipse.osgi.internal.loader.BundleLoader.findClassInterna

[2013-08-26 18:51] friederbluemle opened #43 "Autoformatter mixes up line endings"
Ctrl+Shift+F works reasonably well with this plugin, but it mixes up LF and CRLF ending. After applying the formatter a file that only had CRLF endings would now have a mix of LF and CRLF endings.

[2013-08-28 09:10] selvaraj259 opened #44 "Code folding for JSON"
Here we use cucumber for JSON compare. JSON pretty format occupy high vertical space. And unformatted JSON hard to find element and find node mismatch. So please support JSON folding.

[2013-09-01 10:47] #42 closed, assigned to nobody

[2013-09-19 19:26] islandworksmn opened #45 "auto comments"
just like a .java file where you select a block of lines and ctrl /   to get // at the start of each line in the block.

[2013-11-19 13:51] jayachandranjg opened #46 "Unable to access the eclipse plugin in the given URL"
I am trying to install the eclipse plugin for cucumber using the URL provided http://cucumber.github.com/cucumber-eclipse/update-site. but it not working. can you please update the new working URL

[2013-12-12 20:33] jadznz opened #47 "Comments at end of feature file are deleted on format"
Comments at the end of a feature file are being deleted, I would not expect any comment text to be deleted as part of a reformat.

Reformatting the following example:

[code]

Results in:

[code]

[2013-12-14 21:53] #46 closed, assigned to nobody

[2013-12-14 21:55] #36 closed, assigned to nobody

[2013-12-14 21:57] #18 closed, assigned to nobody

[2013-12-18 11:05] thiner opened #48 "Error while installing in Eclipse Indigo SR2"
I got below error whilt I was trying to install the plugin. Target platform is Eclipse Indigo SR2.

An error occurred while collecting items to be installed
session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
No repository found containing: osgi.bundle,cucumber.eclipse.editor,0.0.6.201312152101
No repository found containin

[2013-12-30 16:53] jonathan-waite opened #49 ""Run Feature" Errors"
I created a feature configuration and when I run it I get the following error:

![image](https://f.cloud.github.com/assets/2116665/1823101/9cb628de-7172-11e3-8372-ba0ee0e8019a.png)

Here is the run configuration:

![image](https://f.cloud.github.com/assets/2116665/1823113/e627c5b8-7172-11e3-92bf-4173c227eda9.png)

[2014-01-03 17:24] #49 closed, assigned to nobody

[2014-01-13 15:14] cowang opened #50 "No clue what to do next"
Minimal documentation is needed. Here is my experience:

No Cucumber or feature in File/New menu list. Finally tried generic file from list with .feature type and that brought up the feature editor. Save didn't seem to do anything. Tried run and got error:

  Error: Could not find or load main class cucumber.api.cli.Main

I am using:

Version: Kepler Release
Build id: 20130614-0229

[2014-01-24 09:59] #50 closed, assigned to nobody

[2014-02-07 08:55] chinboon opened #52 "Is http://cucumber.github.com/cucumber-eclipse/update-site Eclipse Update Site Down?"
Hi,

I am trying to install the cucumber-eclipse plugin using the update site http://cucumber.github.com/cucumber-eclipse/update-site as instructed here http://cukes.info/cucumber-eclipse/

However, Eclipse says:
Unable to read repository at http://cucumber.github.com/cucumber-eclipse/update-site/content.xml.
Unable to read repository at http://cucumber.github.com/cucumber-eclipse/update-site/cont

[2014-03-17 21:44] ghost opened #53 "Got error during the installation, eclipse edition is Kepler, I have unchecked the "Contact all update sites during install to find required software""
An error occurred while collecting items to be installed
session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
No repository found containing: osgi.bundle,cucumber.eclipse.editor,0.0.6.201312152101
No repository found containing: org.eclipse.update.feature,cucumber.eclipse.feature,0.0.6.201312152101

[2014-03-25 19:01] cowang opened #54 "Java Hello World example has moved"
The link to JavaHelloWorld near the beginning of the README file has changed. It has been moved to cucumber/cucumber-java-skeleton. The URL should be

https://github.com/cucumber/cucumber-java-skeleton/blob/master/build.xml

[2014-03-25 19:40] #54 closed, assigned to nobody

[2014-04-24 13:38] sebnozzi opened #55 "Outline view support"
Would be very nice to see the scenarios / steps reflected on Eclipse's "outline" view.

(This, of course, is a relatively low-prio nice-to-have enhancement IMHO)

[2014-04-29 13:40] cannibalcow opened #56 "Cursor position changes after autoformat"
When running auto formating by menu or by shortcut(ctrl+shif+f) the cursor position is set at the first char on first line in feature file.

When formating other code in eclipse eg. Java, the cursor remains in the same position after formating is done.

[2014-05-01 14:07] abrarkhan1234 opened #57 "Cannot install plugin in Zend Eclipse for PHP Developers"
I have been trying to install the eclipse cucumber plugin but getting the following error:
Cannot complete the install because of a conflicting dependency.
  Software being installed: Cucumber Eclipse Feature 0.0.6.201312152101 (cucumber.eclipse.feature.feature.group 0.0.6.201312152101)
  Software being installed: Cucumber Eclipse Feature 0.0.6.201312152322 (cucumber.eclipse.feature.feature.group

[2014-05-03 18:52] #5 closed, assigned to nobody

[2014-05-03 18:54] ilanpillemer opened #60 "Go to StepDef from Step needs to be internationalised"
Currently this is only working for English. If you look at the code in the syntax highlighting section, a similar technique should work to internationalise for the click through.

[2014-05-03 18:55] ilanpillemer opened #61 "Go to StepDef from Step needs some short-cut keys and "pretty formatting""
Currently the basic click through works only from the pop menu, need to enhance this by allowing control-click / F3 to do the same; and put a nice underlining over the Step when hovering over it with control-click like happens in Java Editors.

[2014-05-03 19:02] #52 closed, assigned to nobody

[2014-05-03 19:03] #53 closed, assigned to nobody

[2014-05-03 19:04] #23 closed, assigned to nobody

[2014-05-03 19:06] ilanpillemer opened #62 "Allow running of just the selected scenario in a feature file"
Current runner runs entire feature file. The underlying API being used allows just one scenario to be run. Enhance the runner to do this.

[2014-05-07 10:17] mnd999 opened #63 "Opening eclipse property editor fails with cucumber-eclipse installed"
Opening eclipse property editor fails with cucumber-eclipse installed. This is the error:

java.lang.ClassCastException: org.eclipse.jdt.internal.ui.propertiesfileeditor.PropertiesFileEditor cannot be cast to cucumber.eclipse.editor.editors.Editor
    at cucumber.eclipse.editor.editors.PopupMenuFindStepActionDelegate.setActiveEditor(PopupMenuFindStepActionDelegate.java:119)
    at org.eclipse.ui.i

[2014-05-07 19:20] #63 closed, assigned to nobody

[2014-05-08 19:26] #17 closed, assigned to nobody

[2014-05-13 19:55] dgarwood opened #65 "Code folding for Gherkin editor"
it would be good if you could collapse the Scenarios in a file, similar to methods in source code.  Being able to collapse the scenarios makes it easier to see if you have considered all appropriate scenarios for a given feature, since you can see the scenarios at a glance.

I didn't see anything related to this in the currently open issues, nor in the closed issues.

[2014-06-01 15:46] thomaseger opened #72 "Remove or change the category "Uncategorized" on the update site"
As displayed in the screenshot below, there are two categories listed on the update site with two different versions of the feature. When choosing "Uncategorized" the installation throws an error.

The "Uncategorized" should either be removed or a meaningful name should be taken.

![install_screenshot](https://cloud.githubusercontent.com/assets/3663409/3141975/3c7c3a72-e9a3-11e3-98b0-04da72c4c50b.

[2014-06-03 18:55] #65 closed, assigned to nobody

[2014-06-04 09:03] dgarwood opened #76 "Add shortcuts /context menu to code folding"
First, thank you very much for getting code folding working!  I can confirm it's working in Eclipse Kepler (4.3.2).

Other editors in Eclipse have a context menu available when right-clicking on a code fold icon.  Options include Expand, Collapse, Expand All and Collapse All, usually in a "Folding" sub-menu.  These can be seen in the Preferences > Keys screen.

This is apparently missing currently

[2014-06-04 09:29] dgarwood opened #77 "Code folding includes tags on next step, should stop in space before tag"
based on tagging examples provided [here](https://github.com/cucumber/cucumber/wiki/Tags), you can use tags at the beginning of a Feature, Scenario, or step.

To borrow/extend their first example:
[code]
the `@secondary` tag would get rolled into the fold with the `Missing product description` scenario, like the following:
[code]

Ideally, the fold should preserve the tags and the spaces between t

[2014-06-11 15:31] apaku opened #80 "Support replacing gherkin parser with 'something else'"
Hi,

I'm working on an Eclipse based IDE that is about to gain BDD support based on Gherkin files. The implementation will be in a couple of different script languages and thus will use the corresponding script language regular-expression engines. In addition this Gherkin-dialect we use may gain features or deviate in some situations from what cucumber implements (there are no concrete plans for t

[2014-06-11 17:04] #22 closed, assigned to nobody

[2014-06-17 09:26] benoitx opened #82 "IDE highlights keywords without ':' but they won't run!"
Hi
The IDE seems to render the keywords in colour as soon as it detects 'Scenario' or 'Background', without the ":".

This means that the feature will not run that Background or that scenario.

I think that the keyword should NOT be highlighted until it has the ':' next to it otherwise it is very misleading.

See attached picture
![wrong_highlight](https://cloud.githubusercontent.com/assets/253545

[2014-06-17 17:10] benoitx opened #83 "IDE colouring gets confused when quote used in data table"
Trivial:
If a string in a DataTable contains a single quote ', the following text is rendered in green incorrectly.

![trivial-format](https://cloud.githubusercontent.com/assets/253545/3303709/575b9274-f642-11e3-8873-bb6ce164bef9.jpg)

[2014-06-28 14:35] ilanpillemer opened #84 "rename class to better name"
...e/editor/editors/PopupMenuFindStepActionDelegate.java

This class should be renamed as "PopupMenuFindStepHandler".

[2014-06-30 13:51] benoitx opened #85 "Improve formatting for columns containing only numbers: right aligned"
Hi

This is a small suggestion to improve readability of formatted columns when the plugin can detect that the column contains only numbers (e.g. +- 0-9 and .), use right alignment.

Instead of:
[code]

I would suggest Cucumber Eclipse formats the columns 'traded' and effective' with RIGHT alignment.

[code]

Tiny detail I agree, but it would be nice.
Thanks for Cucumber

[2014-07-21 09:59] devisuresh opened #86 "Regarding packaging the updated cucumber-plugin source code."
Hi,

I have customized the source code of cucumber-eclipse plugin to invoke our own automation framework to execute our cucumber testcases.

I have installed the cucumber-eclipse plugin from the update site and rebuilt the jar with my updated compiled class and replaced the jar with the cucumber.eclipse.editor_0.0.10.201406031952 jar available in plugins folder of my eclipse. This way i have teste

[2014-07-30 11:53] jtnord opened #87 "Add option to specify JVM args."
there is no way to specify the JVM arguments passed to cucumber in the runner.

This prevents running any any tests where the glue/framework code is rather large and needs more than the default heap/permgen sizes.

It also impacts any tests where location of the SUT is read from a system property. (the properties must be set in the system rather than in the runner)

[2014-08-06 22:33] aputta opened #88 "Unable to get it working"
I installed the plugin in my Eclipse, but when I open any .feature file is displaying "ERROR" in bold.

[2014-08-19 16:40] Poorman65 opened #89 "Need to be able to Debug java code [Question]"
We need to be able to set breakpoints in the Eclipse java debugger but using the cucumber runner just skips the breakpoints. There is no place to add JVM options to allow for remote debugging and I cannot find any information on how to setup debugging. Can you provide instructions on how to debug with cucumber-eclipse?

[2014-08-26 13:03] devisuresh opened #90 "How to add Run as -> Cucumber Feature menu option to different file types eg: *.yml"
Hi All,

I have customized the cucumber-eclipse plugin for our automation framework needs. For the *.feature files am seeing Run as -> Cucucmber Feature menu and its executing good. Am in need to add the same Run as -> Cucucmber Feature menu to execute different file type also *.yml.  As we have all the old testcases in this .yml file format in our project. However I have done with the changes to

[2014-09-08 12:50] qspencer opened #91 "How does one prevent an apostrophe from triggering the syntax highlighting?"

[2014-09-09 13:00] cannibalcow opened #92 "Development environment on wiki"
Create a small guide on the wiki how to start developing and contributing to the plugin.
Creating project in eclipse etc.

[2014-10-01 15:26] jakub-bochenski opened #93 "Syntax colouring - <placeholders> are not coloured"
Nuff said I hope?

[2014-10-21 10:22] paulvi opened #94 "Create marketplace entry"
please create marketplace entry like
https://marketplace.eclipse.org/content/cucumber-jvm-eclipse-plugin

[2014-10-28 23:31] graza opened #95 "Tests fail during build"
I'd like to (hopefully) contribute some changes to cucumber-eclipse.  I've forked, cloned master, cloned the gh-pages branch, and imported (the projects into eclipse?) as suggested in CONTRIBUTING.md.  I thought I would also build the code before I do anything else.

First thing - Eclipse was complaining about the Java runtime.  I edited each of the projects to use the platform Java (on my old Mac

[2015-02-04 10:04] xuanzhaopeng opened #99 "How could I install eclipse-plugin when I build my customized Eclipse"
Hi, Team

Thanks for your time, and I have a quick question, how could I find your mvn pom when I build my own customized Eclipse in mvn

Ex:
<dependency>
      <groupId>org.eclipse.zest</groupId>
      <artifactId>org.eclipse.zest.layouts</artifactId>
</dependency>

I want to know what is the Cucumber-eclipse GroupId and ArtifactId in Mvn Repository.

Thanks

[2015-02-04 13:06] verhagen commented on #99
Hello,

It is not clear to me what you try to do.

*Case Own Eclipse Plugin*
In case you develop your own Eclipse plugins, and create a Eclipse product.
Which should also include the Cucumber Eclipse Plugin, then add it as part
of the feature (project)

*Case Extending Cucumber Eclipse Plugin*
In case you extending Cucumber Eclipse Plugin with own features, it's
probably the best to start by forki

[2015-02-04 15:48] xuanzhaopeng commented on #99
Hi Tjeerd,

Thanks a lot for your quick response! Yes, I'm  in case 1.  And I will release customized Eclipse Product which already installed Cucumber-Eclipse.

And Thanks for your information, I will add cucumber-eclipse in project file as a feature directly :)

[2015-02-09 13:16] creinke opened #100 "Plugin contain a commercial product file"
We are looking to use the Cucumber Eclipse Plugin in our organization.  However, when we looked into the plugin to determine if any commercial licensed software was being included, we found the GherkinReconcilingStrategy.java file from Squish.  The license agreement on this file is as follows:

 * This file is part of Squish.
 *
 * Licensees holding a valid Squish License Agreement may use this
 *

[2015-02-09 14:48] ilanpillemer commented on #100
He was told to remove that.

How frustrating. He claimed he had accidentally put that in there.

This is an oversight. The developer who did that said his IDE automatically
generated that and he would remove it. :(

On Monday, February 9, 2015, Curtis Reinke <notifications@github.com> wrote:

[2015-02-13 10:39] muhqu commented on #93
Absolutely, I thought the same and took the opportunity to hack the first time on an eclipse plugin... see PR #101 for the result. :wink:

[2015-02-14 19:08] ilanpillemer commented on #100
@apaku can you please remove the copyright blurb on this page, or otherwise I am going to have to remove this code from the project. Thanks!

[2015-02-14 19:10] #99 closed

[2015-02-14 19:12] #89 closed

[2015-02-14 19:13] #86 closed

[2015-02-14 19:14] #88 closed

[2015-02-14 21:28] apaku commented on #100
Hi,

I'm terribly sorry I must have lost track about the request. Since we've stopped using cucumber-eclipse I don't have a clone anymore so can't file a pull-request. I've created a commit locally, the git format-patch is below. Alternatively, afaik (based on my experience within KDE) its sufficient if I explicitly tell you that changing the license of the files I touched is fine with me. So don'

[2015-02-14 21:47] ilanpillemer commented on #100
You could just delete the copyright online directly.

[2015-02-15 21:29] muhqu commented on #93
`<placeholders>` are now colored :art: :shipit:

[2015-02-15 22:06] ilanpillemer commented on #93
almost. We still need to release. Waiting to sort out getting rid of this accident license text in one file before doing that. Hopefully this week though.

[2015-02-16 18:14] ilanpillemer commented on #100
@apaku , will you be able to just do the update online in github? Should just take 5 seconds.

[2015-02-16 23:37] #100 closed

[2015-04-13 15:08] daveychu commented on #92
Any update on this issue? Currently tycho is complaining about the absence of a target platform, which makes the build platform dependent. It would be really helpful to know the setup of the development environment because of this.

[2015-04-13 16:05] ilanpillemer commented on #92
Any thoughts. Originally we wanted to support Galileo and above.

On Monday, April 13, 2015, Davey Chu <notifications@github.com> wrote:

[2015-04-14 17:39] daveychu commented on #92
I suggest the following steps:
- Upgrade Tycho version to support Maven 3.1.0 (I created a pull request)
- Add a target definition file for Galileo so that people can develop in their preferred version of Eclipse
- Fix the dependency issue in GherkinLearningTest (import gherkin can't be resolved)
- And finally, adding step by step documentation on how to get a working environment

[2015-04-14 19:43] daveychu commented on #95
https://github.com/cucumber/cucumber-eclipse/pull/110

[2015-04-14 20:54] daveychu opened #111 "Continuous delivery"
I would like to see an automation of (beta) releases so that developers can use the newest features as soon as possible.

[2015-04-16 06:05] daveychu commented on #92
Ilan, what restraints does supporting Galileo and above impose and how are they enforced? I notice two things: Maven is compiling against bundles available in the Galileo repo and compiler compliance is at java 1.6/1.7 (might as well put everything on 1.7?). Are Eclipse plug-ins by default forward compatible?

[2015-04-16 06:19] ilanpillemer commented on #92
Hi,

It is Galileo and Java 6 as we wanted to make sure SAP Netweaver 7.3
Eclipse was supported.

On Thursday, April 16, 2015, Davey Chu <notifications@github.com> wrote:

[2015-04-16 19:43] ilanpillemer commented on #111
Hi,

I agree, If you put in a pull request for this that would be excellent.

Also the current master has a couple of improvements we could release. If
you want to build a next 0.0.x release that would be great too and I would
be happy to merge that in.

I am currently in the middle of a large project in my job that pays my
salary at the moment and am quite busy.

On Tuesday, April 14, 2015, Davey

[2015-04-17 20:11] daveychu opened #113 "Explain purpose of each project"
cucumber.eclipse.runner does not seem to be contributing anything. What is it for? A general description on the wiki of each project could help contributors in deciding where to place their code.

[2015-04-17 20:12] daveychu commented on #92
https://github.com/cucumber/cucumber-eclipse/pull/112 adds a target definition. I added a page to the wiki explaining how to get a working environment: https://github.com/cucumber/cucumber-eclipse/wiki/Start-contributing

[2015-04-20 07:17] brasmusson commented on #113
The file [CONTRIBUTING.md](https://github.com/cucumber/cucumber-eclipse/blob/master/CONTRIBUTING.md#modules-list) has a short description of each of the plugins.

[2015-04-20 07:19] brasmusson commented on #92
I think any description of the development environment on the wiki should be linked form [CONTRIBUTING.md](https://github.com/cucumber/cucumber-eclipse/blob/master/CONTRIBUTING.md), which today seems to be the starting place for people that want to contribute.

[2015-04-25 21:25] #87 closed

[2015-04-25 21:28] #77 closed

[2015-04-30 19:13] #113 closed

[2015-05-05 19:54] daveychu commented on #6
Where is the example?

[2015-05-06 14:49] daveychu commented on #111
What I mean is an additional update site (called latest or nightly or something like that), that gets the newest build after every commit on the master branch. This update site can be used "at own risk" in that it might contain bugs. Stable releases can still be done in the existing update site, but at least users have the option to use the newest build without having to locally build it themselve

[2015-05-07 10:40] sharma-rakesh opened #118 "not able to found file in step definition using . operator"

[2015-05-07 10:43] sharma-rakesh commented on #118
able to find file using absolute path,but not using . operator . how ever same code works with plain java main method .

cucumber is trying to search my resource files in eclips directory . not in project directory

[2015-05-09 09:35] daveychu commented on #118
Can you attach an example?

[2015-05-14 09:24] sharma-rakesh commented on #118
File f = new File("./src/values.properties");
input = new FileInputStream(f);

this value.properties file is being searched in eclipse folder not in  project folder

[2015-05-14 09:24] sharma-rakesh commented on #118
File f = new File("./src/values.properties");
			System.out.println(propertyName  + f.exists());
			input = new FileInputStream(f);

[2015-05-17 17:26] hdpe opened #121 "Missing step warnings highlight first occurrence in file of unmatched step text"
Good work on the missing step warnings @daveychu - I'd been working on a similar solution but you beat me to it!

Given a missing step "x", in the feature file

[code]

the "x" on line 1 will be highlighted as a missing step. The expected behaviour is that the "x" following the `Given` on line 3 would be highlighted.

[2015-05-17 17:49] hdpe opened #122 "Missing step warnings not updated when glue code changed"
When changes to glue code are made that affect the validity of steps in a feature file, the step warnings in the feature file are not updated.

For example, in JDT, with the valid feature file

[code]

the removal of the method annotated with `@Given("x")` will not add a missing step warning marker to the feature file.

I think the Eclipse way of being notified of steps changed post-JDT build woul

[2015-05-17 17:53] hdpe opened #123 "Generate markers for editor lexer errors"
Currently `LexingError`s are caught silently when validating the document in `Editor.validateAndMark()`.

It's not obvious that the reason no syntax error or missing step markers are displayed in your feature file is because you have a missing colon somewhere.

An error marker should be generated for line 1 if the document can't be parsed to provide the user with better visual feedback.

[2015-05-17 18:05] hdpe opened #124 "Generate markers progressively/incrementally"
It would be nice if markers in the Gherkin editor were generated on-edit rather than on-save, so the user could get quicker feedback of typos/missing steps.

[2015-05-17 19:39] hdpe opened #126 "Provide a library for Eclipse API etc. stubbing"
It would be good if we could somehow integrate a mocking library e.g. Mockito into the target platform for test execution, so we could use it for generating stubs (and prevent the probably ill-advised insanity as evidenced by me in 22f8c3a15feade711e7dbda5ea311caa5fa1af65). This would facilitate the testing of classes as units with JUnit in the IDE without having to bring up the whole target platf

[2015-05-18 09:45] ptimson opened #127 "Special characters are lost when Pretty-Format the feature file"
Greek characters and other special chars i.e. Chinese. Are not supported in feature files. When preforming a 'Pretty Format' the characters are changed into question marks '?'

[2015-06-18 09:52] #121 closed

[2015-07-16 05:10] lxbzmy commented on #118
I can confirm this Bug.
The problem is  plugin runner 's working directory is eclipse installation location. not the project directory of feature file.

[2015-08-11 14:54] pdincau commented on #118
any news about this issue?

[2015-08-12 01:34] lxbzmy commented on #118
@pdincau ，already fixed in master branch. clone and mvn package.

[2015-08-12 07:39] pdincau commented on #118
@lxbzmy thanks, can you point out the commit fixing this issue?

[2015-08-12 08:14] xpepper commented on #118
Hi @lxbzmy,
can we close this issue then?

thank you!

[2015-08-12 10:53] ilanpillemer commented on #118
Anyone up to cutting a new release as there is quite a lot in master that
is not yet released to the plugin that is available.
On Wed, 12 Aug 2015 at 09:14 Pietro Di Bello <notifications@github.com>
wrote:

[2015-08-12 11:15] xpepper opened #132 "How to build and install the plugin from sources"
Hi,
I'd like to build and install the Eclipse plugin starting from the latest sources taken from master.
Can you help me on how to actually do it?

Thanks,

[2015-08-28 01:54] chanceVermilion opened #134 "Release 0.0.12"
Issue for doing a release of 0.0.12. Someone with write access will have to create the parent milestone issue.

[2015-09-04 13:49] chanceVermilion commented on #134
@ilanpillemer Can you please create the milestone issue so we can do a proper release? I'll gather up the issues fixed in it and do the code changes we need to get the latest on the update site.

[2015-09-04 15:35] ilanpillemer commented on #134
I will do that over weekend.
In a crunch in my day job at the moment so will need to wait until then. I
will target Sunday.

On Fri, 4 Sep 2015 at 14:50 chanceVermilion <notifications@github.com>
wrote:

[2015-09-04 16:11] ilanpillemer commented on #134
Created milestone "Version 0.1.0"

[2015-09-28 07:16] connecties opened #136 "Debugging not working as expected"
using Eclipse Kepler SR 2, build id: 20140224-0627,
cucumber plugin: 0.0.11.201406031952
Using Java 7 (SDK: 1.7.0_45_64)

If I right click on my feature file and choose debug, eclipse starts running and executing my feature file. It asks me if I want to switch to debug view. (I click "yes") and it switches the view and stops processing.
What I expect it to do is switch to the file I have put my br

[2015-10-04 19:37] #82 closed

[2015-10-04 19:39] #123 closed

[2015-10-13 15:59] nurb337 commented on #136
I had a similar experience. I use JUnit and got debugging to work by creating a new JUnit debug configuration. I set the project name, test class (name of the package and class containing the test runner), and set Test runner to JUnit 4. This works fine - breakpoints are highlighted as I step through the code and I can see which steps are successful in the JUnit output tab.

[2015-10-22 07:00] verhagen commented on #136
Here the complete logging as found in the `check.jmx.log`

	2015/10/22 06:57:23 INFO  - jmeter.util.JMeterUtils: Setting Locale to en
	2015/10/22 06:57:23 INFO  - jmeter.JMeter: Loading user properties from: /var/jenkins_home/jobs/jmeter-environment-health-check_develop_FIT-tmp/workspace/target/jmeter/bin/user.properties
	2015/10/22 06:57:23 INFO  - jmeter.JMeter: Loading system properties from: /

[2015-11-19 13:43] gibsonm commented on #136
I'm having the same issues.  However, I also get a dialog saying:

"Unable to install breakpoint in .... due to missing line number attributes.  Modify compiler options to generate line number attributes."  Interestingly it has a Guice related part in the error message.  Not sure if that's a red herring.

![image](https://cloud.githubusercontent.com/assets/12829939/11272224/40b032d0-8ec3-11e5-9627

[2015-11-25 12:01] favetelinguis opened #141 "Generating junit report"
I want to generate a junit report xml file after each run using the following configuration:
@RunWith(Cucumber.class)
@CucumberOptions(plugin = { "junit:target/testresult.xml" })
public class RunCucumberTests {

}

However when running this from eclipse there is no output in the target folder. How is this supposed to work?

[2015-11-25 12:06] favetelinguis commented on #141
Sorry, my bad. It works fine

[2015-11-25 12:06] #141 closed

[2016-03-14 23:21] #134 closed

[2016-03-18 07:55] TuireHolappa opened #145 "Plugin does not find step definitions that are on classpath dependency"
Thanks a lot for the new feature finding the step definitions with F3.
It seems also to be working with I18n. At least my feature files have the language: fi.

One enhancement would be nice still:
The doest not find a step definition when using a step from Maven dependency which implementation has been published to the Maven repository. The plugin highlights step definition then as orange.

[2016-04-15 13:37] slaout commented on #132
Tanks.
Note: there were some "0.0.11" references I had to replace to "0.0.13" and it worked.

I also had a lot of trouble with my corporate settings.xml of Maven (p2 layout was not understood by Maven).
I then created a blank settings.xml with only our corporate proxy, named it settings-for-cucumber-eclipse.xml, and used the following command to run it:
mvn clean install -s settings-for-cucumber-e

[2016-04-15 18:47] Doogiemuc opened #151 "All steps in feature files are marked as unmatched and a NullPointerException"
I really love cucumber! And Cucumber-Eclipse plugin is great. But after the latest update (march 28th  0.0.13.201603281006) I have a problem:

All my steps in every feature file are marked as "unmatched". It seems like the plugin cannot find my (java) stepdefs. How do I configure the path or java package where it looks for them?

In one feature file the cucumber-eclipse editor even crashes with a

[2016-04-17 18:23] ilanpillemer commented on #151
Could you provide maybe a simple example that allows this to be recreated?

[2016-04-18 08:13] Doogiemuc commented on #151
**SOLUTION:**   It was an line that only contained the word   "And"

[2016-04-18 08:36] Doogiemuc opened #157 "Create new StepDefinition WIzard does not work"
I cannot create a Step-Definition class with the File->New  wizard:

IllegalArgumentException: HIDDEN   When createing a new "StepDefinition Class"

[code]

[2016-04-18 12:23] ilanpillemer commented on #151
@Doogiemuc  Can we close this issue, there already is an open issue for step definitions in class files instead of in project?

[2016-04-18 12:34] #4 closed

[2016-04-19 12:21] ilanpillemer commented on #157
I also got an error. @girijant is this working for you?

[2016-04-20 09:10] boris779 opened #159 "Steps in features files are marked as not implemented, but they still exists"
Hi!

I have some steps which already have a glue code (step definition) but they are marked as not implemented in the feature file by the cucumber plugin. It seems that the plugin cannot handle my regular expression.

Cucumber itself finds the implementation when execute it.

Note: I use cucumber in german and these steps uses a datatable-value

feature:
Angenommen es existiert der Hof <Hofname> m

[2016-04-20 09:15] boris779 commented on #93
Works for me in Version 0.0.13.201603281006

[2016-04-20 17:35] girijant commented on #157
Thanks **ilanpillemer ** for finding the root cause of above issue. I always tested through maximized feature file. Let me first test and will fix the issue.

[2016-04-22 15:11] girijant commented on #157
@ilanpillemer : I got same error : 'Argument cannot be null' with exception stack while creating new "StepDefinition Class" after right click on any project package : File > New > Others > 'Cucumber' > Step-Definition class , instead from Normal File Menu.
Is it same for you...???

@Doogiemuc : I am not getting the error : 'IllegalArgumentException: HIDDEN' When creating a new "StepDefinition Clas

[2016-04-23 08:16] ilanpillemer commented on #157
Yes. Same for me.
On Fri, 22 Apr 2016 at 17:11, Girija Prasad Panda <notifications@github.com>
wrote:

[2016-04-23 08:51] girijant commented on #157
@ilanpillemer : I've fixed your issue and waiting for Doogiemuc's reply.

[2016-04-25 19:46] #80 closed

[2016-04-25 19:48] #48 closed

[2016-04-25 19:49] #57 closed

[2016-04-25 19:50] #84 closed

[2016-04-25 19:51] ilanpillemer commented on #151
Leaving open as this is a bug obviously when there is only an 'And'

[2016-04-26 23:08] #85 closed

[2016-04-26 23:08] #93 closed

[2016-04-26 23:10] #92 closed

[2016-04-26 23:11] #132 closed

[2016-04-26 23:11] #55 closed

[2016-05-07 15:10] girijant commented on #157
@Doogiemuc : Any update from your side? Else I can pull a request.

[2016-05-08 07:08] girijant commented on #157
@ilanpillemer : Issue 'Argument cannot be null' with exception stack is resolved in 'o.0.15' version.
You can create new "StepDefinition Class" after right click on any project package : File > New > Others > 'Cucumber' > Step-Definition class , instead from Normal File Menu.

[2016-05-18 18:20] han5 opened #164 "cucumber / gherkin editor for non-java"
It seems that the editor for cucumber / gherkin feature files does not need to be so java specific.

Personally it looks to be a narrow direction the plugin is going.

We realize this is likely cucumber-jvm implementation, but the editor could expand beyond that if it supported alternative languages like ruby.

Lately the updates have made it ugly for ruby as there are tons of warnings everywhere

[2016-06-22 16:11] mattwynne opened #167 "News posts not formatted well"
I noticed today that the plugin site was looking a bit rough, caused I think by our move from the cukes.info site over to cucumber.io.

I tidied up the stylesheet links and a missing logo, but I also noticed that the news feed posts are broken - there are no newlines in the posts:

![screen shot 2016-06-22 at 12 11 06](https://cloud.githubusercontent.com/assets/19260/16274177/6f605a34-3872-11e6-94

[2016-06-23 11:10] DanyalBurke opened #168 "Incorrectly matching private methods"
If I create a private method like this:

[code]

The features UI will show the step as matching (not yellow) but the Cucumber test runner won't consider the step.

[2016-06-28 07:51] jgelon opened #169 "Step completion only working for english"
When I use the step completion feature, which is awesome by the way, I can only do this by using
Given/When/Then/etc. however our feature files have been written in Dutch (so Gegeven/Als/Dan). When I type "Als" and press the autocomplete buttons it proposes Given/When/etc.

Could you look into this?

[2016-07-01 12:48] aviju2007 opened #170 "Http:Proxy Authentication required for cucumber eclipse plugin installation in eclipse"
Dear All,

I am writing a BDD framework using Selenium Java and cucumber.As a part our installation, I have downloaded and installed Java SDk8U91,Eclipse Neon for 64 bit Version: Neon Release (4.6.0).Then I tried to install cucumber eclipse  plugin from eclipse help->install new software.There I add the repository , name :Cucumber and location:http://cucumber.github.com/cucumber-eclipse/update-sit

[2016-07-01 14:17] girijant commented on #170
See : http://stackoverflow.com/questions/1940984/how-to-specify-eclipse-proxy-authentication-credentials

[2016-07-14 10:32] brabenetz commented on #94
I searched in Eclipse Marketplace after "cucumber" and installed accidentally "Natural 0.7.6":
https://marketplace.eclipse.org/content/natural
This plugin not even supports auto-format of cucumber feature files...

please add cucumber-eclipse to the marketplace to prevent this happens again :)

create Work on cucumber-eclipse,
thanks,
Harald

[2016-07-15 20:58] stephzilla opened #171 "plugin not recognizing constants?"
We are experiencing an issue where the Eclipse Cucumber plugin is not recognizing our feature steps if we've set it as a constant instead of a string.

Quick Example:

Has anyone else had this issue? Did you find a fix?

[2016-07-18 14:40] paulvi commented on #94
OK, so the issue is still on.

Now Eclipse Neon can automatically find needed plugin when file with non associated file extension is being opened.

[2016-07-25 14:51] Doogiemuc commented on #157
Thank you very much for following up on this. I didn't have the time to re-test, but I am sure you did a god job.   I just wanted to raise the issue, because I thought it was a pretty basic thing that many cucumber beginners might stumble upon.

[2016-08-15 10:02] jgelon commented on #171
This is a feature I am also looking for. The step is recognized by the compiler when running, but not in the plugin.
I have seen some changes on the stepmatcher by @mplord, are you able to integrate this feature aswell?

[2016-08-18 20:28] mplord commented on #171
Apologies it took me a while to realise this might be a request for me to perhaps provide a solution to this issue. If that's correct, that's fine - but I expect this would be very difficult to do.

If you imagine the step-matching plugin works through reflection on the code, it is a static determination of what matches without the code actually running or having been compiled.

Your constant expr

[2016-09-06 06:44] pranasblk opened #172 "Plugin unable to find Step Definitions written in Groovy"
After opening existing project created in IntelliJ (Groovy based) with the current plug-in I can see large number of warnings about "
            No definition found for `<fragment of regexp>`" the step defs in our case defined in
src/integrationTest/groovy.

Some ideas how we can guide plug-in to look into the specific directory?

build.gradle fragments:
[code]

[2016-09-06 23:39] pranasblk commented on #164
+1. For now needed to install it for Cucumber JVM Groovy based due to the warnings.

[2016-09-20 12:03] belgoros opened #174 "Update site url typo"
There is a typo in the plugin update site url:

[code]

instead of:

[code]

[2016-09-22 15:45] PyvesB commented on #164
Indeed, at least an option to remove the warnings and ideally a full Ruby step definition matching would be nice.

[2016-09-27 06:53] aharonha opened #175 "Support Java8 content assistance and click-through"
Given eclipse neon
And the latest version of the plugin
Given I use Java 8 to write code
And my test-class implements the cucumber.api.java8.En interface
And the step definitions are written in the constructor of the test-class
Then step lines in a feature file should be linked to the step definition in the test-class-constructor

[2016-10-19 15:15] ilanpillemer commented on #175
If you send a pull request with this that would be awesome!

[2016-10-19 15:16] ilanpillemer commented on #169
If you send a pull request with this that would be great!

[2016-10-19 15:19] aharonha commented on #175
Well I have never worked on an Eclipse plugin before.
I am not sure I have the time for that.

בתאריך 19 באוק 2016 18:15,‏ "Ilan Pillemer" <notifications@github.com> כתב:

[2016-10-20 07:54] girijant commented on #145
Hi,
I've started working on it...Very soon this feature will be published.

[2016-10-30 11:43] #169 closed

[2016-11-18 12:41] Lego3 commented on #164
The same is true when working with Python. I haven't been able to find any plugin yet which supports steps written in Python, which is a pity.

[2016-11-18 14:42] ilanpillemer commented on #164
Send a pull request that makes it optional and I will merge it in.

On Fri, 18 Nov 2016, 12:41 Edvin, <notifications@github.com> wrote:

[2016-11-20 16:48] Lego3 commented on #164
Created #181 to turn off matching. Also looking at Python step matching using Pydev (when tests are run with Behave), but I'm not sure if that fits in the plugin as such.

[2016-11-22 12:35] jorisweges opened #182 "Scenario Outline step is not recognized when using alternatives"
I have a step definition that uses an alternative capturing group "(does|does not)". This step definition IS recognized when used in a regular scenario (!). If I use it inside an Scenario Outline, I get the "does not have a matching glue code" warning. When I run Cucumber, then the step is recognized and the scenario outline passes. If I change the definition to use a wildcard "(.*)", the warning

[2016-11-27 08:09] ajaykumars opened #183 "Auto Detect of Lexing Errors in all feature files"
Currently I can see lexing errors (if any) only if I open each feature file. Is it possible to detect all lexing errors(if any) at once in the project imported on to Eclipse?

[2016-11-27 09:45] ilanpillemer commented on #183
It is if you send a pull request that enables it.

On Sun, 27 Nov 2016, 08:09 ajaykumars, <notifications@github.com> wrote:

[2016-12-21 07:55] frankbenoit commented on #94
I just tried and could not find this plugin in marketplace from within Eclipse.

[2017-01-05 17:13] cedson commented on #145
I've encountered this need as well - how is it progressing?  :)

[2017-01-05 17:17] mareurs commented on #145
What I did as a fix is to add the steps in the project where the feature files are just for references. You will have 2 different mappings to the same regex and should choose the 2nd. It is not pretty but it helps.

[2017-01-05 19:37] cedson commented on #145
I can make this work in the fashion you suggest, but then I have to update every run configuration's 'Glue' value to get the Run As... operation to work.  (Each time I work with a new feature file, a new Run Configuration is generated and needs updated)

Clearly not ideal.  :)

[2017-01-06 14:50] girijant commented on #145
Hi,
This new feature is completed like :
- Reading/Reusing Step-Definitions From any External JAR/Maven-Dependency added in class-path :
• Bundle any cucumber java project OR Build any cucumber maven project having Features/Step-Definitions.
• Create new java/maven project, above JAR must be added into your new project class-path OR Add the above maven-module as maven-dependency into pom.xml file

[2017-01-06 15:21] #122 closed

[2017-01-06 15:21] #124 closed

[2017-01-09 10:16] hdpe commented on #151
This was fixed in 6495170281732c80a2d61bc3e4fefcf558f4fc38

[2017-01-22 20:14] bharal opened #187 "How do i install this?"
The github links to the web site for installation instructions.

The website readme links to github.

Someone done messed up, please put something so that people like me can just install your plugin and get on with life?

[2017-02-03 12:44] johny2000uwb commented on #187
I cannot... the eclipse update site does not work....

[2017-02-23 13:03] johny2000uwb commented on #187
URL is wrong..
http://cucumber.github.io/cucumber-eclipse/update-site/
these is correct

[2017-03-10 23:21] lucasgut commented on #145
@girijant this is just what I need, any idea when this will be available?

[2017-03-11 06:53] girijant commented on #145
@lucasgut Now I'm fixing some issues found after testing this feature. Once it's done I'll send a pull request   asap.

[2017-03-16 05:22] girijant commented on #157
@ilanpillemer : I had already Fixed this issue. This issue is still in 'Open' state. Please close it.

[2017-03-16 19:38] girijant commented on #145
@lucasgut I've Implemented this new feature with new version '0.0.16.201703160952' and also requested for new pull requests. Once it's done, you can consume. Please refer the wiki page [Reusing Of Step Definitions From External Class Path Dependencies(JAR POM...etc)](https://github.com/cucumber/cucumber-eclipse/wiki/Reusing-Of-Step-Definitions-From-External-Class-Path-Dependencies(JAR-POM...etc))

[2017-03-16 20:14] lucasgut commented on #145
Great thanks, much appreciated! Looking forward to try it out.

[2017-03-23 13:12] lancerkind opened #190 "Run As Cucumber Feature fails silently"
I clean installed Ecilpse Neon and Spring Tool Suite on OS X and Windows 10, installed "Natural" plug in and cucumber-eclipse via Eclipse Install New Software and got the same results.  Java environment is Java 8.

What I did is:
Create a feature file.
Right click and choose Run As Cucumber Feature.

Resulted in:
no change in the interface,
no output to any of the consoles

As a workaround I:
inst

[2017-03-29 11:27] girijant commented on #145
@ilanpillemer Please close this ticket.

[2017-03-29 14:56] #145 closed

[2017-04-10 16:53] csmoseley opened #196 "Step Def Wizard: Path separator fails on windows when the file browser is used"
I'm looking at this, because it appears my newest change inverted a different bug.

Before 0.0.17, the pre-populated path was failing to generate correctly, but now it generates correctly and the file selector is broken.

I'm reading up on the problem and wondering if its something to do with how we are prepopulating the path.

I'm also looking into using a path independent file seperator, but I d

[2017-04-10 16:54] csmoseley commented on #196
This was revealed by the change I made in #192 to fix pre-populated path being incorrect

[2017-04-19 21:07] rahul1603patel opened #197 "if i dont want Scenario Outline: what are the alternative for that"
Scenario Outline: Tests entitlements of security services for RN

    Given I login as "RN" role
    When I request entitlements for the user role
    Then My entitlement name "<entitlement_name>" and state "<entitlement_state>" should match
  Examples:
  |        entitlement_name                                                     |entitlement_state |
  |        activity_view_module_edit

[2017-04-19 21:09] #197 closed

[2017-04-27 20:50] JacksonBailey commented on #172
With the new version I am now able to press F3 to go to the step-definitions defined in Groovy files. (Also they don't show as missing.) @pranasblk is that true for you too?

[2017-05-14 07:21] sanjay1984 opened #198 "Class not found exception"
Hi All,

I am getting class not found exception every time when I am running my RunTest,java class, can anyone please check what is the issue, I think some problem with the @CucumberOptions

![cucumber](https://cloud.githubusercontent.com/assets/26081637/26031968/07af5f48-388f-11e7-9098-ebb0acc8ed64.PNG)

I tried so many workarounds but no luck.

Regards,
Sanjay

[2017-05-14 08:14] girijant commented on #198
Hi Sanjay,
Please try with **"@CucumberOptions(features="feature/Boutiqaat.feature", glue={"src/test/java/cucumber.steps"})"**

Thanks,
-Girija

[2017-05-14 08:24] sanjay1984 commented on #198
Thanks, Girija.

I think you are suggesting to put double quotes before the cumberoptions and end of this line.
If you are referring this, I tried but again error is coming syntax error with tokens, delete the tokens.

Regards,
Sanjay

[2017-05-14 08:43] girijant commented on #198
Sanjay,
I updated my comment.From your attached snap-shot, it seems your maven-project(i.e. boutiqaat.automation.test) having error(Red mark). Please properly correct your maven project without any error and retry.

Thanks,
-Girija

[2017-05-14 08:46] sanjay1984 commented on #198
Ok, let me try to fix that first.

Regards,
Sanjay

[2017-05-14 10:49] sanjay1984 commented on #198
@girijant I fixed that red mark issue.

The test which I am trying to run is basically appium (android app) automation, I created one class with all capabilities and I am creating the object of this class in step definition class (which consists of all the steps), When I am running, I am able to open the android app on my real device but further actions are not executing as per my script.

I am ge

[2017-05-14 12:56] girijant commented on #198
@sanjay1984 Your above script is buggy itself instead of Cucumber plugin i.e. WebDriver object is null (WebDriver driver = null) and causing java.lang.nullPointerException. So intialize it properly. I would suggest use WebDriver PageObjectModel and invoke those methods on cucumber Step-Definition files.

Thanks,
-Girija

[2017-05-15 03:17] JaspalAujla commented on #61
Earlier, this feature was available "Go to StepDef from Step under Feature file through control + click". But, it is not working now.
Must say, this short-cut is very important, otherwise it is so time consuming to find StepDef for respective Step under Feature file.

[2017-06-12 17:36] canpan14 opened #199 "Running Eclipse Debugger While Using Cucumber Skips Breakpoints"
Found issue https://github.com/cucumber/cucumber-eclipse/issues/89 but it was never answered what happened.

Also found this, the page the guy linked to doesn't look like it is there anymore though: https://groups.google.com/forum/#!topic/cukes/UsDdKpF_ydc

Same situation. I set breakpoints, run in debug mode, it ignores all the breakpoints.
Other projects with Eclipse are still working fine for m

[2017-06-16 01:10] NuttBoxer commented on #175
Any chance of this being fixed soon?  In the process of switching our test framework to Karate, and any chance of me keeping Eclipse depends on core IDE features working.

[2017-06-16 15:06] NuttBoxer opened #200 "Cannot Ctrl/Cmd Click Into Code Karate"
Cucumber Eclipse Feature 0.0.17.201704062133
Eclipse Version: Neon.3 Release (4.6.3)
Karate 0.4.1.1

I'm unable to command+click(osx) into Keywords or other variables using the Eclipse IDE. This seems to just work using IntelliJ, but not in Eclipse for some reason.
<img width="512" alt="image" src="https://user-images.githubusercontent.com/28417732/27232319-81591038-526a-11e7-8e68-990336a3f18f.png

[2017-06-22 18:04] Subash85 opened #201 "How can I use this plugin for Jboss Developer Studio??"
I was using the below link to download

http://cucumber.github.com/cucumber-eclipse/update-site . Its says Proxy Authentication Required.

but the same works for Eclipse.

[2017-07-10 15:50] escay opened #202 "Editor could not be initialized when selecting a feature file from git history"
Double click a feature file in the Eclipse Git History pane.
The associated Cucumber file editor is opened, but the content is not loaded.

I'm using plugin version:
- Cucumber Eclipse Feature	0.0.17.201704062133	cucumber.eclipse.feature.feature.group
on Eclipse 4.6 (Mars)

The error shown is:
Editor could not be initialized.

The exception is:
<pre>
java.lang.ClassCastException: org.eclipse.egit.

[2017-07-17 20:36] escay commented on #202
I have looked a bit into the exception and I can find at least 3 situations the editor should support:

- FileEditorInput
- FileStoreEditorInput
- IStorageEditorInput

but I do not have enough Eclipse experience to solve this.
My test so far:

[code]

[2017-07-17 22:07] Subash85 commented on #201
Any updates?

[2017-07-21 01:32] justrad opened #204 "control-click into Step Definitions from feature files"
Please add feature to control-click to open the step definition declaration from the feature file. F3 seems to work but it would be a nice to have.

[2017-07-21 16:12] NuttBoxer commented on #200
No response using F3.

[2017-07-23 20:54] ilanpillemer commented on #204
Send a pull request for it and you will get it.

[2017-07-28 22:19] pandug opened #205 "List steps containing the word after the step keyword"
Please add feature to populate the matched predefined steps that contains the next word after step-keyword when trying to find the steps by pressing [CTRL]+[SPACE]. This will provide an easy way to search the steps created by functionality and avoid creating redundant steps.

[2017-07-29 18:38] girijant commented on #205
Hello,
Content Assistance feature for step definition is already implemented.Please go though below reference  for your understanding: https://github.com/cucumber/cucumber-eclipse/wiki/Content-Assistance-for-feature-file

Hope this will help you.If you have any query or any enhancement please let me know.

Thanks,
Girija

[2017-08-08 18:32] pandug commented on #205
Hi Girija,

Thanks for your response. I do not find the details in the wiki to search for steps containing specific word or by stepdefinition filename.

Could you please let me know how I can perform the above search?

Thank you.

[2017-08-09 05:02] girijant commented on #205
Please go through below rules as I specified on above wiki page :
b. Rules for step Assistance :

- Populates all/search based predefined steps proposal by pressing '[Ctrl]+[Space]' keys.

- New line MUST be starts with a valid Step-Keyword.

- If Next word is blank : Populates all predefined steps

- If Next word starts with any matched step : Populates only matched predefined steps

- If Next wo

[2017-08-10 00:11] pandug commented on #205
Hi Girija,

I have installed the latest version and applied all the rules for step assistance.
But do not find the below features:
 - search steps by stepdefinition filename
Ex: When searched with LoginSteps.java, all the steps defined in the class to be populated

 - search for steps that contains specific word instead of starts-with
Ex: When searched with "login" word, all the pre-defined steps

[2017-08-10 05:45] girijant commented on #205
Here are my comments and please clarify your need as below :
1.search steps by stepdefinition filename
Ex: When searched with LoginSteps.java, all the steps defined in the class to be populated.
- This feature should not be part of content assistance feature.Because while writing a feature file,user only bothers about predefined steps instead of .java file.Our content-assistance feature also suppo

[2017-08-11 20:36] pandug commented on #205
Hi Girija,

Feature for searching steps containing a word will suffice. In our project, stepdefinitions files are organized by functionality. On second thought, search steps by stepdefinition filename is not required if search steps containing specific word(s) feature is implemented.  It is only useful if user doesn't want to access java file and view the list of steps implemented for a functional

[2017-08-15 13:54] fraree opened #206 "Cucumber Editor 0.0.17.201704062133 (cucumber.eclipse.editor 0.0.17.201704062133) requires 'bundle org.eclipse.pde.ui 3.5.0' but it could not be found"
Trying to install cucumber in eclipse Luna Service Release 2 (4.4.2). getting below err

Software being installed: Cucumber Eclipse Feature 0.0.17.201704062133 (cucumber.eclipse.feature.feature.group 0.0.17.201704062133)

  Missing requirement: Cucumber Editor 0.0.17.201704062133 (cucumber.eclipse.editor 0.0.17.201704062133) requires 'bundle org.eclipse.pde.ui 3.5.0' but it could not be found

  C

[2017-08-25 09:43] jeffshawn opened #207 "does not have a matching glue code"
When I just create a new feature file ,I got the warn info.  what's the problem?
![qq 20170825173437](https://user-images.githubusercontent.com/30891541/29708866-e1035e56-89bc-11e7-9199-628e38dd7674.png)
![qq 20170825173722](https://user-images.githubusercontent.com/30891541/29708867-e10f31cc-89bc-11e7-8542-c5e47ff1e543.png)
![qq 20170825173749](https://user-images.githubusercontent.com/30891541/2

[2017-08-30 15:27] andreas-wolf commented on #190
I have the same NPE. No idea what is wrong. In my case it came from

[code]

targetClass.getClassLoader() returned null.

Probably that has to do with the fact that I had to add lots of jars to the runtime configuration classpath bootstrap entries. For some reason the maven dependencys where ignored completely.

[2017-10-05 04:31] asytnik opened #209 "Can't download Cucumber Eclipse Plugin."
Response - Some information not is found.

[2017-10-29 18:17] akshaykamath opened #211 "Duplicate Step definitions"
When I try to use the content assist feature, I get duplicate step definitions. Is this a known issue?

[2017-10-30 13:52] girijant commented on #211
Content assistance populates all step definitions available in your step definition java file. You might have duplicate steps in your step definition java file.

[2017-10-31 00:54] akshaykamath commented on #211
Hi @girijant,

I also checked this with other users who were also facing this issue.

You can also refer my Step Definition file here: https://github.com/akshaykamath/cucumber-poc/blob/master/src/test/java/com/poc/cucumber/calculator/StepDefinition.java

So I am not sure if this is caused due to duplicate steps. Please let me know if I may have overlooked something.

I also tried debugging this is

[2017-11-02 07:14] girijant commented on #211
Hi @akshaykamath,

Thanks for your analysis. As far I know this issue was not due to the implementions of two 'StepDefinitions' file in two different packages. The purpose of redefining 'cucumber.eclipse.steps.jdt.StepDefinitions' class in 'cucumber.eclipse.editor.steps.jdt' package is only to avoid plugin-dependency conflicts. This 'cucumber.eclipse.editor.steps.jdt.StepDefinitions' class support

[2017-11-02 09:24] akshaykamath commented on #211
![scr-shot-cucumber](https://user-images.githubusercontent.com/13991499/32317996-c55ec5e4-bf83-11e7-82fd-25675e621dea.png)
@girijant Thanks for looking into this. I have not updated the files since I am not familiar with this code :)

I have attached a screen shot for your reference, however since you mention that you have been using it without facing this issue, it could be some issue on my machi

[2017-11-03 13:11] girijant commented on #211
@akshaykamath,
I am able to reproduce this issue in my enviroment. This issue was not exists with prior plugin version '0.0.15'. Main root cause of this issue is due to the redefining of same code in 'cucumber.eclipse.steps.jdt.StepDefinitions' class i.e. updated by other developer. Now issue is got fixed in my local environment and preparing a build with latest version. I'll update you once it's

[2017-11-03 14:58] girijant commented on #211
@akshaykamath,
Issue is got fixed and available in latest plugin version '0.0.18' with below summary:
- Fixed for duplicate step definitions
- Fixed for content-assistance with an improvised feature i.e. Steps can be populated based on both starts-with and contains with any words.
Please update plugin with latest version and let me know if any issue.

Thanks,
-Girija

[2017-11-03 15:00] girijant commented on #205
@pandug,
Issue is got fixed and available in latest plugin version '0.0.18' with below summary:
- Fixed for duplicate step definitions
- Fixed for content-assistance with an improvised feature i.e. Steps can be populated based on both starts-with and contains with any words.

Please update plugin with latest version and let me know if any issue.

Thanks,
-Girija

[2017-11-04 11:15] girijant commented on #211
Issue is got fixed and available in latest plugin version '0.0.18' with below summary:
- Fixed for duplicate step definitions
- Fixed for content-assistance with an improvised feature i.e. Steps can be populated based on both starts-with and contains with any words.
Please update plugin with latest version and let me know if any issue.

Thanks,
-Girija

[2017-11-04 11:15] #211 closed

[2017-11-04 11:16] #205 closed

[2017-11-04 11:22] girijant commented on #157
I had already Fixed this issue. So closing this ticket.

[2017-11-04 11:22] #157 closed

[2017-11-04 11:44] girijant opened #217 "New Step-Definition File Wizard"
## **Feature Summary**
- By using plugin, user should able to create a new Step definition(java) file from Eclipse 'File' Menu :
File > New > Other > Cucumber > Step-Definition class > Next > : File wizard needs to be populated
- From file wizard, user should :
- Specify Source Folder: [browse your project directory] Package Name:[browse package name] Class Name:[Step-Def(java) file name]
- Can Se

[2017-11-04 11:45] girijant commented on #217
Issue is closed as feature is already implemented with latest plugin version.

[2017-11-04 11:45] #217 closed

[2017-11-04 11:53] girijant opened #218 "Content Assistance for feature file"
## **Feature Summary**
Plugin should allow to use 'Content Assistance' for Eclipse editor which can be
- Activated by pressing [Ctrl]+[Space]' keys while writing any feature file.
- List all proposals for Gherkin Keywords.
- List all proposals for Predefined-Steps
- List predefined-Steps based on typed word

[2017-11-04 11:54] girijant commented on #218
Issue is closed as feature is already implemented in plugin and please find below wiki page for feature details :
- https://github.com/cucumber/cucumber-eclipse/wiki/Content-Assistance-for-feature-file

Thanks,
-Girija

[2017-11-04 11:54] #218 closed

[2017-11-06 11:10] ironchamp commented on #209
How can I download offline?

[2017-11-06 12:16] nizamuddinj opened #219 "Eclipse doesn't found jar files while installing this package offline"
I tried to install this package on Eclipse offline but got error an error that Eclipse doesn't found jar files. Is this known issue or is there any other way to install this package.

[2017-11-06 13:21] PyvesB commented on #206
Hello,

I encountered a similar problem with Eclipse Oxygen (4.7.1). You should try installing the _Eclipse PDE Plug-in Developer Resources_ before attempting to install _Cucumber Eclipse_. You can get it from the Eclipse p2 repository for your IDE version (for instance `http://download.eclipse.org/eclipse/updates/4.7/` for Eclipse Oxygen). Hope this helps!

Cheers,

Pyves

[2017-11-09 05:27] girijant commented on #219
@nizamuddinj,
Please share your detail steps for better investigation about this issue. Also attach issue snapshots and logs for better understanding.

Thanks,
Girija

[2017-11-09 10:57] nizamuddinj commented on #219
Hi @girijant ,
I received the errors as below. I cannot access outside world and so cannot use Market place at my work place. So, I need to import plugins offline and I found the similar content i.e. same structured reposition on this git repository. Also not able to attached document in this window.
====================================================
eclipse.buildId=4.6.0.I20160606-1100
java.ver

[2017-11-09 16:26] sampathracherla opened #220 "Cucumber - Feature File - nothing shows up in editor"
I have an issue with cucumber feature file. when I try to create a file without plugin - Im able to see the content in editor. Once I install the Cucumber eclipse plugin, Im not able to see anything in the editor - Its just blank screen. Please let me know if Im missing something here - Thanks

Eclipse Version:

Eclipse Java EE IDE for Web Developers.

Version: Mars.2 Release (4.5.2) Build id: 201

[2017-11-10 07:30] girijant commented on #220
@sampathracherla,
I've successfully installed cucumber-eclipse plugin in my Mars-Eclipse-IDE(Eclipse Java EE IDE for Web Developers.Version: Mars.2 Release (4.5.2), Build id: 20160218-0600) without seeing any issue.

Please do the below steps:
## **A. Uninstall the older version of cucumber-eclipse plugin :**
- To use the latest features of this plugin you must have to uninstall the older version

[2017-11-10 07:31] ankitonedirect opened #221 "Cucumber-plugin not working"

[2017-11-10 07:35] #221 closed

[2017-11-11 10:44] girijant commented on #94
@paulvi, @frankbenoit, @brabenetz, @ericlemerdy,
I am glad to announce that cucumber-eclipse plugin is now avalable in Eclipse-Market place. Please refer below URL for your plugin installation:
- https://marketplace.eclipse.org/content/cucumber-eclipse-plugin
Also refer our Eclipse-Market-Wiki page for detail information:
- https://github.com/cucumber/cucumber-eclipse/wiki/Eclipse-Market-For-Cucum

[2017-11-11 10:44] #94 closed

[2017-11-14 17:14] tts-ll commented on #207
I experience the same issue with Spring Tool Suite Eclipse Oxygen (4.7.0)

[2017-11-15 06:06] girijant commented on #219
@nizamuddinj,
I would not recommend for offline-installation as the way what you are doing. Currently I am working to publish our cucumber-eclipse plugin for offline-installation. You will be notified once it's completed. Also I'm updating ticket as duplicate as ticket #209 is already exists.

Thanks,
-Girija

[2017-11-15 06:07] girijant commented on #209
@asytnik , @ironchamp,
Currently I am working to publish our cucumber-eclipse plugin for offline-installation. You will be notified once it's completed.

Thanks,
-Girija

[2017-11-16 13:19] norman-knott commented on #207
I also get the warnings in eclipse EE 4.6.3. Running the hole file is not a problem. But the not found steps code makes it less useful.

[2017-11-16 15:58] girijant commented on #207
@norman-knott @jeffshawn @tts-ll,
Please share your cucumber-eclipse plugin version for better investigation.

[2017-11-16 15:59] norman-knott commented on #207
0.0.17.201704062133

[2017-11-16 16:09] girijant commented on #207
@norman-knott,
Thanks for your quick reply. We never came across this issue by extensively using this plugin.
Can you please try once with latest version plugin after uninstalling the older version by referring https://github.com/cucumber/cucumber-eclipse/wiki/Uninstall-the-older-version-of-cucumber-eclipse-plugin.

[2017-11-16 17:03] norman-knott commented on #207
@girijant The new still gives the warning.

I find this on stdout of Eclipse every time I open a feature file:
`Load JDTStepDefinitions:getSteps()....In package : cucumber.eclipse.editor.steps.jdt
JDTStepDefinitions:STEPS = []`

If this help a bit.

[2017-11-18 09:25] girijant commented on #207
@norman-knott,
I am not seeing above stdout from Eclipse. Please share your plugin version. Is it '0.0.18.201711040925' ??

[2017-11-19 10:12] norman-knott commented on #207
@girijant Yepp, `0.0.18.201711040925`. That's my version now.

[2017-11-19 19:36] akshaykamath commented on #207
@norman-knott this may seem like a silly question, but I am assuming that you are getting a warning in the editor while opening the feature files. Can you please confirm if you have the matching glue code(step definitions in the code files) for each of  your steps? It is also worth noting that the matching step definitions need to be in the same package as the feature file.

For example, note that

[2017-11-20 06:48] girijant commented on #207
@norman-knott,
Trying to fix the below unnecessary logs from Eclipse stdout:
_Load JDTStepDefinitions:getSteps()....In package : cucumber.eclipse.editor.steps.jdt JDTStepDefinitions:STEPS = []_

[2017-11-24 11:11] girijant commented on #209
@asytnik , @ironchamp,
Glad to publish Cucumber-Eclipse plugin as a Zip file which can be downloaded and installed from your local system.

Please download the plugin-zip(cucumber-eclipse-plugin-0.0.19-SNAPSHOT.zip) from the latest version(0.0.19-SNAPSHOT) directory of below url:
- https://github.com/cucumber/cucumber-eclipse/tree/master/cucumber.eclipse.download/download

Also refer our [Plugin-D

[2017-11-24 11:11] #209 closed

[2017-11-24 11:12] girijant commented on #219
@nizamuddinj,
Glad to publish Cucumber-Eclipse plugin as a Zip file which can be downloaded and installed from your local system.

Please download the plugin-zip(cucumber-eclipse-plugin-0.0.19-SNAPSHOT.zip) from the latest version(0.0.19-SNAPSHOT) directory of below url:
- https://github.com/cucumber/cucumber-eclipse/tree/master/cucumber.eclipse.download/download

Also refer our [Plugin-Download/I

[2017-11-24 11:12] #219 closed

[2017-11-24 11:20] girijant commented on #187
@bharal,
Glad to publish Cucumber-Eclipse plugin as a Zip file which can be downloaded and installed from your local system.
You can directly install this plugin from our [Updated Site](https://cucumber.io/cucumber-eclipse/update-site)

You may refer our [Eclipse-Marketplace URL](https://marketplace.eclipse.org/content/cucumber-eclipse-plugin) for quick installation from Eclipse

You may download

[2017-11-24 11:20] #187 closed

[2017-11-24 11:22] girijant commented on #174
Closing this ticket as it's Fixed

[2017-11-24 11:22] #174 closed

[2017-11-24 11:25] girijant commented on #170
Closing this ticket as non-reproducible defect.

[2017-11-24 11:25] #170 closed

[2017-11-24 11:25] girijant commented on #198
Closing this ticket as a non-reproducible defect.

[2017-11-24 11:25] #198 closed

[2017-11-24 11:27] girijant commented on #196
Closing this ticket as already fixed.

[2017-11-24 11:27] #196 closed

[2017-11-24 11:30] girijant commented on #220
Closing this ticket for non-reproducible defect.

[2017-11-24 11:30] #220 closed

[2017-11-24 11:34] girijant commented on #207
@norman-knott,
Fixed for the unnecessary logs from Eclipse stdout in '0.0.19' latest version. Are you still facing same issue by seeing suggestion of @akshaykamath ??

[2017-11-24 11:48] girijant commented on #72
@thomaseger,
Not seeign any 'Uncategorized' from Eclipse while doing plugin installation from updated-site. Hence closing this ticket.

[2017-11-24 11:48] #72 closed

[2017-11-24 11:53] girijant commented on #118
@lxbzmy,
Closing this issue as per your comment. If you still found issue, please share your comments with proper snapshots/logs.

Thanks,
-Girija

[2017-11-24 11:53] #118 closed

[2017-11-24 12:41] norman-knott commented on #207
@akshaykamath Sorry, missed the notification. Will check this tomorrow.

@girijant Thanks for removing the vaxing log :)

[2017-11-24 15:42] sampathracherla commented on #220
I got downgrade from java9 to Java8 and it works fine.. Thanks

On Fri, Nov 10, 2017 at 2:30 AM Girija Prasad Panda <
notifications@github.com> wrote:

--
Thank you,
Sampath Racherla

[2017-11-25 06:18] girijant commented on #207
@norman-knott,
Glad to publish Cucumber-Eclipse plugin as a **Zip** file which can be downloaded and installed from your local system.

Please download the **plugin-zip**(cucumber-eclipse-plugin-0.0.19-SNAPSHOT.zip) from the latest version(0.0.19-SNAPSHOT) directory of below url:
- https://github.com/cucumber/cucumber-eclipse/tree/master/cucumber.eclipse.download/download

Also refer our [Plugin-D

[2017-11-25 10:47] norman-knott commented on #207
@akshaykamath Looks like not all step code is in the same package. But it is very much code, and to be sure I will do a simple test on a new workspace. In two or three days.
@girijant With these tests I also try the new version.

[2017-11-27 14:35] norman-knott commented on #207
@akshaykamath Even with the simple maven test project provided in the ZIP
[test.tar.gz](https://github.com/cucumber/cucumber-eclipse/files/1506203/test.tar.gz)
does the editor show the warnings.
![image](https://user-images.githubusercontent.com/18596176/33271747-07fcf01e-d380-11e7-8a57-6ca04b8d212c.png)

![image](https://user-images.githubusercontent.com/18596176/33271812-300ca3ec-d380-11e7-9eec-

[2017-11-27 14:36] norman-knott commented on #207
@girijant Couldn't get to install the new version yet. Sorry.

[2017-11-28 01:13] akshaykamath commented on #207
@norman-knott @girijant This seems like a valid issue. It looks like the plugin does not identify the step definitions that are defined using java 8 lambda expressions. However, the moment you add annotated step definition the warning goes away.

You can refer this project:
Step Def File:
 https://github.com/akshaykamath/cucumber-poc/blob/master/src/test/java/com/poc/cucumber/StepDefinitionLambda.

[2017-11-28 01:53] akshaykamath opened #223 "Content assist does not populate steps that are defined using java 8 lambda expressions"
This is probably related to #207 . The step definitions that are defined in java class file using the lambda expressions are not displayed in the content assist.

![scrshotstepdef-java8-classfile](https://user-images.githubusercontent.com/13991499/33298540-931cdcfa-d3ac-11e7-9e2d-b1c452299a93.png)
![scrshotstepdef-java8](https://user-images.githubusercontent.com/13991499/33298544-96aae0ce-d3ac-11e

[2017-11-28 05:20] girijant commented on #207
@akshaykamath,
Thanks for the quick analysis. I already aware of this issue with java8 environment which is already logged in #175 ticket. Anyway I have to fix it. Also thanks for sharing the project.

[2017-11-28 10:21] norman-knott commented on #207
@akshaykamath @girijant I glad to help. My colleagues are nagging at me to use IntelliJ. But with a fix for this problem, there is one reason less. ^^

[2017-11-28 11:16] girijant commented on #207
@norman-knott,
By referring sampe project of @akshaykamath, looking into these tickets #223 and #175 as a high priority request. As of my understanding there are two fixes required for these issues in java8 environment:
- Matching glue-code
- Content Assistance improvement

Thanks,
-Girija

[2017-11-28 14:03] norman-knott commented on #207
@girijant I've installed the version 0.0.19 from the ZIP. The log does not appear when I open a feature file now.

Thanks 👍

[2017-11-29 01:54] #199 closed

[2017-12-01 16:36] justrad commented on #207
Another issue I've seen for missing matching step def:

Scenario Outline: Guidance package is purchased as an upgrade from Security
    Given an enrolled vehicle
    And a <Payment Plan> Security package is Active
    When Guidance package is purchased as an upgrade
    Then the Guidance package is Active
    And the <Payment Plan> Security package is Active

    Examples:
      | Payment Plan |

[2017-12-01 16:36] justrad commented on #207
Another issue I've seen for missing matching step def:

Scenario Outline: Guidance package is purchased as an upgrade from Security
    Given an enrolled vehicle
    And a <Payment Plan> Security package is Active
    When Guidance package is purchased as an upgrade
    Then the Guidance package is Active
    And the <Payment Plan> Security package is Active

    Examples:
      | Payment Plan |

[2017-12-13 08:23] LorenzoBettini commented on #159
Looks like the problem is still there: after creating the steps with the quickfix the warnings are still there... the only way I found to make the warnings go away is to close the project and open it again... does it store some cache somewhere which is not correctly updated?

[2017-12-13 18:20] girijant commented on #207
@norman-knott, @akshaykamath,
Above issues for java8 environment are almost completed. Currently doing some testing. I will fire a build  once its done.

[2017-12-13 18:30] girijant commented on #159
@LorenzoBettini,
Instead of closing project, Only close the opened feature file from eclipse editor and reopen it. Also remove unused import statements from step definition file by ctrl+shift+O.

[2017-12-13 18:32] girijant commented on #223
@akshaykamath,
Above issues for java8 environment is almost completed. Currently doing some testing. I will fire a build once its done.

[2017-12-18 13:06] LorenzoBettini commented on #159
Right, closing only the feature editor works. Still this shouldn't be required to make the warnings go away :-)

[2017-12-21 13:14] GBMM01 opened #224 "Eclipse offline installation"
Is there an offline installation available?  The only one I can find is mrpotes. Which is missing a majority of the plugin. I need to install for all users.

EDIT:Found Snapshot.

[2017-12-21 17:13] girijant commented on #224
@GBMM01,
@nizamuddinj,
Cucumber-Eclipse plugin is alredy published as a Zip file which can be downloaded and installed **offline** from your local system.

Please download the plugin-zip(cucumber-eclipse-plugin-0.0.19-SNAPSHOT.zip) from the latest version(0.0.19-SNAPSHOT) directory of below url:

https://github.com/cucumber/cucumber-eclipse/tree/master/cucumber.eclipse.download/download
Also refer

[2017-12-22 12:40] girijant commented on #207
@norman-knott, @akshaykamath,
Glad to announce the new release(0.0.20 version) of Cucumber-Eclipse plugin which supports cucumber-java8 Lambda Expressions. The Plugin is enhanced to support below features for cucumber-java8 Lambda Expressions :
- Content-Assistance populates all the steps used in lambda expressions.
- Matching of Glue-code for all the steps used in lambda expressions.
- By pressin

[2017-12-22 12:40] #207 closed

[2017-12-22 12:42] girijant commented on #223
@akshaykamath,
Glad to announce the new release(0.0.20 version) of Cucumber-Eclipse plugin which supports cucumber-java8 Lambda Expressions. The Plugin is enhanced to support below features for cucumber-java8 Lambda Expressions :
- Content-Assistance populates all the steps used in lambda expressions.
- Matching of Glue-code for all the steps used in lambda expressions.
- By pressing 'F3' key on s

[2017-12-22 12:42] #223 closed

[2017-12-27 14:50] artemplaksiy opened #228 "Feature files editor could not be initialized - NullPointerException"
There is no possibility to open feature file in editor, see: ![selection_062](https://user-images.githubusercontent.com/34888588/34383094-54f5fc12-eb13-11e7-8b80-b054eb89cc44.jpg)

Environment:
    Eclipse Java EE IDE for Web Developers.
    Version: Oxygen.2 Release (4.7.2)
    Build id: 20171218-0600

Plugin:
    Cucumber Eclipse Feature	0.0.20.201712221009

Steps to reproduce:
1. Clone **cucumb

[2017-12-27 15:02] artemplaksiy commented on #228
Aha.. It's works when I use:
`import cucumber.api.java.en.Given;`
`import cucumber.api.java.en.Then;`
`import cucumber.api.java.en.When;`

instead of:
`import cucumber.api.java.en.*;`

[2017-12-27 18:50] girijant commented on #228
Yes, I already aware this issue. You should use fully qualified import statements Instead of generic import statement. If required then I will fix this issue.

[2017-12-28 08:36] artemplaksiy commented on #228
I don't insist on fixing this issue. It's enough that you confirmed my assumption :)
I will use your recommendation. Thank you!

[2017-12-28 13:39] girijant commented on #228
Thanks for your confirmation. Also I'm closing this ticket.

[2017-12-28 13:39] #228 closed

[2017-12-28 13:45] girijant commented on #224
@GBMM01,
Have you ever tried with above solution? Please confirm. I'm awaiting your response, else i would like to close this issue.

Thanks,
-Girija

[2017-12-28 13:52] GBMM01 commented on #224
I have, although it works, the version of Eclipse Neon is missing some dependencies of cucumber. Since cucumber needs to be installed under the users profile I am unable to get the dependencies installed.

[2018-01-04 21:31] mikejramsey56 opened #229 "0.0.20 version triggers a null pointer exception when editing a feature file"
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=529209

I ran into this after an Eclipse update. After the update I had this installed:

Cucumber Eclipse Feature 0.0.20.201712221009 cucumber.eclipse.feature.feature.group

I uninstalled the 0.0.20 version. I then went to the git site
https://github.com/cucumber/cucumber-eclipse/tree/master/cucumber.eclipse.download/download

and downloaded the pr

[2018-01-05 03:55] girijant commented on #229
@mikejramsey56,
Thanks for identifying issue.
Please share exception stack trace with snapshots for quick debugging. Also share your both feature file and step definitions file along with eclipse platform detail.

[2018-01-06 16:16] girijant commented on #229
@mikejramsey56,
After successfully installing latest Cucumber-Eclipse plugin version:**0.0.20**(Cucumber Eclipse Feature 0.0.20.201712221009 cucumber.eclipse.feature.feature.group) with a fresh **Eclipse-Oxygen** IDE [Eclipse Java EE IDE for Web Developers, Version: Oxygen.2 Release (4.7.2), Build id: 20171218-0600], the cucumber feature file(.feature) is successfully launched in eclipse editor **

[2018-01-06 16:16] #229 closed

[2018-01-06 16:42] girijant commented on #224
@GBMM01,
As per my understand Cucumber-eclipse plugin installation does not depends on any user/dependency. It can be directly installed on any Eclipse-IDE version wothout considering any user/dependency. Please clarify your points in order to debug your issue.
It seems some issue with your eclipse environment. Points needs to be considered while installing new cucumber-eclipse plugin:
- After ins

[2018-01-08 12:50] GBMM01 commented on #224
There are a couple folders that are created under the user profile tagged .eclipse which contain configurations for that user. Plug ins seem to be user based.

[2018-01-09 05:03] girijant commented on #224
It seems you installed eclipse using installer. Can you please try with eclipse.zip bundle. Extract eclipse zip. Launch eclipse IDE from Extracted zip.  Then install plugin.

Thanks,
Girija

[2018-01-09 08:15] brabenetz opened #230 "Pattern Exception for Reg-Expr "^\\$\\{([\\w]+)\\}$""
the following Step should be fine:
        Then("^\\\\$\\\\{([\\\\w]+)\\\\}$",
                (final String expressionName) -> {
                });

But If I want open any *.feature-File in the same Project I get The Error:
java.util.regex.PatternSyntaxException: Illegal repetition near index 5
^\\\\$\\\\{([\\\\w]+)\\\\}$

This same Error-Message only occurs if I execute Pattern.compile("^\\\\\\

[2018-01-10 12:05] girijant commented on #230
After looking into this issue, it seems your regEx pattern in the step is invalid to compile with java Pattern. You must have to add Square-brackets for any { and }, like below steps :
`Then("^\\$[\\{([\\w]+)\\}]$",
(final String expressionName) -> {
});`
OR
`Then("^\\$[{([\\w]+)}]$", (final String expressionName) -> {
});`

Please try with above steps and let me know the appropriate way to handle

[2018-01-10 14:31] brabenetz commented on #230
Both Expressions seems to work with java Pattern in the same way (only the Eclipse plugin has problems with it):
[code]

but thanks, it is an acceptable workaround.

For me it's OK to close the Issue. Or do you want look into it deeper?

[2018-01-10 20:41] testronic opened #231 "New icons"
In my opinion the old icon looks much better
![image](https://user-images.githubusercontent.com/34661453/34794064-4a680a7a-f602-11e7-9e9b-adff8d2ae29b.png)
than new
![image](https://user-images.githubusercontent.com/34661453/34794177-b35f9d5e-f602-11e7-86ac-77ec6843cdae.png)
The selected color is too dark and and aggressive...
It looks terrible on the dark color theme...
![image](https://user-imag

[2018-01-12 06:20] girijant commented on #231
@testronic,
As old icon ![](https://user-images.githubusercontent.com/34661453/34794064-4a680a7a-f602-11e7-9e9b-adff8d2ae29b.png) was not identical with the cucumber-logo, making confusion for new user. The new icon ![](https://user-images.githubusercontent.com/34661453/34794177-b35f9d5e-f602-11e7-86ac-77ec6843cdae.png) is replaced for better understanding purpose. The selected color is the defaul

[2018-01-12 08:30] aslakhellesoy commented on #231
Thanks for changing this! We shouldn’t be using the old logo on any Cucumber projects, so this is good.

More info here: https://github.com/cucumber-ltd/brand

[2018-01-12 08:31] aslakhellesoy commented on #231
In that repo there are white logos with green pips that could be used on dark schemes. I don’t know if Eclipse is able to swap icons based on the “darkness” of the current theme though.

[2018-01-13 09:41] girijant commented on #231
@aslakhellesoy ,
Thanks for your valuable comments and sharing the repo of all logo/icon. Let me look into the swapping of icons based on eclipse color theme.

[2018-01-13 09:48] girijant commented on #230
Thanks for your feedback. Let me look into bit deeper about this strange issue.

[2018-01-13 23:14] testronic commented on #231
Guys all you say is right, but you slightly misread my initial comment. Ok. I'll try to help you...
My concern is not the shape of the icon, but the selected color, which is too dark even if you compare it with the original logo. Please take a look...
<img width="187" alt="screen shot 2018-01-13 at 2 11 25 pm" src="https://user-images.githubusercontent.com/34661453/34910836-0b9f8404-f872-11e7-8828

[2018-01-16 12:42] mohanrajmcad opened #232 "Unable to install from Eclipse Marketplace"
I am not able to install plugins from market place as this URL is not accessible.

https://cucumber.github.io/cucumber-eclipse/update-site/content.xml

[2018-01-16 14:28] girijant commented on #232
@mohanrajmcad,
Let me look into this issue and will update.

[2018-01-16 15:41] girijant commented on #232
@mohanrajmcad,
The Issue is fixed. You may able to install our latest version plugin successfully from our eclipse market place. Also tested and works fine with Eclipse-Oxygen [Eclipse Java EE IDE for Web Developers.Version: Oxygen.2 Release (4.7.2), Build id: 20171218-0600]

Please retry and share your quick feedback asap, so that I can close this ticket. Awaiting your response.

[2018-01-17 20:39] mohanrajmcad commented on #232
Same issue again, link is not accessible.

[2018-01-17 20:56] testronic opened #233 "Feature file error highlighting options"
I'm struggling with error highlighting in the feature file.
1. Is there an option to change the default color or method ? (e.g. underline instead of highlighting)
-Dark theme-
![image](https://user-images.githubusercontent.com/34661453/35065810-3d8fc226-fb83-11e7-9e16-d48287a2495e.png)
-Windows (default) theme-
![image](https://user-images.githubusercontent.com/34661453/35065885-8161c60c-fb83-11e7

[2018-01-23 03:44] smrowley opened #234 "Editor should be able to parse step definitions Before() (java8 syntax)"
The java.util.regex.PatternSyntaxException is encountered when attempting to open a feature file with the plugin editor. The issue arises when a Before or After step is defined with a HookNoArgsBody.

Example:

`Before(() -> {
    //do something before
});`

Full stack trace:
`
at java.util.regex.Pattern.error(Unknown Source)
	at java.util.regex.Pattern.closure(Unknown Source)
	at java.util.regex.

[2018-01-25 10:12] Flaburgan commented on #234
I also have this, it looks like the regex is not able to handle the `Before()` lambda (Java8 syntax).
If the before instruction is set with the annotation `@Before` in a separated method, everything works as expected and the feature files can be open with the editor.

[2018-01-25 11:29] girijant commented on #234
Thanks for sharing the issue. I will look into it very shortly.

[2018-01-30 15:23] Flaburgan commented on #233
+1 on this, I have the same problem. I don't think this is the expected behavior, the file should be re-checked automatically.

[2018-01-30 15:31] Flaburgan opened #235 "Steps detected as not implemented when they contains a number (\\d+) regexp"
I've got a step wrote as `And there should be 2 passengers`.
And implemented as `And("^there should be (\\d+) passengers$", (Integer nbPassengers) -> {`

The eclipse plugin 0.0.20.201712221009 is unable to link that step to the glue code and displays a warning in the feature file. However, I'm able to run my scenario without problem.

[2018-01-31 04:27] girijant commented on #235
Thanks for sharing issue. I will look into this. Also waiting for any other issues in java8 - lambda expression, so that I could fix all in a single release build.

[2018-01-31 04:29] girijant commented on #234
Guys,
Thanks for sharing issues.Waiting for any other issues in java8 - lambda expression, so that I could fix all in a single release build.

[2018-01-31 15:20] mikejramsey56 opened #236 "Editor keeps auto-scrolling to the left margin"
Not sure if this is related to folding or not, but when editing a feature file my example line extends beyond the right border.  I scroll right to edit and the editor keeps auto scrolling back to the left margin.  This makes it very hard and time-consuming to edit.  I have to keep manually scrolling to the right.

[2018-02-01 14:34] Flaburgan opened #237 "Create missing steps as a lambda"
Currently when a step is missing in a feature file, it is possible to create it automatically. It would be nice to be able to generate the new step with the java 8 syntax. This probably implies to add a setting in the plugin.

[2018-02-02 15:49] mohanrajmcad commented on #232
@girijant,

It's still not resolved :(

[2018-02-02 16:39] girijant commented on #232
@mohanrajmcad,
As per my above comment the issue is got fixed and also tested in my Eclipse-Oxygen. It might be issue with eclipse-cache, please try with below steps:
- Check if any cucumber-plugin is already installed in your eclipse then try to uninstall the plugin by refering our [uninstall-plugin-wiki](https://github.com/cucumber/cucumber-eclipse/wiki/Uninstall-the-older-version-of-cucumber-ec

[2018-02-02 16:48] Flaburgan opened #238 "Update run configurations when a feature file is moved with Eclipse"
**Steps to reproduce:**
Create a feature file
Move it to another folder
Run the feature file by right clicking it it, Run as, Cucumber Feature

**What happens:**
Exception in thread "main" java.lang.IllegalArgumentException: Not a file or directory: [the old path of the file]

**What should happen:**
The run configuration should be updated to use the new path of the file, and the file should be ru

[2018-02-07 14:42] ihodges commented on #136
This problem is due to a missing call to

setDefaultSourceLocator(launch, config);

in CucumberFeatureLocalApplicationLaunchConfigurationDelegate.

[2018-02-09 22:41] cowang opened #241 "Editor could not be initialized"
After several install attempts, deletions, and more installs, I am still getting the same error:
  Editor could not be initialized

I am an experienced Cucumber-Eclipse user, but with an old version on my old computer. I just loaded up my new Surface with Eclipse Oxygen, added the JSDT for some other work, and went to install Cucumber-Eclipse. My initial install was from the Eclipse Marketplace us

[2018-02-11 06:03] girijant commented on #241
@cowang,
I've tested and works fine with Eclipse-Oxygen [Eclipse Java EE IDE for Web Developers.Version: Oxygen.2 Release (4.7.2), Build id: 20171218-0600], without JSDT plugin. It might be issue with eclipse-cache, please try with below steps:
1. Check if any cucumber-plugin is already installed in your eclipse then try to uninstall the plugin by refering our [uninstall-plugin-wiki.](https://gith

[2018-02-12 10:23] aleroot opened #243 "Editor crash missing regex Before(()"
With a steps file like :

`package com.moo.cart.integration;

import com.mashape.unirest.http.HttpResponse;
import com.mashape.unirest.http.Unirest;
import com.mashape.unirest.http.exceptions.UnirestException;
import com.moo.cart.ApplicationMain;
import cucumber.api.java8.En;

import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertNotNull;

[2018-02-12 10:31] Flaburgan commented on #243
Duplicate of https://github.com/cucumber/cucumber-eclipse/issues/234

[2018-02-12 10:31] #243 closed

[2018-02-14 06:59] mgor commented on #159
@boris779, @LorenzoBettini, this issue is solved with PR #240, which is merged now. Could you clone the project, run `mvn clean install` and then update/install the plugin from archive `cucumber.eclipse.download/download/0.0.20-SNAPSHOT/cucumber-eclipse-plugin-0.0.20-SNAPSHOT.zip`?

Also make sure that your `.project` file contains both the cucumber nature:
[code]
and the build command:
[code]

[2018-02-14 11:11] malikpathirana commented on #232
hi i have the same issue with Version: Oxygen.2 Release (4.7.2) Build id: 20171218-0600
please find the error log
eclipse.buildId=4.7.2.M20171130-0510
java.version=1.8.0_161
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_US
Framework arguments:  -product org.eclipse.epp.package.java.product
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -prod

[2018-02-14 13:15] girijant commented on #159
@boris779, @LorenzoBettini, @mgor,
Currently I am fixing some major defects. I will fire a build soon with a new version.

Thanks,
Girija

[2018-02-15 14:06] girijant opened #244 "Multiple root packages of external JAR/POM needs to be supported in Cucumber-User-Settings Preference page"
As of now  Cucumber-User-Settings Preference page only supports a single package name of external JAR/POM which contails all step-definitions classes. Multiple root packages of external JAR/POM needs to be supported with **Comma(,)** separated input in Cucumber-User-Settings Preference page.

[2018-02-15 14:43] girijant commented on #230
@brabenetz,
Fixed in 0.0.21-SNAPSHOT, Please retry by updating your plugin. So closing this ticket.

[2018-02-15 14:43] #230 closed

[2018-02-15 14:44] girijant commented on #234
@Flaburgan, @smrowley,
Issue got fixed in 0.0.21-SNAPSHOT, Please retry by updating your existing plugin. So closing this ticket.

[2018-02-15 14:44] #234 closed

[2018-02-15 14:44] girijant commented on #235
@Flaburgan,
Issue got fixed in 0.0.21-SNAPSHOT, Please retry by updating your existing plugin. So closing this ticket.

[2018-02-15 14:44] #235 closed

[2018-02-15 14:44] girijant commented on #244
Issue got fixed in 0.0.21-SNAPSHOT, Please retry by updating your existing plugin. So closing this ticket.

[2018-02-15 14:44] #244 closed

[2018-02-15 14:46] girijant commented on #243
@aleroot,
Issue got fixed in 0.0.21-SNAPSHOT, Please retry by updating your existing plugin. So closing this ticket.

[2018-02-15 14:51] girijant commented on #159
@boris779, @LorenzoBettini, @mgor,
Released 0.0.21-SNAPSHOT with some of major bgg fixes and Pull-Requests #240 and #239.
Please updating your existing plugin and retry.

Thanks,
-Girija

[2018-02-15 15:36] girijant commented on #232
@mohanrajmcad, @malikpathirana,
The specified repository at http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/compositeContent.xml is not our cucumber-eclipse-plugin repo.

You probably have to configure Eclipse to authenticate against your proxy. Open the preferences dialog and select **General** > **Network Connections**. Pick "**HTTP**", hit Edit and enter the details. I

[2018-02-16 09:08] PyvesB commented on #236
Hello @mikejramsey56,

I am facing the same issue. I believe this is an Eclipse bug (see [Bug 321189](https://bugs.eclipse.org/bugs/show_bug.cgi?id=321189), but I'm unsure whether an easy workaround could be implemented in Cucumber Eclipse.

Cheers,

Pyves

[2018-02-16 09:45] Flaburgan commented on #236
I do have the same problem too.

[2018-02-16 10:37] Flaburgan commented on #234
It works now, thank you very much.

[2018-02-16 10:45] Flaburgan commented on #136
@girijant any chance you can have a look at that issue? Is there anything I can do to help?

[2018-02-16 11:15] girijant commented on #136
@Flaburgan,
Please share issues in detail with current plugin version, proper use cases, snapshots, error logs(if any) and actual/expected behaviour for better understanding.

Thanks,
-Girija

[2018-02-16 11:28] girijant commented on #236
@Flaburgan, @PyvesB, @mikejramsey56,

From my ecllipse Version: Mars.2 (4.5.2),Build id: M20160212-1500 with instaleld Cucumber-plugin version 0.0.21, by default '**Enable Folding'** is ticked i.e. observed from **Preference>General>Editors>Structured Text Editors**.
 Now editing step in a feature file which extends beyond the right border. I scroll right to edit, but not seeing any auto scrolling

[2018-02-16 11:49] Flaburgan commented on #136
With the very last version (0.21 2nd minor fixes):

*Steps to reproduce:*
- Add a breakpoint to a step definition file
- In the feature file, Right click -> Debug as -> Cucumber feature
- Eclipse switch to the debug perspective
- The "debug" view is stopped on the breakpoint line

*Expected behavior:*
**Normal eclipse debug behavior:**
- Eclipse switch the current file from the feature file to the

[2018-02-16 15:04] ed-mann commented on #241
I tried the eclipse-cache clean from above and that did not fix my issue. With the uninstall -> reboot -> clear cache -> reboot ->install and that did not fix my issue.
So i then did the following:
Downloaded eclipse-jee-oxygen-2-linux-gtk-x86_64.tar.gz.
Extracted downloaded version
Started downloaded eclipse and pointed it to a new workspace.
Then installed cucumber-eclipse from Marketplace.
I wa

[2018-02-20 20:50] monochromata opened #248 "Editor could not be initialized with Before/After in StepDefinition"
I use Lambda step definitions like

[code]

The use of Before(...) and After(...) causes the following NullPointerException when trying to open the Cucumber-Eclipse editor:

[code]

The exception does not appear if I comment the Before(...) and After(...) declaration.

[2018-02-21 04:27] girijant commented on #248
@monochromata,
Please try with latest plugin version 0.0.21 and let me know if issue exists.

Thanks,
Girija

[2018-02-21 18:45] PyvesB commented on #236
@girijant I did a bit of investigation in order to be able to reproduce this issue on a brand new Eclipse installation (4.7.2 in my case) and workspace, with Cucumber-plugin version 0.0.21 installed.

It seems that in addition to having example lines extend beyond the right border, you also need to have a file extending vertically by a significant margin. I managed to reproduce the issue on both a

[2018-02-21 18:51] alice-0-kim opened #249 "Missing artifact errors in pom.xml"
Hi,

I am trying to create a new Maven project in Eclipse environment but couldn't build the project because of the errors arose while in the process. I suspect that it is to do with downloading cucumber-eclipse plugin, and I have the zip folder (cucumber-eclipse-plugin-0.0.21-SNAPSHOT) downloaded and unzipped in my local environment. I was wondering if it is the right folder to download and how I

[2018-02-21 19:45] monochromata commented on #248
I used the latest plug-in version 0.0.21.201802160922 available from Eclipse marketplace in Eclipse Oxygen.2

[2018-02-21 19:49] #249 closed

[2018-02-21 19:51] alice-0-kim opened #250 "Cannot complete the provisioning operation while installing Maven Integration for Eclipse"
Hi,

I failed to install Maven Integration for Eclipse due to the errors during the installation process.

Any help would be appreciated. Thank you.

![screen shot 2018-02-21 at 11 49 13 am](https://user-images.githubusercontent.com/28884850/36502055-9cebc7ca-16fd-11e8-90d9-e49db2582bf0.png)

[2018-02-21 21:17] monochromata commented on #248
https://github.com/cucumber/cucumber-eclipse/commit/131a9709f97cf285f73c9e5d3d9a1497492e1608 added a comment in [StepDefinitions.java:199](https://github.com/cucumber/cucumber-eclipse/blob/master/cucumber.eclipse.steps.jdt/src/main/java/cucumber/eclipse/steps/jdt/StepDefinitions.java#L199) that seems to hint at the cause of the problem.

[2018-02-22 04:17] girijant commented on #248
@monochromata,
I tried your initialize() in my setup with same 0.0.21 version, not seeing any error or exception stack in eclipse console.

Thanks,
Girija

[2018-02-22 04:26] girijant commented on #249
@alice-0-kim,
You have to install the downloaded cucumber-eclipse plugin(0.0.21 snapshot) zip in your eclipse as an archive. The error you are seeing in your pom.xml is due to configuration issue of your maven-settings. xml file instead of our plugin issue.

Thanks,
Girija

[2018-02-22 04:38] girijant commented on #250
@alice-0-kim,
It seems your eclipse already has m2e plugin, you are trying to reinstall m2e plugin again. Please check m2e plugin info from your eclipse plugin installation page.

Thanks,
Girija

[2018-02-22 19:33] monochromata commented on #248
Hm, maybe I should be more specific about the "The use of Before(...) and After(...) causes the following NullPointerException when trying to open the Cucumber-Eclipse editor": When I have a Stepdefinition class in my codebase that uses the Before(...) and After(...) methods in Java8 style and then use the Cucumber Editor to open a .feature file that is not already open, I see the mentioned stack

[2018-02-22 20:11] girijant commented on #248
@monochromata,
I really appreciate your analysis and suggestions. But I didn't see any error and stack trace in my development environment while opening feature file and by using above initialize() in my step-definition file. I am able to open my feature file successfully  without seeing any error and exception. Please share your both step-definition and feature file which would be great help to r

[2018-02-22 20:37] monochromata commented on #248
I created a minimal example project that yields the error for me. It is contained in the following zip file: [cucumber-eclipse-issue-248-projectToReproduceError.zip](https://github.com/cucumber/cucumber-eclipse/files/1749471/cucumber-eclipse-issue-248-projectToReproduceError.zip)

[2018-02-22 22:54] alice-0-kim commented on #250
Hi @girijant,

Thanks for your suggestion. I looked into the installation page, but I wasn't sure if it's been installed.
Here's the screenshot of it:
![screen shot 2018-02-22 at 2 49 27 pm](https://user-images.githubusercontent.com/28884850/36568733-ed36eab0-17df-11e8-89d1-99eaa196e3b0.png)
![screen shot 2018-02-22 at 2 49 43 pm](https://user-images.githubusercontent.com/28884850/36568738-f07345e

[2018-02-23 15:28] futrethegreat commented on #233
I am having same strange behaviour. Every time I change anything in the feature file, a warning is displayed even though syntax is correct; I have to close file and open again to have warnings off. Is a solution to this feasible soon?

[2018-02-25 04:20] ag001 opened #251 "Step does not have a matching glue code"
I am using Eclipse Neon 2.0 and Cucumber (Cucumber Eclipse Feature) plugin version is 0.0.21.201802160922

All of the steps display a warning "Step <step name> does not have a matching glue code"
I am not able to step into the step definitions due to this issue.

How to solve this? Thank you.

[2018-02-26 00:45] futrethegreat commented on #238
Suffered this as well...

[2018-02-26 16:11] Flaburgan commented on #238
You can fix that manually by clicking right -> run as -> run configuration and update the feature path.

[2018-02-26 16:13] Flaburgan commented on #251
Can you try to close and reopen the feature file, to reload the checker. If warnings are still there, please post the content of the feature file here.

[2018-02-26 16:32] ag001 commented on #251
@Flaburgan Thanks for your response. I have closed and reopened the feature file and opened other feature files, without any luck. Here is one of the feature files.

Feature: AddMailingAddress

@UDFID0087538 @DSTSFOII_901_10_1 @coffee
Scenario: DSTSFOII_901_10_1-Add Permanent Mailing Address: Verify that clicking the add button will display a section to add mailing address.
	Given I login to "cxo"

[2018-02-26 16:34] ag001 commented on #251
Here is the warning:

Description	Resource	Path	Location	Type
Step 'I click on addMailingAddress' does not have a matching glue code	AddMailingAddress.feature	/cxo/src/test/resources/features/ProfileAndServicing/PersonalDetails_MailingAddress	line 8	Unmatched step

[2018-02-26 23:43] futrethegreat commented on #238
Yes, I found that work arround but it will be more profesional if the IDE could do it automatically when any file is moved. Thank you for your advise! 👍

[2018-02-27 02:41] girijant commented on #238
@Flaburgan, @futrethegreat,
Already aware of this issue and this is the work around. Let me analyse first and if possible we have to fix it.

Thanks,
Girija

[2018-02-27 03:03] girijant commented on #250
@alice-0-kim,
Please find out by selecting Help > About Eclipse Platform >. From this dialog, click Plug-in Details to get a list of all installed plug-ins, along with vendor and version information. I hope you must have maven plugin i.e. m2e. If already installed no need to install it again. Just install maven in your system. Add it to your system environment variable. Point your maven settings.x

[2018-02-27 04:51] alice-0-kim commented on #250
Thanks for the suggestion! I'll close the issue now.

[2018-02-27 04:51] #250 closed

[2018-02-27 09:31] futrethegreat commented on #238
Thank you very much!

[2018-02-27 17:21] ag001 commented on #251
I noticed this in the error log everytime I press F3 (Find step):
**Unhandled event loop exception**

org.eclipse.e4.core.di.InjectionException: java.lang.NullPointerException
	at org.eclipse.e4.core.internal.di.MethodRequestor.execute(MethodRequestor.java:65)
	at org.eclipse.e4.core.internal.di.InjectorImpl.invokeUsingClass(InjectorImpl.java:282)
	at org.eclipse.e4.core.internal.di.InjectorImpl.i

[2018-02-28 05:56] arnina01 commented on #207
@girijant
I still get warning message(does not have a matching glue code) in feature file by installing cucumber-eclipse plugin- 0.0.19/0.0.20/0.0.21.
Do you have any ideals on this?

[2018-02-28 09:23] Flaburgan commented on #251
So is this step the only one not found? Is it defined in the same steps definition file than the others?

[2018-02-28 09:25] Flaburgan commented on #207
@arnina01 please only use the last version of the plugin. Can you please try to close and re-open the feature file, to relaunch the checker? If the warning is still there, can you tell us if all steps are indicated as non-implemented or only a few? Which ones?

[2018-02-28 15:33] ag001 commented on #251
None of the steps are matching. They are in different project which I have imported and have set the cucumber user settings to point to the respective package name.

[2018-03-01 05:34] girijant commented on #251
@ag001,
First build your project having step-definitions, add this project into your pom.xml of your current project as a dependency.Close all feature files from eclipse editor. Add root package name(s) in  cucumber user-settings preference page. Open feature file. If you use ctrl+space in your feature file, all steps in the jar/dependency can be populated.

Thanks,
GIRIJA

[2018-03-01 15:49] lshiv080374 commented on #231
hi, can someone guide... for me the cucumber icon looks very faded - in light green... is there a problem with installation? am new to cucumber-eclipse
![cucumber icon](https://user-images.githubusercontent.com/15176261/36854145-3afb32a2-1d3e-11e8-95b8-7c96468f264d.JPG)

[2018-03-01 17:01] girijant commented on #231
@lshiv080374,
Those above cucumber icons are not our plugin icons. You might installed different plugin. Please uninstall that plugin and install our plugin from eclipse marketplace. You will get proper icon.

Thanks,
Girija

[2018-03-01 20:40] aslakhellesoy commented on #231
@lshiv080374 my guess would be that it's the unofficial agileware plugin that has those faded non-standard cucumber icons.

Did you try uninstalling it?

[2018-03-01 20:42] lshiv080374 commented on #231
yes i uninstalled both of them and installed them from market place... still the same

[2018-03-01 20:48] aslakhellesoy commented on #231
@lshiv080374 uninstall the unofficial `org.agileware` one so you only have the official `cucumber.eclipse` one.

Any better?

[2018-03-01 21:26] lshiv080374 commented on #231
not yet... when i removed that, i got this No editor descriptor for id org.agileware.natural.cucumber.Cucumber when i tried to open a feature file....and the icon is completely gone, replaced by a small square red icon...am in the process of comparing my set of installed plugins with what my colleague has, install the ones i don't have and come back to this forum...may be with a positive news... t

[2018-03-02 17:03] girijant commented on #231
@lshiv080374,
Please retry with below steps :

**A. Uninstall both Plugin-Features From Eclipse:**
- Open Eclipse-IDE, Close all feature files opened in editor.
- Click **Help** > **About Eclipse** > **Installation Details**,
- Select both **'Cucumber Eclipse Feature(cucumber.eclipse)'** and **'org.agileware'**
- Click Delete

**B. Manually remove both Plugins and Features from Eclipse:**
As there

[2018-03-06 20:25] lshiv080374 commented on #231
Hi Girijant,
I tried doing all these... but in vain... so googled further, found this: https://github.com/cucumber/cucumber-eclipse/wiki/Eclipse-Market-For-Cucumber-Eclipse-Plugin - following this, i uninstalled the cucumber and natural plugins, opened artifacts.xml, removed all references to cucumber, saved it, opened eclipse once again, installed cucumber plugin, and boom, i got the icon i was l

[2018-03-06 20:35] lshiv080374 commented on #231
![icons](https://user-images.githubusercontent.com/15176261/37057014-07f7bc94-2154-11e8-8401-64a2a6cebedb.JPG)

[2018-03-07 06:06] girijant commented on #231
@lshiv080374,
Thanks. As I told before, it was eclipse cache issue. Anyway you can continue your cucumber automation.

[2018-03-07 09:05] Flaburgan commented on #248
I just hit this error. I confirm that removing the `Before()` call allows me to open the feature file.
It looks like to reproduce you need to use an attribute of the class inside the lambda:

The following code breaks the feature editor:
[code]

While the following code doesn't:
[code]

[2018-03-07 09:06] Flaburgan commented on #248
Btw, if the feature file is open and then the troubling code is written, everything works well. You need to close and reopen the feature file to see the editor crash.

[2018-03-08 21:07] #201 closed

[2018-03-08 21:07] Subash85 commented on #201
asd

[2018-03-09 03:58] abhilashmt opened #252 "How to run cucumber test from separate class other than test runner"
I want to run the cucumber feature file from a new class other than test runner class. Which method i can call for that and what parameters can i pass.

[2018-03-09 04:03] abhilashmt opened #253 "How to call an external method in cucumber framework from test runner after the cucumber.json file is generated"
I have created a custom report in cucumber using the cucumber json file creating after the execution of a test. How can i call the custom method function from my cucumber test runner after the json file got created.
I tried with @AfterClass but the json file is creating after this method only.

[2018-03-15 11:13] smtlab opened #254 "PHP - Behat support?"
Does cucumber-eclipse support Behat for PHP Developers?
Or is there a way we can make it work for eclipse PDT which support similar features offered for Java.
ex: Reusing Step-Definitions From Class-Path Dependency

[2018-03-15 13:11] eggz128 commented on #241
0.0.21’s editor is broken if there is step binding code that imports cucumber class keywords using:
`import cucumber.api.java.en.*;`

Individual class imports are fine though e.g.:
[code]

[2018-03-15 14:44] girijant commented on #241
@eggz128,
I already aware this issue. You should use fully qualified import statements Instead of generic import statements.

Thanks,
-Girija

[2018-03-15 15:31] ed-mann commented on #241
@eggz128 Thanks for the info, I was not aware of this. I just updated my class and now the editor works.

@girjant  Yes i would like to qualify the imports, but the lead developer wants to use generic imports. And he's using intelliJ so i'm not sure it has the same issue.

[2018-03-23 20:01] jbrower2 commented on #204
See the Natural plugin for (I think) the intended behavior:
https://github.com/rlogiacco/Natural/blob/master/org.agileware.natural.common/src/org/agileware/natural/common/JavaAnnotationMatcher.java

[2018-03-23 20:02] jbrower2 commented on #204
This is a great feature that a lot of people would like. It does the same thing as the F3 "find step" key mapping.

[2018-03-26 09:13] #159 closed

[2018-03-26 09:13] boris779 commented on #159
Sorry for the late response.

[2018-03-26 09:17] boris779 opened #256 "TestResulsts tree show always the first line of a feature file instead of feature title"
When using the CucumberJvm2SMFormatter with a other language  (german in my case) the TestResult Tree always shows the first line of the feature files (this would be in my case # language:de)

![image](https://user-images.githubusercontent.com/10259016/37897745-37c5b47e-30e7-11e8-9578-35205fdb6394.png)

But it should show the feature - title

[2018-03-26 16:56] desai-padmini opened #257 "Getting warning in the feature file -"Step does not have a matching glue code""
Hi all, I am new to cucumber-selenium and getting a warning message "step does not have a matching glue code" in my feature file. I have downloaded the latest cucumber eclipse plugin version-0.0.21 as mentioned in issue#207 but still getting the same warning message and my script runs fine but it is not reading the test data I have defined in my feature file.
I am using eclipse Neon version 3.0. C

[2018-03-27 08:44] #256 closed

[2018-03-27 08:44] boris779 commented on #256
Sorry wrong project :-)

[2018-03-27 10:36] amanmalhotragit commented on #207
Hi @girijant . I am new to Cucumber. I have written single feature file with 3 scenarios. When I have installed cucumber-plugin. Feature File is showing me error in each step as <b>"Step 'I am on XYZ login page' does not have a matching glue code"</b>. My project was running well prior to installation of cucumber-plugin.

Why I have used plugin then?
Need to use cucumber-plugin to visualise the fe

[2018-03-27 20:11] girijant commented on #257
@desai-padmini,
Did you specified steps in your  step definition file java file??

Thanks,
Girija

[2018-03-27 20:15] desai-padmini commented on #257
Thank you for getting back to me. Yes, I have defined code for the email address in the java file as follows
![image](https://user-images.githubusercontent.com/37809244/37992506-8be57cde-31d1-11e8-8d64-0ea3f00e5586.png)

I was expecting when the file runs to read email address - TX_reg1@test.com but it is not reading this input and passing the value when the script actually runs.

[2018-03-27 20:16] desai-padmini commented on #257
This is what I see after running my script.
![image](https://user-images.githubusercontent.com/37809244/37992622-dfd11efc-31d1-11e8-9b0b-3ee0152c72ac.png)

[2018-03-27 20:21] girijant commented on #257
Please try to remove double slashes before .com and close all the feature files and reopen the feature file.

Thanks
GIRIJA

[2018-03-27 20:37] girijant commented on #257
@desai-padmini,
Ignore my first comment and Move your 'features' folder containig feature files into src/test/resources folder and close all the feature files and reopen the feature file.

Thanks
GIRIJA

[2018-03-27 20:51] desai-padmini commented on #257
I am still getting the same error
![image](https://user-images.githubusercontent.com/37809244/37994247-932540f6-31d6-11e8-9028-0f7837dc531c.png)

![image](https://user-images.githubusercontent.com/37809244/37994292-bc1f73aa-31d6-11e8-827f-b3f78e74df21.png)

[2018-03-28 06:25] girijant commented on #257
@desai-padmini,
Rename 'features' dir from src/test/resources with 'StepDefinition' and close all the feature files and reopen the feature file.

Thanks
GIRIJA

[2018-03-28 08:16] laeubi commented on #257
I recently fixed some things in the area of stepdefintion parsing in java files, so do you have a chance to build the latest master and try if the problem is fixed with that version?
Have you tried to remove the space in front of your expression?

[2018-03-28 13:45] desai-padmini commented on #257
Thank you Girija for the sugestion but I am still getting the error.
![image](https://user-images.githubusercontent.com/37809244/38032626-b99de39a-3263-11e8-9d29-2885be9cb1e1.png)

Thank you Christopher for the suggestion. But I am not sure I understand what is to be done. Can you please explain in terms of which version and for what I should download. As suggested in issue#207 I downloaded latest

[2018-03-28 14:02] girijant commented on #257
@desai-padmini,
Please retry only by removing the space from '^ enters' by '^enters' from the @when annotation of your step definition java file.

Thanks,
Girija

[2018-03-28 14:14] desai-padmini commented on #257
Removed the space but still the same.
![image](https://user-images.githubusercontent.com/37809244/38034636-561de360-3268-11e8-8b4d-b539ef0fce1f.png)
![image](https://user-images.githubusercontent.com/37809244/38034662-616db614-3268-11e8-8f64-0edd251758e0.png)

[2018-03-28 16:39] girijant commented on #257
@desai-padmini,
Share your entire project as zip, I will look into it.

Thanks,
Girija

[2018-03-29 17:00] desai-padmini commented on #257
Hi Girija, Sorry for the delayed response. I restructured my project and now defined the feature file under src/test/feature and it is no longer throwing the warning message and also taking the test data that I have defined in my feature file.
![image](https://user-images.githubusercontent.com/37809244/38102138-fb1637ca-3347-11e8-9080-c7dce2b43e5a.png)

Earlier I had defined the feature file outsi

[2018-03-30 11:47] monochromata commented on #248
@girijant did the ZIP file in https://github.com/cucumber/cucumber-eclipse/issues/248#issuecomment-367814054 help to reproduce the error?

[2018-03-30 11:55] girijant commented on #248
@monochromata,
I only tried your initialize() in my setup with same 0.0.21 version, not seeing any error or exception stack in eclipse console. But didn't tried with zip files. I will look into me to your zip file too ??

Thanks,
Girija

[2018-04-02 16:05] CharanpreetHora commented on #232
Still not able to download cucumber plugin. Any idea how to integrate. All the proxy details are correct. Able to access all websites. All admin rights are there. Still struggling to download any plugin for cucumber with eclipse. Can someone help please?

[2018-04-03 04:34] ajayvinnu commented on #232
Try the bellow link. It works for me with Eclipse oxygen.3 it may also work for oxygen1/oxygen2
http://mrpotes.github.com/cukes-jvm-eclipse-plugin/update-site

[2018-04-03 13:40] aDistortion commented on #248
+1

[2018-04-05 15:51] BenGhost opened #258 ""Editor could not be initialized." on Eclipse Oxygen.2 (4.7.2)"
When i Open a feature file i have the message "Editor could not be initialized."
Actually, i installed the plugin "Cucumber Eclipse Feature"	0.0.21.201802160922
The exception :
[code]

[2018-04-20 15:05] lshiv080374 commented on #248
Hi Girijant, when i try to open a feature file in eclipse, i get "Editor could not be initialized" error... here are the details:
java.lang.NullPointerException
	at org.eclipse.jdt.internal.core.search.matching.MatchLocator.findIndexMatches(MatchLocator.java:275)
	at org.eclipse.jdt.internal.core.search.PatternSearchJob.search(PatternSearchJob.java:109)
	at org.eclipse.jdt.internal.core.search.Pat

[2018-04-20 15:06] lshiv080374 commented on #248
I did follow your post and refreshed cache

[2018-04-20 15:06] lshiv080374 commented on #248
still getting the same error.... kindly guide

[2018-04-21 13:34] girijant commented on #248
@lshiv080374,
Please sahre your project as ZIP with your eclipse version, so that I can debug with same setup.

Thanks,
-Girija

[2018-04-23 00:55] lshiv080374 commented on #248
sure, here it is Girijant
[BDDAutomationProject.zip](https://github.com/cucumber/cucumber-eclipse/files/1936303/BDDAutomationProject.zip)

[2018-04-26 00:10] lshiv080374 commented on #248
hi Girija, i uninstalled cucumber plugin and installed natural and am able to open the feature file... but i would request your help in solving this issue...

[2018-04-26 04:47] girijant commented on #248
Hi lshiv080374,
Sorry, I am quite busy with my release work. I'll definitely look into these issues in the leisure. Hope you can understand... :)

Thanks,
-Girija

[2018-04-26 07:07] akqaaditya opened #259 "Getting this issue while install plugin"
Unable to read repository at http://cucumber.github.com/cucumber-eclipse/update-site/plugins/cucumber.eclipse.steps.integration_0.0.21.201802160922.jar.
Read timed out

[2018-04-27 15:47] mikepotter1024 opened #260 "Bad link in readme.md instructions"
On the Code tab in the readme.md the 2nd bullet item the skeleton link doesnt exist gets a 404.

"After you install the Cucumber-Eclipse plugin, you can use it to run Cucumber-JVM. To do this, you will need to install all the libraries you want to use for Cucumber-JVM into your Eclipse project's build-path libraries. The likely candidates and their locations are in the download target at the **cuc

[2018-05-02 20:39] dinun commented on #172
I am having this problem as well, @JacksonBailey how did you manage to configure the plugin to find your steps? Are they groovy classes or scripts?

[2018-05-03 15:56] Flaburgan opened #261 "Editor could not be initialized, NPE at cucumber.eclipse.steps.jdt.JavaParser.getMethodBody(JavaParser.java:86)"
And here is the stack trace. I'm already aware https://github.com/cucumber/cucumber-eclipse/issues/241 but this is a different stacktrace:

[code]

[2018-05-03 15:57] Flaburgan commented on #258
Closing as a duplicate of #241. Thanks for reporting anyway.

[2018-05-03 15:57] #258 closed

[2018-05-03 16:07] Flaburgan commented on #261
The cause was that my steps class was not directly implementing En, but the parent class was.

[2018-05-09 04:14] Snehashish087 commented on #248
The same issue again, this morning, when I tried to open the eclipse and tried to open the feature file, I get an error as Editor cannot be initialized.
java.lang.NullPointerException
	at org.eclipse.jdt.internal.core.search.matching.MatchLocator.findIndexMatches(MatchLocator.java:288)
	at org.eclipse.jdt.internal.core.search.PatternSearchJob.search(PatternSearchJob.java:109)
	at org.eclipse.jdt.i

[2018-05-16 08:32] mcattini commented on #89
Just what I was searching for.  Running my runner file using Debug As works perfectly for me.  Thank you Jakub.

[2018-05-22 15:09] quanxavier commented on #241
I'm getting the following error when attempting to open the editor as well.

I've deleted and reinstalled the plugin several times on this version of Eclipse: Eclipse IDE for Java Developers
Version: Oxygen.3a Release (4.7.3a)
Build id: 20180405-1200

java.lang.NullPointerException
	at org.eclipse.jdt.internal.core.search.matching.MatchLocator.findIndexMatches(MatchLocator.java:288)
	at org.eclips

[2018-05-31 15:13] aslakhellesoy opened #263 "Features and step definitions are glued and working, but Eclipse shows warning for no step definition"
_From @osuser2018 on May 31, 2018 14:12_

All of my features and step definitions are working just fine.  But, in each feature, most if not all of the steps show a yellow underline warning with a message similar to this:  "No definition found for 'I log into the system'".  I'd like to get rid of this warning line as it confuses new developers coming onto the project.

What is crazy is that some st

[2018-05-31 15:17] osuser2018 commented on #263
I see no comment on the issue I logged here.   Did you mean to leave a comment or are you ignoring/deleting my issue?

[2018-05-31 15:37] johny2000uwb commented on #263
Be patient. Issue has been moved to correct Project. Could you provide a screenshot?

[2018-05-31 15:44] osuser2018 commented on #263
Gotcha.  Here's a screenshot of one of my features where you can see some showing the warning and some that do not...

![image](https://user-images.githubusercontent.com/39202294/40792280-9656a818-64c7-11e8-8aab-ee6b98862d4f.png)

Again, all of these steps map correctly to their matching step definition file.

Thanks!

[2018-05-31 17:03] johny2000uwb commented on #263
But this is not our plugin? This is Natural editor? Correct?

[2018-06-01 07:03] johny2000uwb commented on #263
Natural Plugin is not a part of this project. Please report the problem direct to Natural Plugin.

[2018-06-01 07:03] #263 closed

[2018-06-03 01:33] JacksonBailey commented on #172
@dinun they were Groovy classes for me. Also, worth mentioning, I was using cucumber-**java** annotations, not the cucumber-**groovy** closures. *(The "normal" Java one, not Java 8 version.)* I haven't used this plugin in a long time but I specifically remember that it only worked with cucumber-java annotations on "normal" Groovy methods in classes..

[2018-06-05 05:20] amanmalhotragit commented on #207
@bryanjb9 . It's working now. Thanks

[2018-06-05 07:50] johny2000uwb commented on #204
https://www.ibm.com/developerworks/opensource/tutorials/os-ecl-commplgin2/os-ecl-commplgin2-pdf.pdf
This is tutorial, what can help. We have to implement the Hyperlink.

[2018-06-06 09:48] TEJASWA14 commented on #241
@eggz128 Thanks, I was also facing the same issue. but got answer here.

[2018-06-06 13:05] osuser2018 commented on #263
I believe I fixed the issue by adding the specific location of the feature files and the specific location of the step definitions to the build path.  Previously, I had the only the folders one level up in the build path.  In other words, I had "test/java" only and now I have added "test/java/stepDefinitions".  I also added my features folder as well into the path (i.e., "test/features").

[2018-06-08 13:14] Ganeshankarthik opened #266 "Issue in Photon Release Candidate 2 (4.8.0RC2) with cucuumber version 0.0.21.201802160922"
Hi ,

when i create a new Maven project i am able to open the feature files but if i add my dependencies the same feature file throws error as "Editor could not be initialized".

Below are the screenshot of my projects and attached my POM.xml if any compilation issue.

![screenshot1](https://user-images.githubusercontent.com/24904232/41159817-60a1aeae-6b4b-11e8-8516-4c14635d0f3c.PNG)
![screenshot2

[2018-06-08 13:56] Ganeshankarthik commented on #266
Adding the below issue also when saving the feature
An error has occurred. See error log for more details.
Unexpected internal error near index 45
^Changes made to the User Id should be saved\
![internalerror](https://user-images.githubusercontent.com/24904232/41161850-c00a0110-6b51-11e8-95bc-0360f802b53c.PNG)

[2018-06-08 14:45] AntonRachytski opened #267 "Editor error while trying to use Lambda together with Cucumber Expressions"
Hi.
Tried to use the newest Java8 lambda expressions, and the cucumeber-expressions like {string}
and got the editor exception:
[code]

I've checked carefully my config - Eclispe Version: Oxygen.3a Release (4.7.3a)
Build id: 20180405-1200

 java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) Client VM (build 25.144-b01, mixed mode)

project is set-up to

[2018-06-08 14:46] AntonRachytski commented on #267
Feature File:
[code]
Also I've tried the examples code, but got the same problem

[2018-06-11 09:54] saikat047 commented on #267
Does your example annotation looks like this:
@Given("^I try to {string} it$")

Removing the ^ and $ may fix it,
@Given("I try to {string} it")

At-least it fixed a similar exception stack-trace I was having.

[2018-06-11 10:14] AntonRachytski commented on #267
Cucumber Java 8 doesn't require Annotations,  so it looks like
`When("I try to {string} it", (String string) -> {
    		 System.out.println("got smth" + string);
    	});
`
So, unfortunatelythis is not the case. Anyway, thanks for trying , **saikat047**

[2018-06-11 12:13] djavvadi commented on #257
I am facing the same issue.

[2018-06-13 12:18] Raji-Tester opened #268 "cucumber feature file not working with java 10"
After comeup with this "Cucumber - Feature File - nothing shows up in editor #220"issue feature editer working  ,but i got another promblem to run feature file ,try to run feature "Run as " option but nothing happened ,console display the message "No consoles  to display this time  "please help me to salve the issue

[2018-06-18 14:02] akshaykamath commented on #260
This  issue is resolved.

[2018-06-18 14:02] #260 closed

[2018-06-19 17:40] vishy-maverick opened #270 "Eclipse- Oxygen 3 A (Oxygen.3a Release (4.7.3a))is not supporting cucumber"
I have installed cucumber . infact all feature files appear in the cucumber feature file format

but GIVEN,WHEN,THEN  whole statements are appearing in Red texts and when i press F3 by selecting any of the GIVEN.WHEN, THEN statements , it's not navigating to respective step definition files.

[2018-06-22 14:20] davidgenrich opened #271 "Feature Request - add JavaDoc to step"
![step_javadoc_example](https://user-images.githubusercontent.com/5230597/41781841-5bb6f24e-75ed-11e8-818f-c9e090e0b7af.jpg)
Didn't find anyplace to send a feature request, so adding this as a issue.

I see that you know show the Step, Source File, and Line number where a Step is defined.  That is great.

Would love to see a feature were the JavaDoc for the Step is also shown.  That would make Cuc

[2018-06-25 07:04] girijant commented on #271
@davidgenrich,
Thanks for the new request. We are considering this as a new feature.

Thanks,
-Girija

[2018-06-25 07:13] girijant commented on #268
@Raji-Tester,
Please share your problems with detail snap-shots along with Cucumber-Plugin, Eclipse and java version.

Thanks,
-Girija

[2018-06-25 07:17] girijant commented on #241
@eggz128,
Please **DO NOT use Generic import Statements** in your step-definition file. You should use F**ully Qualified import statements** instead of generic import statements.

[2018-06-25 07:21] girijant commented on #204
@justrad, @jbrower2, @johny2000uwb ,
Thanks for the new feature request. I will look into this feature very shrotly.

Thanks,
-Girija

[2018-06-25 07:33] girijant commented on #207
Thanks guys for your quick support towards the ticket. Let's make the best cucumber-plugin for eclipse platform.
Happy Cucumber Automation !!!
Thanks,
-Girija

[2018-06-25 07:57] girijant commented on #254
@smtlab,
As of now this plugin doesn't support Behat for PHP Developer. Currently this plugin is only focusing on Gherkin-Java in eclipse-platform by using eclipse JDT. So you may concern to our admin for the separate project/trunk i.e. cucumber-eclipse-php.

Thanks,
-Girija

[2018-06-25 12:21] eggz128 commented on #241
@girijant
I understand that from your earlier comment. There's no need to tell me again (not sure why you mention me now) :)

Would it be worth adding a note to the release notes/wiki stating this as its clearly unexpected behaviour for those upgrading from 0.0.19 (where generic imports worked)?

[2018-06-27 05:11] IshaSingh15 commented on #232
I can not install the cucumber from eclipse either using 'install new software' or using market place. I have tried to add cucumber jars like junit, core, java, gherkin, html, dependencies etc to eclipse. also added the cucumber jars from below links to plugin folder in eclipse but still the feature files are not recognised :(
https://github.com/cucumber/cucumber-eclipse/blob/master/cucumber.eclip

[2018-06-27 07:53] punarjit-singh opened #272 "Error - Artifact not found - 0.0.22.201806032001.jar"
Hi @there

I am not able to install this plugin on the following eclipse version:

**Eclipse Version**
Eclipse IDE for Java Developers
Version: Oxygen.3a Release (4.7.3a)
Build id: 20180405-1200

**Error Details**
'Installing Software' has encountered a problem:

An error occurred while collecting items to be installed
session context was:(profile=epp.package.java, phase=org.eclipse.equinox.intern

[2018-06-27 14:44] jkuester commented on #272
I am seeing the same issue on the same version of Eclipse.

The only difference is that I have an older version of the cucumber-eclipse plugin installed and I see this error when I try to update it.

[2018-06-27 16:28] johny2000uwb commented on #272
@girijant  please let me know, what i did wrong.

[2018-06-27 16:33] girijant commented on #232
@IshaSingh15,
Thanks for your ticket. I fixed the issue and also updated our cucumber-plugin version in [Eclipse-Market-Place](https://marketplace.eclipse.org/content/cucumber-eclipse-plugin) with the latest release i.e. **0.0.22 (0.0.22.201806032001)**.
Please refer our Eclipse-Market-Place URL : https://marketplace.eclipse.org/content/cucumber-eclipse-plugin for cucumber-eclipse plugin installat

[2018-06-27 16:33] #232 closed

[2018-06-27 16:46] girijant commented on #272
@punarjit-singh , @jkuester ,
Thanks for your quick ticket. I fixed the issue in our repositroy for the latest release i.e. **0.0.22 (0.0.22.201806032001).**
Also updated our cucumber-plugin version in Eclipse-Market-Place with the latest release i.e. 0.0.22 (0.0.22.201806032001).

Please refer our
[Eclipse-Market-Place URL](https://marketplace.eclipse.org/content/cucumber-eclipse-plugin)
OR
[Plug

[2018-06-27 16:46] #272 closed

[2018-06-27 16:56] girijant commented on #272
@johny2000uwb,
You wrongly placed all 0.0.22-plugin-jars into 'update-site/feature' folder of 'gh-pages' branch. You MUST have to update the 'site.xml' file with the latest feature-version.

[2018-06-27 18:57] johny2000uwb commented on #272
@girijant Ok, i see. We should update the contribution doku.

[2018-06-28 19:42] edgarechm commented on #268
I found out that the problem is compatibility with Java 10. After I updated my java from version 8 to 10, when opening a feature file, the Eclipse editor displays "empty". I can only open the file with the "text" editor.

I had to delete all Java from the computer and downgraded to Java 8, now the plug in is working.

[2018-07-07 22:01] raj2k0072000 commented on #198
I am having the same issue. When I run it as Cucumber it works fine but when I run it as a Junit Runner Class it fails. Class Not Found and it is not able to find the Runner Class.

[2018-07-08 08:53] girijant commented on #198
@raj2k0072000 , @sanjay1984,
This issue is non-reproducible in our environment. It seems some configuration issue in your setup. Please try with below setup, it may work :
**a. Add below Cucumber-JVM-Junit JAR into your class-path or maven-dependency:**
`https://mvnrepository.com/artifact/io.cucumber/cucumber-junit`
**b. Import as below in your Runner class:**
[code]
**c. Update Runner class with

[2018-07-11 03:14] Chanjal commented on #206
Wonderful. This worked.

[2018-07-11 06:36] johny2000uwb commented on #271
Javadoc for Gherkin Steps? I though, that the goal of this approach ist to have a step so written, that i do not need some other documentation.

[2018-07-11 12:05] davidgenrich commented on #271
When you have 1000’s of steps (high level steps, not low level steps), spanning multiple applications that all interconnect, knowing what step does what is helpful.  But I do see your point.

From: Zdenek Jonas [mailto:notifications@github.com]
Sent: Tuesday, July 10, 2018 11:36 PM
To: cucumber/cucumber-eclipse <cucumber-eclipse@noreply.github.com>
Cc: David Genrich <david.genrich@e2open.com>; Men

[2018-07-18 18:27] imkev opened #273 "F3 to goto StepDef is time consuming"
I have updated Eclipse from Neon to Photon (4.8.0), and the Cucumber-Eclipse Plugin I used is 0.0.22.201806032001, every time I clicked F3 on one step in feature file, it's really very time consuming to jump to the step in StepDef file.
The release date for Photon and Cucumber plugin looks like in the same month. Is Photon 4.8.0 officially supported yet or is there anyway to fix or bypass this iss

[2018-07-18 20:52] johny2000uwb commented on #273
I have add the settings, you can set the path for your steps. It helps.

[2018-07-19 00:03] imkev commented on #273
Thank you Johny, could you pls. explain how to add such a setting or set the path?

[2018-07-19 06:44] johny2000uwb commented on #273
Preference, Cucumber, There is a path for it.
![01](https://user-images.githubusercontent.com/17253582/42925863-e990bab2-8b2f-11e8-9bf5-d828a74c6132.png)

[2018-07-19 09:03] PyvesB commented on #270
Hello @vishy-maverick ,

Shouldn't the keywords be in capitalised lower case? For instance "Given", "When", "Then", etc., as specified in the [documentation](https://docs.cucumber.io/gherkin/reference/#keywords).

Cheers,

Pyves

[2018-07-19 13:56] imkev commented on #273
Thank you for the instruction Johny, I put 'com.xxx.am.stepdefn.persona' there, where the stepdefinition files or sub-packages there, but it does not work.

[2018-07-23 09:58] tomaugs commented on #273
I did the same configuration and it is still long to match the glue.
(maybe a bit better with the specific package configuration but still longer than 0.0.20 version)

[2018-07-23 11:41] tomaugs commented on #267
I also have this issue with cucumber 3 expressions but without java8 lamba (classical annotations glue):

eclipse version: Oxygen 2 Release (4.7.2)
cucumber plugin version: 0.0.20 and 0.0.22

--- java
java.util.regex.PatternSyntaxException: Illegal repetition near index 32
I set the name of decision maker {int} for portfolio {string} to {string}
                                ^
	at java.util.rege

[2018-07-31 12:31] pratushm commented on #204
Try installing "Natural" from eclipse marketplace.
1. Just search for keyword "Cucumber" in the marketplace, there would be a plugin named "Natural", install it and restart the eclipse.
2. Now from project tree open your feature file with "Cucumber Editor".
3. Control + Click and you are good to go.

[2018-07-31 15:06] Hugale12 opened #274 "Steps definitions"
Hi everyone !

I have a problem when i lunch a feature :  right click -> run as -> cucumber feature

this return to me that in console :

[code]

But i don't understand, cucumber use annotations no ?    @Given etc...

[code]

So what's the mistake ? How writte correctly that ?

Thx's a lot for help me =) !

[2018-08-01 04:16] girijant commented on #204
Not recommending to install other plugins for cucumber. Our plugin may not behave properly. You may  loose our plugin features.

Thanks,
~Girija

[2018-08-01 07:30] Hugale12 commented on #274
I have finally found, just read the doc ... sorry

[2018-08-01 07:30] #274 closed

[2018-08-02 07:08] ouryperd opened #275 "Add Groovy support"
When linking feature files to steps, or when creating a new step definition, the plugin expects src/test/java  packages/directories, and .java extentions. Please allow for Groovy projects too.

[2018-08-02 14:57] jelaby opened #276 "Plugin not suggested in Marketplace for .feature files"
If you open a .feature file without any supporting plugins, Eclipse informs you that there are Marketplace plugins available that support the file extension. If you go to the Marketplace, the only extension shown is the "Natural 0.7.6" plugin.

I think that this might be because the Natural plugin is tagged with `fileExtension_feature`, which is picked up by a search for `fileExtension:feature`.

[2018-08-05 06:16] SaptakBagchi commented on #198
**I am getting the same error:**

**Runner:**

package runner;

import org.junit.runner.RunWith;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(
		features = "features",
		glue = {"classpath:/com.MavenCucumber.cucumber/src/test/java/stepDefination"}
		)
public class TestRunner {

}

Error:

class not found in the selected projec

[2018-08-07 07:41] thanhvc commented on #241
Following the answer here. It's fine!

[2018-08-08 17:34] ranmatrix commented on #257
Can you try the following
Move Feature file under -->src/test/resource <feature files>
Move step definition file under --> src/test/java <definition file with your package structure>
Rename your definition file as StepDefinitionSubmitBCLoanApplication.java

The above worked for me...

[2018-08-13 10:58] RaviShankarPandey commented on #241
@eggz128 Thanks man. This is really funny issue.

[2018-08-18 13:40] Anand093 commented on #204
Hi @ilanpillemer,

How can i get control-click or command-click to open the step definition declaration from the feature file?
Any help?

Thanks,
Anand

[2018-08-24 14:43] johno1985 opened #277 "Add support to show each step definition in the Outline panel"
Since migrating our step definitions from methods to lambdas, we can no longer see the step definitions in the class Outline panel. It would be nice them in the Outline panel, similar to how you see scenario definitions in the feature file

[2018-08-25 10:05] dprodigalson commented on #267
Is there any update on this issue ? please let me know if there any workaround for this issue. really annoying issue...

[2018-08-29 11:26] girijant commented on #204
@Anand093,
Already considered as a New ferature request and looking into it.
You may jump to the step definition declaration by pressing F3.

Thanks,
~Girija

[2018-08-31 03:02] chaxshet commented on #267
I am experiencing this same issue when I upgraded my cucumber-jvm from 2.8 to 3.0.2

But when I applied a work around (enclose with "[]" the "{}"), I can now open and view the feature files. But the problem, it detects the feature steps we modified on definition as not implemented.

Any fix on this issue?

[2018-09-03 16:44] ayush880 commented on #52
Follow the steps given in the below link:
http://toolsqa.com/cucumber/install-cucumber-eclipse-plugin/

[2018-09-12 08:17] cranphin opened #278 "Failure on valid syntax in feature files"
This is a valid string for cucumber:
"I enter the initial password {string} and confirmation {string}"

But with cucumber-eclipse-plugin-0.0.22-SNAPSHOT.zip it fails:
[code]

I guess it tries to parse it as Java regexp, then fails, and doesn't also try it as Cucumber expression.
See also: https://docs.cucumber.io/cucumber/cucumber-expressions/

[2018-09-15 12:09] jkuester opened #279 "Autoformat Indentation Preferences"
First, thank you for all the work on a great plugin!

When autoformatting a .feature file, the indentation style is two spaces ("  ").  I am wondering if this is a universal Cucumber/Gherkin standard or would tabs, four spaces, etc be acceptable?

I see in PrettyFormatter.java the two space formatting is just hard-coded in.  Would you consider accepting a pull request to add preferences to allow c

[2018-09-18 09:40] sumit1281 commented on #206
I encountered a similar problem...however Eclipse Luna can't connect to http://download.eclipse.org/eclipse/updates/4.7/ ..Tried other versions ..no success..any help pls

[2018-09-18 11:46] gilesn opened #281 "Very slow opening feature file"
It's taking 35s to open a 2k file with 1 feature having 2 scenario outlines.

Using Eclipse Photon 4.8 20180619-1200 and Cucumber Eclipse Feature 0.0.22.201806032001

[2018-09-20 18:11] carlduranleau commented on #281
Same thing here. I had this issue with Oxygen and Photon. There's no log while waiting for the .feature file to open. It just seems to wait for something that never happens. I've done all the updates without any success. I was running Cucumber plugin 0.18 and I tried updating to the latest 0.22, but the behavior is exactly the same.

I'm running Ubuntu 18.04.1

[2018-09-20 20:31] gtinker85 commented on #206
I was able to install the _Eclipse PDE Plug-in Developer Resources_  that PyvesB mentioned by using the Eclipse Marketplace in the IDE.  Thanks PyvesB for the tip.

[2018-09-22 13:17] #83 closed

[2018-09-23 21:08] jkuester commented on #91
Closed by https://github.com/cucumber/cucumber-eclipse/pull/280

[2018-09-23 21:08] #91 closed

[2018-09-25 22:00] qvdk commented on #278
Duplicate of #267

[2018-09-26 07:07] Dapangma opened #282 "Internationalization (i18n) not recognized"
I am trying to use Gherkin in French, which is supposed to be supported.
But the term 'Fonctionnalité' is not recognized ; Cucumber Eclipse says missing 'Feature'.
![naturaleclipsefrench](https://user-images.githubusercontent.com/13729452/46062827-4a7a7180-c16b-11e8-861b-2a5dd43a7fb2.png)

[2018-09-26 11:32] girijant commented on #281
@gilesn,
Let me check this issue and will update soon.

Thanks,
-Girija

[2018-09-26 13:11] wattle9 opened #283 "Eclipse - Cucumber - generate step definitions from .feature file"
Hi, I have created a Java Script project to implement Protractor scripts and it works fine. I need to implement Protractor scripts based on Cucumber framework. I have downloaded all required Cucumber plugins.

I have done "test.feature"

#features/test.feature
Feature: Running Cucumber with Protractor
    As a user of Protractor
    I should be able to use Cucumber
    In order to run my E2E tests

[2018-09-26 14:11] carlduranleau commented on #281
Just to add information to the case, when trying to open a .feature file, or use the 'Find step' option, Eclipse is taking a complete CPU core at 100%. My PC is an i7-4820K with 16gb of RAM, so the hardware configuration shoudn't be a problem.

[2018-09-26 14:22] jkuester commented on #283
I think the easiest way to generate the step def snippets would be to just execute your feature with cucumber-js.  For all of the missing steps, it should print a snippet to the console.

I have not done it before, but it looks like you can use some arguments to control various details about the generated code: https://github.com/cucumber/cucumber-js/blob/master/docs/custom_snippet_syntaxes.md

[2018-09-26 18:58] gilesn commented on #281
OK thanks

On Wed, 26 Sep 2018, 1:32 pm Girija Prasad Panda, <notifications@github.com>
wrote:

[2018-09-27 01:11] wattle9 commented on #283
I have seen how to generate step definitions for Java projects in Eclipse.But, I didn't come across a way to do for Java Script projects.I am not sure whether this facility is in Eclipse.

[2018-10-03 08:12] Silverhornet opened #286 "F3 - Find Step does not work if the plugin fails to interpret a step definition regex"
After upgrading from cucumber plugin version 0.0.16 to 0.0.22, we have consistently experienced that the function Find Step (F3) fails to find the related step definition. After som investigation it has turned out that we get an error when the Cucumber plugin is parsing through our step definitions. The cause seems to be that it is unable to understand Atomic Grouping in the regex e.g. "(?> sone t

[2018-10-03 22:55] qvdk commented on #283
I think @wattle9  is talking about the quick fix feature.
You can access it after you write new steps in a feature file. Then, the markers panel shows the missing glue codes.
![screenshot from 2018-10-04 00-50-49](https://user-images.githubusercontent.com/6142398/46443913-deea6280-c76f-11e8-96bc-11bfcf5c24c3.png)

![screenshot from 2018-10-04 00-45-22](https://user-images.githubusercontent.com/614

[2018-10-05 02:34] Sgnanagu commented on #232
Hi Girijant,

I am trying to download Cucumber plugin in my machine in Eclipse Photon IDE, But I am getting this error "Cannot complete the install because one or more required items could not be found. Software being installed: Cucumber Editor 0.7.6.201505100000 (org.agileware.natural.cucumber.feature.feature.group 0.7.6.201505100000) Missing requirement: Cucumber Editor 0.7.6.201505100000 (org.a

[2018-10-05 09:06] girijant commented on #232
@Sgnanagu,
After seeing your error message, I feel you are downloading wrong Cucumber-eclipse plugin version i.e. observed from below your above message : **Cucumber Editor 0.7.6.201505100000 (org.agileware.natural.cucumber.feature.feature.group 0.7.6.201505100000) Missing requirement: Cucumber Editor 0.7.6.201505100000 (org.agileware.natural.cucumber.feature.feature.group 0.7.6.201505100000)**. W

[2018-10-05 20:43] prithviraaj commented on #257
Keep the Feature file in the resources folder. If you have changed anything in feature file like space, tab etc. then close the feature file and then open it. The warning messages will gone. I just did the same and now its working fine for me.

[2018-10-15 21:57] broun7 commented on #281
I have the same experience with when using cucumber plugin with eclipse Photon.
Opening feature file: Takes along time, roughly > 30 secs.
Find step: Multiple minutes.
During the entire time the eclipse is unresponsive.

[2018-10-15 22:07] karypid commented on #200
Are your step definitions in the same project as the cucumber feature?

I found that if the step definitions are in a separate project, F3 does not work.

So, if you have 2 projects "specifications" and "steps" with your feature files in the former and the set definitions in the latter, then F3 will not work...

[2018-10-15 22:18] NuttBoxer commented on #200
Same project, but I moved over to Intellij over a year ago, so can't comment on if it still reproduces.

[2018-10-15 22:29] karypid opened #287 "Step definitions are only matched against glue code in the same project"
[multiproject-stepdefs.zip](https://github.com/cucumber/cucumber-eclipse/files/2480820/multiproject-stepdefs.zip)

As per the attached example, step definitions whose glue code is in a separate project from the feature file are not matched.

When the preference page fore user settings has specific package names defined, then the entire classpath should be scanned for possible glue code to be match

[2018-10-15 22:31] karypid commented on #200
Either way, I've added and example and opened #287

[2018-10-17 00:15] rajkon commented on #281
In spite of these nice configuration I too face the same issue. It is so slow (>30 seconds) in opening feature file in Eclipse Photon. 2.)  Even if you click on tab that has feature file already open it takes the same amount of time. 3.) Even if you click a feature file directly in the Project Explorer it still takes the same amount of time.

Intel Core i7  -4800MQ CPU @ 2.70 GHz 2.69 Ghz
32 GB RA

[2018-10-18 12:47] robelgado commented on #232
I cannot access this repository again -- seeing the same error that has been described here in the past. "could not find https://cucumber.io/cucumber-eclipse/update-site"

[2018-10-18 13:02] Jalaliel commented on #281
I had the same problem and that was because I had a huge project with many different files. So the plugin was trying to scan them all, hence the slow opening. Indicating more precisely where the step definitions are solved the problem for me
![image](https://user-images.githubusercontent.com/26480018/47156141-be311980-d2e6-11e8-987e-2a6f9a850d2b.png)

[2018-10-18 18:57] rajkon commented on #281
@Jalaliel  can you please give an example as well.

[2018-10-18 18:58] rajkon commented on #281
@Jalaliel can you please give an example as well.

[2018-10-19 08:13] CandyLuWang commented on #281
Hi, I had same issue here, and all the automation test cases are written in Cucumber, now this issue really caused low work efficiency in my team. Could you please check this issue? Thank you very much.

[2018-10-19 08:28] CandyLuWang opened #288 "Download a specific version"
Hi,
Could anyone please let me know how can I download a specific version of cucumber plugin? Since with the latest cucumber plugin, open a feature file is super slow. Thank you very much.

[2018-10-23 03:48] girijant commented on #232
@robelgado,
Let me check and test in my environment.

[2018-10-24 15:21] Jalaliel commented on #281
You just need to write in the box the name of the package where your step definition is (the smaller the package is, the faster the .feature files will open). I can't post you what works for me...

[2018-10-25 02:42] automationsortie commented on #281
@Jalaliel , can you please give an example package to write in textbox. suppose there is package named stepDefinitions under which all step definition files are there thus we need to write stepDefinitions  in textbox, thats all?

[2018-10-25 02:48] automationsortie commented on #281
Latest cucumber plugin is trouble some, folks anybody has got solution to install previous version where this textbox is not available and was working fine, this textbox is introduced in this 0.0.22 release only.
![image](https://user-images.githubusercontent.com/42842592/47472995-5d499a00-d82e-11e8-872c-d30987c3ee8e.png)

[2018-10-25 07:57] Jalaliel commented on #281
@automationsortie yes that's all for me. And f3 works  with my workspace

[2018-10-25 07:58] shimanprateek commented on #232
@girijant,
I am also getting the same error.Not able to install using "https://cucumber.io/cucumber-eclipse/update-site".

[2018-10-25 08:02] shimanprateek commented on #232
@girijant,
When I navigated to  "https://cucumber.github.io/cucumber-eclipse/update-site/content.xml" is throwing 404 error. could that be an issue? I need to resolve it urgently. Any help will be highly appreciated

[2018-10-25 08:11] johny2000uwb commented on #281
I have add this box. The problem with slow open the file has been add in version 21. I have add feature with this box into version 22. Unfortunately, i have now no time to improve this plugin, but this can help.
The Problem with speed has been made with this PR
https://github.com/cucumber/cucumber-eclipse/pull/255/commits

[2018-10-25 18:50] Sgnanagu commented on #232
Hi,

I tried to install cucumber plugin as mentioned in your site, I am getting
this below message. Guide me to install right plugin.
[image: image.png]
Thanks
Saranya.

On Thu, Oct 25, 2018 at 4:02 AM shimanprateek <notifications@github.com>
wrote:

--
*Thanks & Regards,*
*Saranya Swamynathan*

[2018-10-26 15:07] acheaito commented on #267
Just a note that Cucumber does not accept [] in place of {}, so you'll need to change them back before rerunning the tests.

[2018-10-26 16:17] qvdk commented on #267
Yes, but at least this lets open the file.
I make a PR to fix it #285 This let me edit the file without workaround.

[2018-10-26 18:53] jkuester commented on #288
I believe you can just pull down older versions of the plugin here: https://github.com/cucumber/cucumber-eclipse/tree/master/cucumber.eclipse.download/download

To install the older version in Eclipse, you would need to download and unzip the plugin.  Then in Eclipse navigate to Help > Install New Software.  In the "Work with:" box enter the path to your unzipped plugin folder (e.g. file:/C:/Users

[2018-10-29 12:07] girijant commented on #232
Guys,
Let me check and will fix this issue asap.

Thanks,
-Girija

[2018-10-29 13:11] gilesn commented on #281
Thanks @Jalaliel, adding the step defs specific package in the text box effectively solves the performance issue.

[2018-10-29 14:29] Silverhornet commented on #281
Unfortunately the fix is only applicable, under the assumption that all step definitions are located in the same name space. When the step definition of your projects are distributed under roughly 40 different name spaces, this does not do much good.

[2018-11-02 02:48] asmita4413 commented on #257
@prithviraaj  thanks
I followed the same steps and working fine for me

[2018-11-05 07:55] laeubi commented on #282
Can you provide an example feature file that cause this?

[2018-11-05 07:58] laeubi commented on #287
Since we have the same issue, I'll take a look at it, thanks for the example

[2018-11-05 12:01] laeubi commented on #288
@CandyLuWang Can you provide a sample project that demonstrate the "super-slow" opening?

[2018-11-12 15:40] arslantx commented on #233
I found the solution for changing the highlighting color.
Window >> Preferences >> General >> Editors >> Text Editors >> Annotations >> Unmatched step error. Change the Text as Highlighted color from here to different color.
But can't speak about 2nd problem as mine automatically updates once matching step is defined.

[2018-11-13 16:30] #279 closed

[2018-11-13 16:31] #286 closed

[2018-11-15 16:58] qvdk commented on #276
I don't know how Eclipse Marketplace works to reference plugin support in function of a file extension.
By comparing the Natural plugin definition, I suppose the cucumber-eclipse plugin should have a `documentProvider` :

[code]

[2018-11-17 11:40] qvdk commented on #282
I can reproduce this issue with the following sample. Nor the syntax highlighter, nor the lexical parser seem to recognize the translated gherkin file.

**French keywords are not highlighted:  `Fonctionnalité`, `Scénario`, `Et`, etc.**

![screenshot from 2018-11-17 12-19-20](https://user-images.githubusercontent.com/6142398/48660529-4e3bbd80-ea63-11e8-85b1-d1d8b841859c.png)

**Erroneous alert**

!

[2018-11-19 23:33] qvdk commented on #277
Are you talking about this ?

![peek 2018-11-20 00-28](https://user-images.githubusercontent.com/6142398/48741411-46df0480-ec5b-11e8-8c9d-57a37c5ecf60.gif)

In this case, this is not a function of this plugin. This is managed by the eclipse JDT plugin with its Java editor.

[2018-11-20 22:49] qvdk commented on #267
Resolved with #285

[2018-11-20 22:49] #267 closed

[2018-11-22 00:05] #281 closed

[2018-11-22 01:14] qvdk opened #291 "Support custom parameter type"
Cucumber expressions are supported since #285

However, only built-in parameter types are supported.
For example: `I have a {word} ball`.

There are other built-in parameter types like `{int}`, `{float}` or `{string}`. The full list of [built-in parameter types](https://docs.cucumber.io/cucumber/cucumber-expressions/) is available in the cucumber docs.

But cucumber expressions allow to supply you

[2018-11-22 20:36] qvdk commented on #278
Fixed with PR #285

[2018-11-22 20:36] #278 closed

[2018-11-23 22:32] #287 closed

[2018-11-23 23:36] qvdk commented on #282
Finally, I can not reproduce. I forget the comment ` language: fr` in my previous sample.
The i18n works for me.

Eclipse
Version: 2018-09 (4.9.0)
Build id: 20180917-1800

Cucumber Eclipse Feature: 0.0.23.201811220126

![peek 2018-11-24 00-33](https://user-images.githubusercontent.com/6142398/48962471-acdfca80-ef80-11e8-916c-980dcb3d277e.gif)

[2018-11-23 23:58] qvdk commented on #276
@girijant can you add the tag `fileExtension_feature` to the plugin description on Eclipse Marketplace ? Thank you !

[2018-11-24 00:18] qvdk commented on #266
Could you provide a sample project for which the issue occurs please ?

[2018-11-24 02:10] qvdk commented on #241
Hi @WesternGun
The support of cucumber expression was added #285
However with a limitation about custom parameter types, but without editor crash. #291

[2018-11-24 02:51] qvdk opened #295 "`Go to StepDef` throw an error when the first feature file opened from a closed project"
[code]
;)

This is due to the `ExtensionRegistryStepProvider` associated with a file. This contructor expects a file `ExtensionRegistryStepProvider(IFile file)`. The argument file is a feature file.
But the reference is kept yet when the project of this feature file is closed.
Then, the next time the user opens a feature,  the step detection starts and the `ExtensionRegistryStepProvider` attempts

[2018-11-24 06:10] laeubi commented on #291
@qvdk do you plan to supply a patch or is help needed in this area? I would like to see this supported because we need it for one of our projects as well.
I think cucumber eclipse should scan for TypeRegistryConfigurer instead, and call the TypeRegistryConfiguration#configureTypeRegistry(TypeRegistry) instead, because we do not know in advance what are the parameters, and the configurer is neede a

[2018-11-24 07:55] laeubi commented on #261
Maybe this is fixed by my changes to support i18n, I have improved the classparsing a lot there (before it uses some kind of string/pattern matching), maybe this was fixed also?

[2018-11-24 07:59] laeubi commented on #295
@qvdk I a project we are using SWT-Bot as a layer between Eclipse RCP and Cucumber so your example could be made to work if needed :-)
Beside this, RCPTT is a nice tool for Eclipse based UI tests, we might setup one for the cucumber eclipse part, or is there already something for UI tests?

[2018-11-24 10:01] qvdk commented on #295
@laeubi You are right. The plugin lackes of automated tests.
There are someones units tests, but integration tests could be great.

[2018-11-24 11:16] qvdk commented on #273
Could you provide a sample to reproduce this issue please ?

The plugin uses the ASTParser with bindings enabled. This function is expensive and I suspect it to be the root cause of this time consuming.

I think the bindings are not used, and I disabled them in the patch bellow. Could you test if this patch provide any improvements ?

https://github.com/qvdk/cucumber-eclipse/tree/fix/f3_is_time_co

[2018-11-26 10:16] WesternGun commented on #241
Thanks for fixing.

[2018-11-26 16:02] pavanswt opened #297 "Cucumber Plugin crashes when I enclose any word with double quotes in feature file. It is reproducible in the group io.cucumber and not in info.cukes group"
Steps to Reproduce
=============

1.  Use the following maven dependency.

https://mvnrepository.com/artifact/io.cucumber/cucumber-junit

2. Create a feature file with a string parameter like below.

Feature: Title of your feature
  I want to use this template for my feature file

  Scenario: Title of your scenario
    Given I want to write a step with the precondition
    When I complete action

[2018-11-26 20:49] qvdk commented on #297
Hi @pavanswt,

Thank you for submitting bug report !
I am please to annonce you this issue was known, and the fix was ever done #285
It will be available in the next release.

If you want the fix before, you can build master or install manually the fix from https://github.com/qvdk/cucumber-eclipse/blob/release/0.0.23/cucumber.eclipse.download/download/0.0.23-SNAPSHOT/cucumber-eclipse-plugin-0.0.23

[2018-11-26 20:49] #297 closed

[2018-11-26 20:58] qvdk commented on #291
@laeubi help needed :+1:

Your are  right. Ideally, the plugin should search after `TypeRegistryConfigurer`.

However, I do not known how to get, compile and execute the previous search results.

[2018-11-26 21:41] pavanswt commented on #297
Hi Quentin,

Thank you for your email.

I am sorry to repeat the issue. I haven't seen that this issue is already
been open.

Anyways thank you Very much for suggesting snapshot version for the quick
work around.

Regards,
Pavan

On Mon, 26 Nov 2018, 8:49 pm Quentin Vandekerckhove <
notifications@github.com wrote:

[2018-11-27 04:39] MountingP opened #298 "Can't install STS and scala plugins through Eclipse Photon"
I'm not able to install STS , it gave me an error.. Therefor I had to install it manually. The error I got as follows.

session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://download.springsource.com/release/TOOLS/update/3.9.6.RELEASE/e4.8/plugins/org.springframework.tooling.cloudfoundry.ma

[2018-11-27 06:33] laeubi commented on #291
Allright, I'll try to provide a fix for that in the next days!

[2018-11-27 19:10] laeubi commented on #291
I'm able to load the typeconfigurer now but there is some kind of refactoring required to support it in the step.
The second problem is, that the plugin uses rather old cucumber version (1.2, emebeded in the plugins) that need to be updated, but the API has changed. One restriction would be, that the typeconfigurer version must be compatible with the version cucumber-eclipse uses, so I think we de

[2018-11-27 21:32] qvdk commented on #291
Hi @laeubi

Nice ! Could you share the branch on your fork ? I could help.

Yes, the library should be updated but this causes many changes. The API changes for cucumber, but also for the gherkin parser.

Note, I had introduce the cucumber-expression-6.1.0 library to support cucumber expressions.

The cucumber expressions was introduce last year in cucumber itself. Then, they did not exist for the

[2018-11-27 21:37] qvdk commented on #298
Hi @MountingP

Sorry for your inconvenience but this project collect only issues about the Cucumber Eclipse plugin.

However, I could suggest you to download the latest ready-to-use STS bundle, then install the scala plug-in directly from the Eclipse Marketplace.

More a new STS version 4.0 is out: https://spring.io/tools

[2018-11-27 21:37] #298 closed

[2018-11-28 10:05] laeubi commented on #291
I need to cleanup everything a bit first since it is very experimental.

The problem with tycho aproach is, that is is really hard do develop/test such projects, because you can't really start them from the IDE as regular bundles but must take a full buildrun.

As a first step, we should add osgi-manifest headers to the cucumber base jars (core, jvm etc..) so they can be used inside OSGi (with the

[2018-11-28 12:14] laeubi commented on #291
Currently libs used across projects:

- cucumber-core-1.2.5
- cucumber-core-1.2.2
- cucumber-java-1.2.2
- cucumber-expresions-6.1.0
- gherkin-2.12.2

[2018-11-28 12:35] MountingP commented on #298
Hi Quentin Vandekerckhove

 Thanks for your reply. And also I do apologize for publishing my issue in
your forum.

On Wed, Nov 28, 2018 at 3:07 AM Quentin Vandekerckhove <
notifications@github.com> wrote:

[2018-11-29 07:16] Santoskumar commented on #232
Hi,
Getting error while installing cucumber plugin
Unable to read repository at https://cucumber.io/cucumber-eclipse/update-site/content.xml.
sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
Kindly suggest what to do.

[2018-11-29 09:40] #204 closed

[2018-11-29 09:41] #295 closed

[2018-11-29 10:23] girijant commented on #276
@qvdk, @jelaby,
Added 'fileExtension_feature' and 'fileExtension_story' tags for cucumebr-eclipse plugin description in Eclipse Marketplace.
![tags_eclipsemarketplace](https://user-images.githubusercontent.com/17194046/49215431-c9e82380-f3ee-11e8-8faa-249263d20023.png)

Thanks,
-Girija

[2018-11-29 10:23] #276 closed

[2018-11-29 10:38] girijant commented on #288
@CandyLuWang,
You may install our plugin via Eclipse from our Eclipse Marketplace : https://marketplace.eclipse.org/content/cucumber-eclipse-plugin

Thanks,
-Girija

[2018-11-29 10:38] #288 closed

[2018-11-29 10:41] girijant commented on #282
Closing this ticket.

[2018-11-29 10:41] #282 closed

[2018-11-29 10:47] girijant commented on #277
Closing this ticket as this is invalid.

[2018-11-29 10:47] #277 closed

[2018-11-29 10:51] girijant commented on #266
Closing this ticekt.

[2018-11-29 10:51] #266 closed

[2018-11-29 10:52] girijant commented on #261
Closing this ticket as per above comment.

[2018-11-29 10:52] #261 closed

[2018-11-29 10:54] girijant commented on #231
Closing this ticket as per above solution.

[2018-11-29 10:54] #231 closed

[2018-11-29 10:56] girijant commented on #224
Closing this ticket.

[2018-11-29 10:56] #224 closed

[2018-11-29 10:57] girijant commented on #270
closing this ticket.

[2018-11-29 10:57] #270 closed

[2018-11-29 10:58] #259 closed

[2018-11-29 10:59] girijant commented on #254
Closing this ticket

[2018-11-29 10:59] #254 closed

[2018-11-29 11:00] girijant commented on #257
Closing this ticket.

[2018-11-29 11:00] #257 closed

[2018-11-29 11:01] girijant commented on #251
Closing this ticket.

[2018-11-29 11:01] #251 closed

[2018-11-29 11:05] girijant commented on #248
Closing this ticket.

[2018-11-29 11:05] #248 closed

[2018-11-29 11:06] girijant commented on #241
Closing this issue as it's fixed.

[2018-11-29 11:06] #241 closed

[2018-11-29 11:07] #206 closed

[2018-11-29 11:11] #151 closed

[2018-11-29 23:06] qvdk commented on #60
Fixed with #255

[2018-11-29 23:06] #60 closed

[2018-11-29 23:17] qvdk commented on #233
I can reproduce the second problem.
The plugin should reload step definitions on save, but the builder `cucumber.eclipse.steps.jdt.StepsBuilder`  is not executed.

I do not know why for the moment. The extension seems to be properly configured.

[2018-11-30 03:12] CandyLuWang commented on #281
@Jalaliel , your solution working for me, it's much faster, thanks a lot!

[2018-11-30 09:07] laeubi commented on #291
@qvdk I'm currently a bit stucked at the StepMatcher class, since it seems to modify steps before checking if they match a line, do you have an idea what this class does? Why not simply call step.matches? Shouldn't all that quirks be handled in the Expression instead of the ui code?

[2018-11-30 09:19] laeubi commented on #291
![grafik](https://user-images.githubusercontent.com/1331477/49279939-197b2d80-f489-11e8-8033-7a3c2d6c36f9.png)
As a first step I refactored the Step class to be final regarding to its members (it should realy not be modified in any way after creation), and added error markers in case that an expression can't be parsed, I think this is much more convenient than simply ignore the error and present t

[2018-11-30 09:40] laeubi commented on #291
Okay, I think I got it, thats really nasty since it modifies the pattern to match much more, I have to think about how we can handle this more nicely. The problem here is, that in fact we must generate a complete new step just for matching. Also the method relies on the fact that it has a regular expression that can be converted, so we might can operate on the regular expresion of the step instead

[2018-11-30 14:30] laeubi commented on #291
Do you have any reference how it works, TypeRegistryConfigurer is part of cucumber-core, thats the problem. The core package is also used to generate missing steps so I thing it would be good to upgrade anyways...

[2018-11-30 16:38] laeubi commented on #291
This becomes more and more a Nightmare... Upgrading the cucumber-libs would require to upgrade the gherkin-parser, that has changed alot. Also the latest gherkin parser uses GO binaries to parse the feature file (eek!) and blows up to 45Mb (from 300kb).
The most noteable feature that is affected here is the "generate step" Quick-Fix, don't know if we can drop this for now...

[2018-11-30 19:02] laeubi commented on #291
I haved pushed https://github.com/cucumber/cucumber-eclipse/tree/issues/291 with the current work, it can now parse expressions with custom types without a problem (you get a red x if parsing failed, e.g. type not configured), jsut the matching does not seem to work (or my Configuration is wrong...)

[2018-12-01 00:31] mpkorstanje commented on #291
You only have to upgrade to Gherkin v5. Not v6.

[2018-12-02 16:48] qvdk commented on #291
@laubi `io.cucumber.cucumberexpressions.ParameterTypeRegistry.ParameterTypeRegistry(Locale)` comes from cucumber-expression jar file. So, the cucumber-core upgrade is not necessary for this feature.

But, the upgrade of the cucumber-jvm should be done, preferably for a new feature, I think. There are effectivelly many works, notably for the gherkin parser totally rewritted. But the current one doe

[2018-12-02 17:03] qvdk commented on #291
@laeubi And the more important, keep it a pleasure ;) It is not a nightmare, just an other challenge :)

[2018-12-02 17:15] mpkorstanje commented on #291
Yes! And if it turns out a better interface is needed to support platforms we can build that!

I am currently working on a JUnit Platform implementation of Cucumber. This supports, running selecting and discovery of features through a standard API.

So suppose you have an instance of the CucumberTestEngine. What would you ask it? List defined stepdefinitions? Given a set of steps, tell you which m

[2018-12-02 17:17] mpkorstanje commented on #291
Not saying we'll build it right now, this instance, but we should have path away from custom code and towards dependencies on stable interfaces.

[2018-12-03 20:02] qvdk opened #301 "Anonymous cucumber expressions are not detected"
cucumber-eclipse: 0.0.23

![screenshot from 2018-12-03 20-48-36](https://user-images.githubusercontent.com/6142398/49397783-dba62f80-f73c-11e8-87d7-bb15758cf2d5.png)

As the previous example, the cucumber expression `I pay {int}` is detected but not `I pay {}`.

The latest [examples from cucumber-jvm](https://github.com/cucumber/cucumber-jvm/blob/master/examples/java-calculator/src/test/java/cucum

[2018-12-04 21:17] qvdk commented on #273
After more investigations, the time consuming comes from too many stepdefinitions scans.
This issue is related to the #233 where the steps are not detected as expected.
For both, there are an issue on cucumber builder which can be not correctly setup when the cucumber nature is configured.

The too much stepdefinitions scans are due to mix of StepDefinition scanner between the JDTStepDefinition fr

[2018-12-06 15:06] jetrop opened #302 "Allow multiple packages in the option "Only match steps from specific package and sub-packages""
Currently the step scan takes about 20 mins, and this happens every time I open a new feature file, so I used the "Only match steps from specific package and sub-packages" to specify the package where the steps are, and the feature files load within a couple of seconds now which is great.

However we have a couple of projects that have feature files and the steps for these are in different package

[2018-12-06 20:42] qvdk commented on #302
Hi, @jetrop

This is already availlable, simple use comma between packages. For examples: `com.package1,com.package2,org.package3`

I am currently working on an optimization for step definitions detection. Can you provide a sample to reproduce the 20 minutes loading ?
Or, could you test a beta version ?

[2018-12-06 21:52] qvdk commented on #302
You are right. Setup a list of package is only available for external jars.

[2018-12-07 06:56] laeubi commented on #302
What I have on my list is so scan for Annotated Test classes. There you can specify the packages to scan for Stepdefs and it would be good if this is used instead of some kind of config.

[2018-12-07 06:59] laeubi commented on #291
But you can't use this directly! Look at the branch what is implemented by clients code is TypeRegistryConfigurer and it even uses a diferent "TypeRegistry" so I have to implement an Adapter...

[2018-12-07 07:40] girijant commented on #302
@qvdk, @laeubi,
As of now this feature like populating of steps from any packages/sub-packages of any ext-project (i.e. as a Ext-JAR/maven-dependencies or from project-class-path)is configurable( by comma sepatrated) via cucumber-settings of Eclipse. After discussing a lot with may intrnal and extenal teams, I prfered to implement it as a configurable via cucumber-settings of Eclipse instead of sp

[2018-12-08 06:09] laeubi commented on #291
@qvdk I updated the branch with latest master

[2018-12-08 10:48] qvdk commented on #291
@mpkorstanje the plugin does not delegate enough for now in my opinion. Idealy the engine should be implemented into cucumber-jvm.

 - list step definitions
 - list gherkin steps and their related step definitions locations
 - generate step definitions source code from a single / severals gherkin steps, or a full gherkin feature file in any jvm languages (java, but also kotlin or groovy)
 - step d

[2018-12-12 21:45] phanikshr opened #303 "Editor fails, if step definitions have constructor with dependency injection like pico-container."
Getting error message "An internal error occurred during: "Scanning for step definitions".
java.lang.NullPointerException"

My stepdef file looks like

public class mynewstepdefs{
        public String str1;
        public int int1;
  public mynewstepdefs(parallelcontext context){

}
}

[2018-12-13 07:19] ponnururajashekar opened #304 "cucumber eclipse showing error"
Cannot complete the install because one or more required items could not be found.
  Software being installed: Cucumber Eclipse Feature 0.0.23.201811220126 (cucumber.eclipse.feature.feature.group 0.0.23.201811220126)
  Missing requirement: Cucumber Editor 0.0.23.201811220126 (cucumber.eclipse.editor 0.0.23.201811220126) requires 'bundle org.eclipse.pde.ui 3.5.0' but it could not be found
  Cannot

[2018-12-13 15:08] girijant commented on #304
@ponnururajashekar,
Latest cucumber-eclipse plugin (0.0.23.201811220126) is successfully installed into Eclipse IDE(Oxygen, 4.7.3a version) from Eclipse-Marketplace (https://marketplace.eclipse.org/content/cucumber-eclipse-plugin) without seeing any error message.
Here is the attached snapshots after successfully installed into Eclipse IDE.
![eclipse_oxygen_4 7 3a](https://user-images.githubuserco

[2018-12-14 14:48] firozautomation commented on #232
Hi Girija,

I am also unable to install this cucumber plugin. Unable to read repository at https://cucumber.io/cucumber-eclipse/update-site/content.xml.
Tried to install cucumber with Eclipse Oxygen and Eclipse Photon and I am unable to proceed ahead.
Kindly request you to provide me the solution.

[2018-12-14 17:11] qvdk commented on #232
@firozautomation @Santoskumar @worgerm
Could you provide more information ?
- version of the JVM used to run eclipse
- eclipse version
- cucumber eclipse plugin version
- OS
- your network configuration
- network proxy used
- is the installation of an other plugin work ?
- can you access the eclipse marketplace from the menu 'Help > Eclipse Marketplace' ?
- can you provide the cacert file from the

[2018-12-17 15:02] laks-martha commented on #281
@qvdk I am using mac system. After applying v0.0.23 update, we are seeing warning messages that steps are not implemented even though they are implemented.  I ran tests and they are also working fine. so these warning messages are misleading. I have to revert this to make it normal.

[2018-12-18 09:16] Silverhornet commented on #281
Running the Step search in the background helps quite a lot, even though it still takes app 2-4 min. to finish.
However, I experience quite often that multible eclipse background jobs are running at the same time, searching for steps (up 8 or 9 simultaneously) this in return makes eclipse unresponsive for up to 8 or 9 min. some times
![trunk - maqgen-lung-dna-ivd-plugin_src_accepttest_java_com_clc

[2018-12-18 11:42] qvdk commented on #281
Hi @Silverhornet

Thanks a lot for your feedback !

I am currently working on this issue. Effectively the step definitions scans is launched too often. There are many reason why I described them in #305

As you reproduce the bugs many times a day, could you test a snapshot version and give me your feedback?

It is a **beta** version but you could help me a lot if you have often this issue to valid

[2018-12-18 12:55] Silverhornet commented on #281
Hi @qvdk
I have uninstalled uninstalled the v0.0.23 plugin and installed the one you shared.
However it seems that the cucumber plugin does not scan for step definitions at all now, nither when i open af feature file, hit F5 or F3 nor when I right click and select "recalculate steps" or "Find step definition".

The plugin seems to be operational (pretty formart and keyword highlighting works and c

[2018-12-18 14:44] Silverhornet commented on #281
@qvdk
my bad, misset that point :)

I have a problem though. When converting the projects to a Cucumber project, it seems to mess up the project file, such that the CheckstyleBuilder is executed before the javabuilder.
![image](https://user-images.githubusercontent.com/10836941/50161202-665d6180-02db-11e9-9a62-7db2bc88d2a4.png)
This causes checkstyle to fail as it must be run after the javabuilder

[2018-12-18 16:25] qvdk commented on #281
Thanks for the report.

The latest snapshot fixes it. Can you retry ?

[2018-12-19 09:06] Silverhornet commented on #281
I'm on it.
will return later today with feed back :)

[2018-12-19 11:16] Silverhornet commented on #281
It Seems to have fixed the project set up proplem and it seems to performe nicely (only slightly interesse to build times in Eclipse) :)

But i do still see som problems.
We have a few projects that fail when i convert them to cucumber projects.
[Eclipse-error-log-convert-configuration.txt](https://github.com/cucumber/cucumber-eclipse/files/2694545/Eclipse-error-log-convert-configuration.txt)

Exc

[2018-12-19 16:57] qvdk commented on #281
The first issue is related to the builder. The Cucumber project conversion seems to work since the builder is launched.
However, this issue seems related to a regular expression from one of your step definition. And probably a known issue on [cucumber-expression#510](https://github.com/cucumber/cucumber/issues/510). Do you have a regular expression using the negative lookahead ? Could you provide

[2018-12-19 23:46] qvdk commented on #281
I updated the v1.0.0-SNAPSHOT.

I fix both errors.
So, the build should now pass.

However for the first error, I fix the crash but you will probably have an unmatched step because one of your step definition have an unsupported regex.

[2018-12-20 15:11] Silverhornet commented on #281
Looked in to the part about 'negative look behind' but did not find any. I did however find an 'atomic group' '(?>...)'

The cucumber seem to be faster, in turn it seem to be building a bit excessively (does not seem to be a pain yet)

However the problem regarding restart does persit. However with a nev error:
[feail-on-restart.txt](https://github.com/cucumber/cucumber-eclipse/files/2699337/feail

[2018-12-20 15:40] jenisys commented on #304
I have the same problem as @ponnururajasheka.
The problem exists at least in Eclipse 2018-12 (new clean-install).
The problem occurs when you install cucumber-eclipse plugin via:

* Update site
* Eclipse-Marketplace

[2018-12-20 20:02] girijant commented on #304
Let me check this issue with Eclipse 2018-12 version.

[2018-12-26 18:55] #233 closed

[2018-12-26 18:55] #273 closed

[2018-12-26 18:55] #301 closed

[2018-12-26 18:55] #302 closed

[2018-12-27 10:43] qvdk commented on #302
Hi @jetrop

Could you try the [latest version 1.0.0-SNAPSHOT](https://github.com/cucumber/cucumber-eclipse/raw/master/cucumber.eclipse.download/download/1.0.0-SNAPSHOT/cucumber-eclipse-plugin-1.0.0-SNAPSHOT.zip) of the plugin with your project which took 20 minutes to scan step definitions and report your feedback please ?

Thank you

[2018-12-27 23:36] jkuester opened #306 "Extra Indentation Added to Descriptions When Formatting With 4 Spaces Indentation Style"
When formatting a feature file with the 4 Spaces Indentation Style enabled, 2 extra spaces get added to the indentation of the feature and scenario descriptions each additional time the file is formatted.

To Reproduce:
- Set your Indentation Style to 4 Spaces in the Eclipse Cucumber preferences
- Open a feature file that has a feature description and/or scenario descriptions
- Auto-format the fil

[2018-12-28 10:33] jetrop commented on #302
Hi @qvdk

There is no step scanning now, however the steps in the feature file are no longer validated. If I change a step to something invalid, it doesn't highlight it anymore.

Also I can no longer click on the step in the feature file to take me to the actual step code. F3 doesn't work either.

I've tried it with and without the Step Definitions filters, and also with the "Glue only gherkins an

[2018-12-28 16:51] qvdk opened #308 "The glue marker has a missing icon replaced by a red square"
The v1.0.0-SNAPSHOT introduce a new marker to indicate a glue was done with a step definition. More, this one indicates the related step definition on mouse over.
This marker should have a cucumber icon but currently have a red square.

The expected result is
![screenshot from 2018-12-28 17-48-34](https://user-images.githubusercontent.com/6142398/50522013-15165480-0ac9-11e9-8837-ec65b4f70a89.png)

[2018-12-28 20:45] jkuester commented on #306
Whoops! I should have ran those before issuing the PR. My bad. Just slipped my mind. I should be able to get a fix up later tonight.

[2018-12-28 23:20] qvdk commented on #168
This bug should be resolved with the replacement of the AST parser by cucumber-jvm itself.
Since the plugin currently parse itself Java sources, it does the same job than cucumber-jvm. But, it should completely delegate this task to cucumber-jvm.

This issue should be addressed in the same time as the upgrade of cucumber-jvm.

[2018-12-28 23:24] #15 closed, assigned to nobody

[2018-12-28 23:28] #8 closed, assigned to nobody

[2018-12-29 04:43] #308 closed

[2018-12-29 13:46] qvdk commented on #202
Since version 1.0.0, the editor does not launch step definitions scan itself. New cucumber builders do the job.
More, the editor is no more a listener if step definitions changed. Eclipse launches a new build if a resource has changed.
In conclusion, the source of this issue does not exist any more. Plus, I can open a feature file from the Git history without any problem.

![screenshot from 2018-1

[2018-12-29 13:46] #202 closed

[2018-12-29 14:15] qvdk opened #313 "Cucumber builders failed because of the search engine"
To find step definitions from the classpath, the builder uses the Eclipse JDT search engine.
Sometimes the search engine throws a `NullPointerException` when searching about java search participants. I think its probably due to the patched version of the JDT from the Groovy Eclipse support, since I have not the issue before.
In all case, if the search engine failed, the cucumber builders should be

[2018-12-29 14:39] qvdk commented on #303
Hi @phanikshr

The Cucumber Eclipse plugin does not use pico-container. Thus, your example can not work.

[2018-12-29 14:39] #303 closed

[2018-12-29 15:11] qvdk commented on #200
The glue detection will work in the next release, and the editor indicates where the step definitions comes from.
But you can not jump to the step definition, if this one is into the classpath.
This could be an improvement.

[2018-12-30 00:37] #313 closed

[2018-12-30 00:57] #306 closed

[2018-12-30 01:33] qvdk commented on #183
Resolved by #305

[2018-12-30 01:33] #183 closed

[2018-12-30 01:48] qvdk commented on #182
Resolved in #305

![screenshot from 2018-12-30 02-46-37](https://user-images.githubusercontent.com/6142398/50543604-454f1780-0bdd-11e9-9a19-fbe1243ca84d.png)

[2018-12-30 01:48] #182 closed

[2019-01-06 09:06] zadigus opened #317 "Javascript instead of java step skeletons"
Hi,
In my Java project, when I run the cucumber tests without step definitions, cucumber generates step definition skeletons. Unfortunately, the generated code is javascript, not java. Do you happen to know what I need to configure to make it work? I am not sure it is due to cucumber-eclipse plugin, though, because I tried the same with Natural and I get the same result.

Here's my configuration:

[2019-01-06 16:13] mpkorstanje commented on #317
Are you using `cucumber-java8` by any chance?

[2019-01-07 13:32] zadigus commented on #317
Yes I do. Do the generated skeletons actually correspond to new allowed syntax with lambdas?

[2019-01-07 13:34] mpkorstanje commented on #317
That is correct.

[2019-01-07 21:35] qvdk opened #318 "Automate deployment of snapshots and releases"
I would like to improve the delivery of the latest snapshot, and the release process. There are several limitations to the current process.

### Nowadays

#### Snapshot deployment is manual
Currently to provide the latest snapshot, committers have to push manually in their pull request the zip archive in the project `cucumber.eclipse.download`.
If forgotten, the snapshot does not contain the lates

[2019-01-08 04:11] pndai opened #319 "After installing version 1.0.0 and executing [Find step definition] service , there is nothing happened."
Step to reproduce:
- Step 1: Install new version cucumber-eclipse-plugin-1.0.0-SNAPSHOT ( I'm using Neon.3 Release (4.6.3)).
- Step 2: Create a new feature file as the picture below:
![screenshot_1](https://user-images.githubusercontent.com/46469814/50809222-ea33c800-1334-11e9-97c9-3b9e81dc6d0e.png)
- Step 3: Create stepDefinition class as the picture below:
![screenshot_2](https://user-images.git

[2019-01-08 09:11] qvdk commented on #319
Hello @pndai,

You should configure your project as Cucumber project.
On each cucumber project, right clic > Configure > Convert to Cucumber Project.

![screenshot from 2019-01-08 10-08-36](https://user-images.githubusercontent.com/6142398/50820688-9b366480-132d-11e9-9f35-920a407d4c80.png)

[2019-01-08 09:20] qvdk opened #320 "Warn user when he opens a feature file from a non cucumber project"
The step definitions detection is enable only when the project have the cucumber nature.

This nature can be added from the contextual menu (accessible with right clic on project) Configure > Convert to Cucumber project.

To help users to know why they do not see step definitions detection, we could add a warning when opening a feature file from a project without the cucumber nature.

An user alre

[2019-01-08 10:15] pndai commented on #319
Thanks a lot for your answer. Now it worked for me.

[2019-01-08 14:40] qvdk commented on #319
I will try your project later.

But for now, I think your project seems to be misconfigured from the screenshot.
Could you try to add the `/src/test/java` as source folder. (Right click on the folder > Build path > Use a source folder), same for `src/main/java`.
And ensure your classes are compiled.

Thanks for your feedback.

[2019-01-08 14:43] qvdk commented on #319
In the v1.0.0, you should obtain a little Cucumber logo when the plugin found a step definition.

![screenshot from 2019-01-08 15-40-17](https://user-images.githubusercontent.com/6142398/50837399-d2bc0580-135b-11e9-8e62-8738897989fd.png)

On mouse hover, a popup will show the step definition location.

[2019-01-08 14:49] qvdk commented on #319
The `Find step definition` (with shortcut <kbd>F3</kbd>) is the same functionnality than <kbd>CTRL</kbd>+<kbd>clic</kbd>

It is not a refresh. Maybe we could rename it `Go to step definition`, and it should be enabled only when a step definition is found.

You have 2 ways to force a new step definitions scan:
 * clean and rebuild your project
 * <kbd>F5</kbd> `Recalculate steps`, maybe this one sh

[2019-01-09 03:53] pndai commented on #319
Hi @qvdk
After updating /src/test/java & src/main/java as source folder, the warning 's still appear.
Then, I tried to clean the project and it displays an alert with content: **"Errors occurred during the build.
Errors running builder 'Cucumber step definitions builder' on project 'Test'. java.lang.NullPointerException"** in every version of cucumber-eclipse.
![screenshot_1](https://user-images.g

[2019-01-09 09:07] qvdk opened #322 "Snapshot deployment failed because a misconfiguration of gh-pages urls"
All is in the title.

The github repository for gh-pages are misconfigured.

[2019-01-09 10:50] #322 closed

[2019-01-09 11:22] qvdk opened #324 "Update the wiki and the website with the new delivery process"
Since the PR #321 the documentation need to be updated.

[2019-01-09 22:07] qvdk opened #325 "The builder is launched too often"
version 1.0.0-SNAPSHOT

Eclipse launches builders are launched when something change in the workspace.

The cucumber eclipse plugin introduces 2 builders : one for step definitions scan, and a second to parse gherkin files and glue cucumber expression with theirs step definitions.

Eclipse does not know which builders have something to do. So all builders are notified (java builder, cucumber build

[2019-01-10 03:12] pndai commented on #319
Hi @qvdk,
I tried to build a new project with the same original structure. And it's worked.
You can see my new project on [Cucumber](https://drive.google.com/drive/folders/1v1h-oFcAGnTP7hVVAy9t-zTayrGTPX5U)
**AND** old project on [Cucumbers](https://drive.google.com/drive/folders/1v1h-oFcAGnTP7hVVAy9t-zTayrGTPX5U)
Pleases helps me to figure out!

[2019-01-11 02:38] pndai commented on #319
Thank you for all your help!

[2019-01-12 00:01] qvdk commented on #324
Updates
 * https://github.com/cucumber/cucumber-eclipse/wiki/Doing-a-release

Adds
 * https://github.com/cucumber/cucumber-eclipse/wiki/Automated-builds-and-deployments